[2015-10-30 15:07] utrack opened #5 "Middleware function gets recreated every function call"
Steps to reproduce:

Use this middleware func:
[code]

"mw recreated!" should be echoed once on router.Use() call, but it echoes every time a request is handled.

[2015-10-30 15:13] pkieltyka commented on #5
@utrack thanks for the report. I noticed the same thing the other day. I'll be pushing a fix shortly.

[2015-11-02 12:47] GeertJohan commented on #5
On a related note, can we type `func(next chi.Handler) chi.Handler` ?

I use `New..` methods for some middleware to add stuff to them, which results in:
[code]

If would be nice if we could let `NewSomethingCtx` return a `chi.Middleware`

[2015-11-02 12:47] GeertJohan opened #11 "Type chi.Middleware"
Can we type `func(next chi.Handler) chi.Handler` ?

I use `New..` methods for some middleware to add stuff to them, which results in:
[code]

If would be nice if we could let `NewSomethingCtx` return a `chi.Middleware`.

[2015-11-02 12:50] GeertJohan commented on #11
I'd be happy to provide a PR.

[2015-11-02 12:56] utrack commented on #11
:+1:

[2015-11-02 14:12] pkieltyka commented on #11
Hey @GeertJohan - a shorthand would be nice, but it would only save a bit of typing.. as so..

[code]

Im not convinced thats much better. Do you see another way? if so, it would be great to see a quick PR for the discussion.

[2015-11-02 15:29] GeertJohan commented on #11
I liked it for documentation and readability. However, when trying to implement a quick example I found that it gets messy real quick. Existing `func(next chi.Handler) chi.Handler` must still need be supported and since `router.Use(..)` accepts `interface{}` there can't be any type conversion going on during the call, which means that internally both types must be handled. It's probably not worth

[2015-11-02 15:32] GeertJohan commented on #11
Didn't mean to close, although this probably can be closed..?

[2015-11-02 15:44] pkieltyka commented on #11
I'd like to keep the middleware signature as close to the standard http.Handler middlewares. I'm going to close this ticket, but if you find an elegant approach please submit a PR. Thanks for the feedback!

[2015-11-02 15:44] #11 closed

[2015-11-05 20:56] pkieltyka commented on #5
closed in fffe601cb0dece53671b9332886a6a0028d2dae4

[2015-11-05 20:56] #5 closed

[2015-11-06 18:38] utrack commented on #5
Thank you! :+1:

[2015-11-09 08:32] utrack opened #15 "Websockets"
Hi! Not sure what's going on, but it seems that gorilla websockets (and native ones by the looks of it) aren't compatible with writers supplied by Chi.

[code]
`Hijack` method here returns `http: Hijack is incompatible with use of CloseNotifier` error (https://golang.org/src/net/http/server.go#L154)

[2015-11-09 08:42] utrack commented on #15
Nevermind, forgot I was using CloseNotify middleware somewhere else.

[2015-11-09 08:42] #15 closed

[2015-11-11 22:01] alinz opened #18 "graceful shutdown?"
@pkieltyka, How would you implement graceful feature for shutdown? Do we need it? If not, how would you implement this feature along side with chi?

[2015-11-11 23:42] pkieltyka commented on #18
@alinz well, chi's router implements http.Handler, so you can use a third party graceful shutdown package like https://github.com/tylerb/graceful or like we do in the Pressly API using goji's graceful package with chi: https://github.com/zenazn/goji/tree/master/graceful

once nice thing to trigger a ctx.Done via the cancelFunc from a context when a shutdown is called. I have a trick in imgry where

[2015-11-12 00:46] alinz commented on #18
Awesome! thanks!

[2015-11-12 00:53] pkieltyka commented on #18
no prob. let's keep it open for a bit in case others have the same question.

[2015-11-19 15:44] #18 closed

[2015-12-07 16:54] c2h5oh opened #23 "Mux tests should test HTTP response code in addition to response body"
Update the `testRequest` helper or get rid of it altogether (I like this more - we might want to test for specific headers for example)

[2015-12-07 17:02] pkieltyka commented on #23
test request can return resp headers.. or, make another method similar that also returns header.

[2015-12-08 20:02] xiam opened #25 "Add support for backlog in throttler middleware"

[2015-12-10 23:10] #25 closed

[2015-12-13 16:43] #23 closed

[2015-12-20 07:04] hmgle opened #27 "JSON response"
Now it is not very comfortable to send a JSON response:

[code]

What about add the `JSON(code int, obj interface{})` method like [gin](https://github.com/gin-gonic/gin/blob/master/context.go#L354) or [echo](https://github.com/labstack/echo/blob/master/context.go#L152)?

[2015-12-21 14:26] pkieltyka commented on #27
hi @hmgle I'd prefer to keep chi as just a router. If you need a responder, I suggest to use https://github.com/unrolled/render which works just fine with chi.

your code will look like:

[code]

another suggestion, is wrap the unrolled/render package by making your own "render" package that is a part of your project, and set defaults there so its setup to use across packages.

[2015-12-21 14:29] pkieltyka commented on #27
The goals of chi are to stay minimal, allow full control without limitation of possibility or productivity. I guess the gap right now is that chi doesn't provide every library out of the box, you're expected to make your own choices for something like the responder. I will update the example to show how to wrap your own render responder.

[2015-12-21 16:37] pkieltyka commented on #27
@hmgle here you go https://github.com/pressly/chi/blob/master/_examples/rest/main.go
and
https://github.com/pressly/chi/blob/master/_examples/rest/render/render.go

[2015-12-21 16:39] xiam opened #28 "Getting more done in GitHub with ZenHub"
Hola! @xiam has created a [ZenHub](http://www.zenhub.io) account for the **pressly** organization. ZenHub is the leading team collaboration and project management solution built for GitHub.

----

#### How do I use ZenHub?

To get set up with ZenHub, all you have to do is **[download the browser extension](https://www.zenhub.io?utm_source=ZHOnboarding)** and log in with your GitHub account. Once y

[2015-12-21 16:39] #28 closed

[2015-12-22 01:09] hmgle commented on #27
Got it~ It looks elegant.

[2015-12-22 01:09] #27 closed

[2016-01-06 22:01] pkieltyka opened #29 "Custom not found handler"
Related to #9

[2016-01-26 02:11] VojtechVitek opened #31 "Subrouter hides parent routes"
[code]

1) `$ curl -v localhost:3333/foo`

        < HTTP/1.1 404 Not Found
        Not Found

    The route **wasn't matched** -- seems like the subrouter hid it.

2) `$ curl -v localhost:3333/foo/`

        < HTTP/1.1 404 Not Found
        404 page not found

    Again.. but with **different body** -- different NotFound handler?

3) `$ curl -v localhost:3333/foo/bar`

        < HTTP/1.1 200 OK

[2016-01-26 02:20] pkieltyka commented on #31
What should it do?

Cuz the r.Mount() route is the same as the get request, and overwrites it. You should define the / route in the subrouter if it's using the same name, since that is its domain

[2016-01-26 02:29] VojtechVitek commented on #31
Since I'm not overwriting the parent /foo path in the subrouter, I'd expect it to be matched and served anyways. Consider applying different middlewares for anonymous and auth'd routes from the parent router:

[code]

It would be nice to be able to "merge" those subroutes into a single matching route.

[2016-01-26 16:42] VojtechVitek commented on #31
Another example:

1. THIS WORKS (subrouter first, .Get() merges into the routes):

[code]

2) THIS DOESN'T WORK (subrouter second, it overrides the .Get() path w/o merge):

[code]

[2016-02-26 18:20] pkieltyka commented on #29
Solved in b9ba24fa6c5ac5b949cc7beaea5f80e4c5c5d3a0

[2016-02-26 18:20] #29 closed

[2016-03-21 15:22] #31 closed

[2016-03-31 07:14] netsharec opened #35 "[Feature Request]Static File serving"
When I'm using `chi` for a project with [swagger-ui](https://github.com/swagger-api/swagger-ui), I feel it is not so convenient for serving static files. What about adding the static file serving feature like this:

[code]

[2016-03-31 12:46] pkieltyka commented on #35
Hey @netsharec - yea, I can see how a shorthand would be nice, I'll see about adding it soon. But you can just as easily do..

[code]

[2016-03-31 12:51] pkieltyka commented on #35
@netsharec I see what you mean. I'll add this function later today.

[2016-03-31 14:14] fiorix commented on #35
Please allow it to take an http.FileSystem instead of directory so we can serve static file from memory. I often do that along with go-bindata.

[2016-03-31 14:15] pkieltyka commented on #35
@fiorix good call

[2016-04-01 14:17] pkieltyka commented on #35
Merged in #36 - see new `mux.FileServer(path string, root http.FileSystem)` method.. example usage: https://github.com/pressly/chi/blob/master/mux_test.go#L734-L743

[2016-04-01 14:17] #35 closed

[2016-05-11 13:59] hmgle opened #39 "Add support for fasthttp"
`fasthttp` provides some considerable performance improvements.

I had forked [chi](https://github.com/hmgle/chi/tree/fasthttp) and make it work for `fasthttp`. The result of the [benchmark](https://github.com/hmgle/web-framework-benchmark/blob/master/results.txt#L77) on my host show that `chi/fasthttp` is very close to `echo/fasthttp` and [iris](https://github.com/kataras/iris):

- chi/fasthttp

[2016-05-11 14:47] VojtechVitek commented on #39
@hmgle thanks for the investigation and really interesting benchmarks!

I think having fork for fasthttp would be the best option here right now, though.

We're really excited about Go 1.7's built-in context, which will allow us to simplify chi, remove `interface{}` args and use the standard http.Handler signatures:
[code]
Please, check out https://github.com/pressly/chi/tree/v2 branch.

---

If w

[2016-05-12 11:52] hmgle commented on #39
@VojtechVitek I agree.
Fasthttp had the advantage of a good performance, but at the same time it is incompatible with `net/http`. It would not benefit from `net/http` standardization.

[2016-05-12 11:52] #39 closed

[2016-05-21 08:02] mgenware opened #41 "How to handle "/" with trailing slashes in a mounted router?"
Thanks for this great framework, currently I'm moving a project to chi, I want to handle all these URLs: `/blog`, `/blog/`, `/blog/list`.
I can do this in a plain router like this:
[code]

but if I mount a nested router for `/blog`, how can I handle `/blog/`?
[code]

[2016-05-21 08:10] mgenware commented on #41
Just solved this after a few minutes. this works fine now:
[code]

[2016-05-21 08:10] #41 closed

[2016-05-21 09:10] pkieltyka commented on #41
I also think you can r.Mount("/blog", blogRouter) and r.Get("/blog/", ...) where ... Can be a redirect to drop the trailing slash (which is best option IMO) or set it to the list handler

Let me know if that works

[2016-05-21 14:58] mgenware commented on #41
@pkieltyka Yes, it works.

[2016-05-21 15:34] mgenware opened #42 "runtime error: invalid memory address or nil pointer dereference"
I accidentally mounted an empty router, I didn't realise it, and it was hard to find out the problem due to the weird error message.

Code to reproduce this issue
[code]

`127.0.0.1:3000/abc`: 404 page.
`127.0.0.1:3000/api`: panics.
`127.0.0.1:3000/api/abc`: panics.

Full error log:
[code]

[2016-05-21 16:45] pkieltyka commented on #42
Good tip, I'll see about adding a nicer panic message, cuz it will still have to panic without an err check

[2016-05-28 03:21] nhooyr opened #43 "chi's future"
Instead of an additional parameter of type context.Context with a new handler type, an alternative approach was favoured in the standard library.
See: https://github.com/golang/go/commit/c1c7547f6ad7264c1d6eea3fc1645b2eab104694

[2016-05-28 14:18] pkieltyka commented on #43
It's already done in v2 branch :) this was my entire all along and even messaging Go core team nudging them to add context to stdlib! It all worked out

[2016-06-01 15:43] mrcpvn opened #44 "404 not found when expecting 405 method not allowed"
A request sent to an existing resource without an handler for that method should return http 405.
If I understand correctly this should be the behaviour in

    // Check if method is supported by chi
	method, ok := methodMap[r.Method]
	if !ok {
		methodNotAllowedHandler(ctx, w, r)
		return
	}

but I am getting always an http 404 error.
methodMap is initialized at startup and a method will be alway

[2016-06-02 03:49] lwc commented on #43
Love chi, it's fast becoming my default router choice for golang. The 1.7 compatibility branch is beginning to look like the perfect router for go.

If we're talking about a version 2.0 with breaking changes to the API, could I please ask you to consider introducing the notion of names for the routes? Named routes are handy for reverse lookups in templates etc, and also in monitoring tools such as

[2016-06-02 12:27] pkieltyka commented on #43
Thanks Luke :) Can you give me an example of some pseudo code for the named routes?
It's like chi can already do it with either Handle, Route, or Mount, but maybe there's a case I'm missing.

[2016-06-02 13:47] lwc commented on #43
Sure thing, this is what I had in mind:

[code]

Gives a nice DRY way to generate urls to routes.

[2016-06-02 16:46] pkieltyka commented on #43
ah, railzzz, ..... *shoot myself in the face* :) my suggestion if you want this is to write your own helpers. Chi's philosophy is to stay minimal and build-your-own-adventure, besides a robust way to nest routes and manage context.

however, this is also why I've kept chi.Router to be an interface.

You can most certainly enhance the interface, or implement this ability yourself.

[code]
you'll ha

[2016-06-02 17:34] pkieltyka commented on #44
@mrcpvn yea, with 404, it lets you mount the NotFound() handler and response to the user. I'm open to just returning a 405, but then theres no control to the app developer here. I'll think about this some more for chi v2

[2016-06-02 17:51] c2h5oh commented on #43
It's not as easy as it looks - how would the named routes work in this example?

[code]

[2016-06-02 17:54] pkieltyka commented on #43
either way, named routes are not the concern of core chi, but would need to be a router enhancer that is outside of the core lib.

[2016-06-02 17:55] pkieltyka commented on #43
@c2h5oh the middleware approach could work as well, but it would have to register the path's when the middleware is mounted, and the handler itself would just `next.ServeHTTP(w,r)` and nothing more.

[2016-06-03 00:32] lwc commented on #43
Haha, I certainly wasn't channeling rails! Also yeah that example was contrived to illustrate my requirement, not adhere to REST best practices 😉

It's a fairly common DRY practice to repurpose your routes & router for url generation, but I can appreciate you keeping it out of scope. Decorating the router is a viable solution.

[2016-06-03 19:09] pkieltyka opened #45 "Track routing pattern for each request"
..useful for instrumentation middleware

[2016-06-08 14:14] #44 closed

[2016-06-08 14:25] pkieltyka commented on #44
@mrcpvn how come you've closed it...? have you solved this in a different way?

[2016-06-08 14:29] mrcpvn commented on #44
I closed the issue because the same feature can be created with a middleware.
From my point of view this is not a bug if the methodNotAllowedHandler is used to handle an http method that is not expected from the chi.Router.

[2016-06-08 14:32] pkieltyka commented on #44
makes sense, thanks for the followup!

[2016-06-09 20:42] pkieltyka commented on #43
btw, what do you guys think about https://github.com/pressly/chi/commit/3c613e2cdf70c0dbd4350eb7accf91dd3175b092 ? for chi v2, I believe the names Group() and Stack() reflect better the intention of the methods. That is, to group routes by a routing pattern and to stack one router ontop of another without a pattern.

[2016-06-15 22:57] VojtechVitek commented on #43
Let's discuss in #48.

[2016-06-16 14:17] pkieltyka opened #49 "v2 Roadmap"
Below are remaining things I'd like to complete for v2 release:
- [x] Finalize chi.Router interface
- [x] Syntax: chi.URLParam(r, "id")
- [x] Example of Handler unit tests in v2
- [x] Include RoutePattern on the request context, which is the pattern string that matches a request, helpful for instrumentation middlewares (#45)
- [x] Example with handlers on a struct
- [x] Finalize render.Presenter (

[2016-06-16 14:18] pkieltyka commented on #43
Closing to move discussion to #48 and #49

[2016-06-16 14:18] #43 closed

[2016-06-16 14:33] nhooyr opened #50 "use a color library for middleware"
https://github.com/nhooyr/color

It fully supports terminfo, but not windows.

[2016-06-16 14:35] pkieltyka commented on #50
@nhooyr thanks for the note, but, whats the use case? I'd also like to avoid any external dependencies for any of chi's packages/subpackages

the middleware.Logger already has some nice colors.

[2016-06-16 14:36] nhooyr commented on #50
@pkieltyka well it fully supports terminfo so older terminals will work. You won't need to hardcode all of the color escapes.

[2016-06-16 14:37] pkieltyka commented on #50
right on, it looks like a very nice library, but I dont want to introduce external libraries to the core. perhaps, we could make a separate middleware logger outside of chi that uses plain-jane "context" for go1.7, using your lib, and it will _just work_ in chi

[2016-06-16 14:38] pkieltyka commented on #50
or if you want to submit an to https://github.com/pressly/chi/blob/master/middleware/terminal.go to improve support, that would be awesome too

[2016-06-17 19:01] #50 closed

[2016-06-18 07:00] lofcek opened #51 "Using Mux.pool"
Hello, I'm using your http router chi. I like it some much, but there are several thing that I don't understand at all. Could you explain me that?

1. Mux.pool is a pool of chi.Context. If I understood well, only reason why, is you are trying to have less allocation. But If this is true, why you don't have just one global pool for every Mux? It should not be more interesting share bigger structure

[2016-06-18 07:14] lofcek opened #52 "SkipTrailingSlash"
In project, that I'm writing for some handlers I need to remove trailing slash (REST server, where I cannot influence form of requests). I spent a few hours yesterday, but I have not find any good looking solution.

Problem, that when I handle something inside r.Group or r.Mount, inside this handler next handle to root does not work.
Example: In your example account code I don't want be able to ha

[2016-06-18 14:45] pkieltyka commented on #52
hey @lofcek, it's a good point and the trailing slash has been a bit of a pain. I added a test case https://github.com/pressly/chi/commit/53adbc4e11d956b350ba39aed51801f2dd42a17d that can show you how to do it now. The reason this works is because routes are layered on top of each other, that build the routing tree.

I do agree I should build something standard into the mux. However, there are usu

[2016-06-18 15:20] pkieltyka commented on #51
@lofcek thanks for the questions. There's been a lot of thought put into the design, but I am still not completely settled on the zero-alloc router implementation but I will certainly have it nailed down in the v2 branch once I figure it out.

1. The Mux.pool is a pool for chi.Context's like you said, the chi.Context is the routing context where we store params and other routing-related details on

[2016-06-18 15:48] pkieltyka commented on #52
btw.. this works..

[code]

I'll be packaging this into middleware pkg soon enuf once I write the RedirectSlashes middleware, but I gotta head out for now

[2016-06-20 09:10] lofcek commented on #52
That is nearly what I had, with few notes.

- Correct name should be StripTrailingSlash, because is it strips only one slash and only at the of the path.
- You should not simply use rctx.RoutePath = path[:len(path)-1]. That work correctly on root path, but not if RouteContext was already used (in subrouter after Mount).
- in if statement you forgot ctx = rctx
- I'm not sure, but is it correct if p

[2016-06-20 09:38] lofcek commented on #51
1. Ok
2. I agree, that Group is bit confusing name, but I think the best from those you mentioned. Can we somehow ask other project participants? My personal favorites will be Group, InlineRoute, MiddlewareGroup, maybe Attach. Inline/UseInline is confusing.

 I also saw identifier inline as a flag inside Mux. This is the worst case give the same thing two different names.

3. Why don't use defer?

[2016-06-20 11:30] lofcek commented on #52
And I also didn't realize it immediately- I think change data inside Context during execution is a bit confusing. I think it should be better to create a new chi.Context, don't change previous one.

[2016-06-20 12:44] pkieltyka commented on #52
Thanks for the thoughts but I don't fully agree. You're right about the root path, I'll make a check but if you have other opinions, please submit a PR or a breaking test case. Ie. rctx is a pointer and doesn't need to set to ctx again, since it already on the context chain, and we don't need a new chi.Context

[2016-06-20 19:50] pkieltyka commented on #51
2. I'll ask the other guys too, good idea. I have been thinking and leaning towards the method `Inline()`, but lets see where the consensus lands

3. Defer has a cost, and the current code works, so I'd rather not change it. In v2, this becomes different which is my primary focus aside from bugs in v1

[2016-06-20 20:35] pkieltyka commented on #52
thanks for the feedback. I've added support with https://github.com/pressly/chi/commit/b74aedb047b9ee86e7f0c0154101b65fe255fd9a

[2016-06-20 20:35] #52 closed

[2016-06-21 02:19] aboukirev commented on #51
A better term for what you call Group is Junction, albeit it's a longer name. If you are into biological taxonomy, you could use Clade.

[2016-06-21 21:06] lofcek commented on #51
If you decide not to use defer, than please close the issue and open new one with better name for Group. I also have a new favorite - GroupHandlers.

[2016-06-22 20:16] #51 closed

[2016-06-22 21:59] #42 closed

[2016-06-23 09:39] november-eleven commented on #49
Hello,

First of all, **thank you** for this amazing router: it's the most elegant and minimalist solution I've found for the moment.

I have a question however for the v2 release of chi, would it be possible to link a `LogHandler` (or `LogHook`) interface with the `Logger` middleware ?
Why I'm asking this ? Because nowadays if you prefer to use **logrus** with **chi** _(for example)_, you have to

[2016-06-23 13:19] pkieltyka commented on #49
@november-eleven thanks man, that was the goal :)

ahh yes.. the logger interface, I agree this would be a good addition and if you want to take a stab at a prototype+PR, go for it. The simpler the better. I'll add it to the v2 roadmap as well.

[2016-06-23 18:10] pkieltyka opened #55 "middleware.Logger to be configured with different logging backends"

[2016-07-04 13:29] codebien opened #57 "Tag releases"
http://dave.cheney.net/2016/06/24/gophers-please-tag-your-releases

Thanks.

[2016-07-04 13:30] #57 closed

[2016-07-04 19:22] pkieltyka opened #58 "Graceful shutdown"
I'd like to explore ideas in how to gracefully shutdown a running http server. Now that go 1.7 supports context, we can use the request context to signal to all running requests the intent to shutdown the server and finish up their work because we're going to be exiting the program.

Initially the thought was to have a single parent server context where each routing context was derived, and if the

[2016-07-04 19:24] pkieltyka commented on #58
it's also likely someone will solve this outside of chi using Go 1.7's request context and it will "just work" with chi

[2016-07-04 20:08] VojtechVitek commented on #58
We should discuss the Graceful Shutdown workflow:

On SIGINT/SIGTERM (or any other registered signal):

1a. Close listening socket and refuse any incoming connections.
1b. or .. Start responding with HTTP 503.
2. Disable keep-alive connections (how about http2?).
3. Start `time.After(softTimeout)` to let active requests finish.
4. When `softTimeout` expires, close the root context. Start `time.Aft

[2016-07-22 15:34] pkieltyka commented on #45
Done in v2 branch

[2016-07-22 15:34] #45 closed

[2016-07-22 15:35] pkieltyka opened #61 "Warn when connected subrouters use the same parameter names"

[2016-07-22 19:10] #55 closed

[2016-07-27 07:40] lwc commented on #45
🎉 this pretty much satisfies my requirement here: https://github.com/pressly/chi/issues/43#issuecomment-223188687 🎉 👍

[2016-07-27 12:20] pkieltyka commented on #45
Awesome!! Let me know how you use the tracking patterns to achieve what you're planning

[2016-07-27 15:56] c2h5oh opened #62 "[v2] Panic when making a request to a subrouter without a root sub-route defined"
[code]

Request to `/path` will return 404
Request to `/path/` will cause a panic

[2016-07-27 16:13] pkieltyka commented on #62
its solved in latest v2

[2016-07-27 16:13] #62 closed

[2016-08-04 14:58] pkieltyka opened #65 "Panic when middleware stack is set, and r.Use() is called"
Prevents misuse as in, https://github.com/pressly/chi/pull/64/files

[2016-08-04 15:00] pkieltyka opened #66 "Panic when r.Mount("/", h) is used, then routing on "/" again"

[2016-08-04 15:47] VojtechVitek commented on #65
test case:
https://github.com/pressly/chi/pull/64/commits/baa2aaa23447b035875e066e7e7bdcdc9838e183

[2016-08-04 20:15] pkieltyka commented on #66
done in ffaa9a31d8e31fff720276885048d779ff0ccfaf

[2016-08-04 20:15] #66 closed

[2016-08-04 20:15] pkieltyka commented on #65
done in ffaa9a31d8e31fff720276885048d779ff0ccfaf

[2016-08-04 20:15] #65 closed

[2016-08-05 10:21] mrcpvn opened #67 "Mux ServeHTTP doesn't supports context of generic implementation"
Hello, if the input request of ServeHTTP contains an existing context (but not a chi.Context), the context is discarded and a new chi.Context taken from the pool is set in the request. The data of the previous context is lost.

[2016-08-05 21:10] pkieltyka commented on #67
See https://github.com/pressly/chi/pull/69

[2016-08-05 21:14] #67 closed

[2016-08-12 03:56] chenjie4255 opened #71 "can chi run with golang 1.6?"
golang 1.7 is still unstable for now....

[2016-08-12 13:21] pkieltyka commented on #71
hey @chenjie4255 - yea, we support go 1.6 with chi branch v1 at https://github.com/pressly/chi/tree/v1

but I highly recommend you upgrade to go 1.7 since the final will be released next week.

[2016-08-12 13:21] #71 closed

[2016-08-15 15:49] kanocz commented on #58
"1a" variant is much better (allows to use SO_REUSEPORT and start second instance)
P.S.: it's possible just to use https://github.com/tylerb/graceful (or get some inspiration there)

[2016-08-16 13:22] buro9 opened #73 "Support a mounted router that does not inherit middleware from the parent."
I have a chi server configured roughly:

[code]

It is going to serve a fairly large website and the standard handlers are web pages, and the mounted /static path are all of the static assets needed for the page, i.e. JS, CSS, images, etc.

I would like to add my own custom middleware to each web page that I serve, at the top level, and this will do things like look at whether a session cookie exi

[2016-08-16 13:44] pkieltyka commented on #73
hey @buro9 - this can definitely be done, its just a matter of the approach. There isn't a way to opt out of a parent middleware stack, but that isn't quite necessary either.

I suggest something like..

[code]

[2016-08-16 13:51] pkieltyka commented on #73
or..

[code]

[2016-08-16 14:02] buro9 commented on #73
Thanks for that, I'll go with the first r.Group method as it reads nicer.

Actually going to take it further and put no middleware at the top level and then define groups for all routes.

i.e.

[code]

[2016-08-16 14:02] #73 closed

[2016-08-16 14:04] pkieltyka commented on #73
:)

[2016-08-21 14:44] gpopovic opened #76 "How to get params without route context?"
Is it possible to get param from the handler without route context?

When i'm testing handler, i need to be able to retrieve params with chi.URLParam(), but when i try to do it outside router, i'm getting panic

[2016-08-21 14:48] pkieltyka commented on #76
@gpopovic can you show me the test code for that handler?

it's possible to go about it a few ways, but if you're testing just a single handler that is trying to fetch URLParams from a request, then you need to make sure the URLParams object is available on the request chain. Have a look at https://github.com/pressly/chi/blob/master/mux_test.go#L810-L829

[2016-08-21 14:59] gpopovic commented on #76
@pkieltyka exactly what i needed. Thanks

[2016-08-21 14:59] #76 closed

[2016-08-21 15:37] gpopovic opened #77 "Ability to join routers."
It could be useful to be able to join multiple routers (but not forcing the second router to have a specific path).

My handlers is split into multiple packages and each package has NewRouter() function returning chi.Router.

The idea is for my main application, to import packages and then do

mainRouter.Join(package1.NewRouter())
mainRouter.Join(package2.NewRouter())

I'm currently doing it this

[2016-08-21 15:51] pkieltyka commented on #77
@gpopovic hey there, hmmm.. did you read the README or look at the examples? A huge design goal of chi is to join routers together, via `r.Mount` .. of course it can do this.

Please keep the issues about bugs and not Q&A. I will be working on some better docs with examples, but its all there if you look closely and learn how to use the framework.

[2016-08-21 15:51] #77 closed

[2016-08-21 15:53] gpopovic commented on #77
@pkieltyka

[2016-08-23 16:56] CaptainCodeman opened #78 "Route params mixup"
First of all, love the project & the philosophy behind it - it's the perfect approach for Go 1.7+ IMO :thumbsup:

But I'm having an issue with some supporting some legacy route formats. Requests map to the correct handlers but the parameters don't match up correctly. Here's a simplified example replacing the routes in `TestTree` to show the issue I'm having:

[code]

That results in:

[code]

Note

[2016-08-23 17:13] pkieltyka commented on #78
@CaptainCodeman thanks man! this is definitely a bug and I know why it's happening. Thanks for the report, I'll fix it soon.

[2016-08-23 17:15] CaptainCodeman commented on #78
Brilliant, thanks !

[2016-08-25 04:28] pkieltyka commented on #78
hey @CaptainCodeman - I was looking to solve this problem when I realized its logically difficult. Did you say other routers can support this?

The reason I ask is, I can make the particular case you're describing work..

[code]

but, imagine the routes now look like

[code]

.. for a request to /items/2016/09 would we expect to reach the yearMonthHandler or the xyHandler? the answer is, the `/ite

[2016-08-25 04:45] CaptainCodeman commented on #78
Yeah, I totally get how things can quickly drift into being ambiguous and unclear. The httprouter and many of it's variants don't handle the suffix differences but Echo especially does a great job of getting the matching right (so can support routes that Gin, for instance, can't). I think if the routes are truly ambiguous as your yearMonth/xy example then all bets are off (without some additional

[2016-08-25 14:29] pkieltyka commented on #78
can you show me some sample code of your main use case like you mentioned with the suffix..? I don't fully understand that part yet.

also, any chance you can show me a gist of how echo works for these cases too..? I'm just on the road for the rest of the week but I'd like to come to the best possible solution

[2016-08-25 14:35] jhngrant commented on #78
I appreciate there may be strong opposition to this, but +1 for regular expression matching. I'm finding this essential when migrating legacy code.

[2016-08-25 14:44] pkieltyka commented on #78
@jhngrant yea, I don't see that getting implemented soon by me, I'm quite busy with work on our actual platform, but hopefully someone submits a PR for that one day. I have some stubbed in code for regexp matching in the tree already

[2016-08-25 14:59] jhngrant commented on #78
Good to hear that Chi does not rule out regexp - I wasn't aware. I'll endeavor to make a contribution.

[2016-08-25 15:04] pkieltyka commented on #78
@jhngrant :) https://github.com/pressly/chi/blob/master/tree.go#L47 and https://github.com/pressly/chi/blob/master/tree.go#L326-L327

for url param syntax, I was thinking either `/:id([0-9]+)` or `#id^[0-9]+$` or `/#id([0-9]+)` .. I think the first or last one is best. example would be ... `/users/#id([0-9]+)` and `/users/#username([a-z]+)`

[2016-08-25 15:05] pkieltyka commented on #78
if you get any success tho, perhaps open a new issue where we can discuss it

[2016-08-25 15:43] CaptainCodeman commented on #78
@pkieltyka Sure, here's an example. I have some images that are stored in either AWS or GCS. The files in AWS are in a year / month structure and the ones in GCS are just based solely on the id. The routes using Echo (`e` being the echo router) would be:

[code]

Both handlers are correctly called for the different URLs but the `gcsThumbnailHandler` currently gets a `year` parameter instead of the

[2016-08-25 16:45] pkieltyka commented on #78
well, for you to just get by, I recommend just keep the same name for the url param and keep going. like `/:year_id/:month/:id/thumb.jpg` and /:year_id/thumb.jpg`.

no need for test case, I have it already, Im just trying to still figure out if its worth supporting the edge case. I'll try out echo to see how they'd work with the /:x/:y case we talked about above

[2016-08-25 16:50] CaptainCodeman commented on #78
yeah, that's what I'm doing ... just figured it may save someone the same initial confusion when just one route param didn't seem to work (esp. as it could be adding another route, someplace else that breaks it).

[2016-08-25 16:53] pkieltyka commented on #78
Awesome

[2016-08-30 04:01] didip opened #79 "http.Handler vs http.HandlerFunc"
I couldn't grep it in the source code,

Is there a way to handle `http.Handler` using `chi.NewRouter().Get(...)` or `Post(...)`?

Should there be a `GetFunc(pattern string, h http.HandlerFunc)` and `Get(pattern string, h http.Handler)`?

If I have to choose one, `http.Handler` is more flexible than its `func` alternative.

[2016-08-30 07:42] chenjie4255 opened #80 "wildcards router not working when path conflict"
hi, now I am using chi on golang 1.7, I meet such a problem:

[code]

a options request for ```"/foo"``` just return 405 method not allow.......:(

[2016-08-30 09:22] mrcpvn commented on #79
Hi,
as a workaround you can set up the route like this:

`chi.NewRouter().Get(http.HandlerFunc(yourHandler.ServeHTTP))`

[2016-08-30 13:17] pkieltyka commented on #79
hey @didip - yea you can do:`chi.NewRouter().Get(yourHander.ServeHTTP)`

[2016-08-30 13:23] pkieltyka commented on #80
hey @chenjie4255 - the reason is because the `r.Options("/*", h)` will route will match everything other than "/foo", that is a wildcard route path that will match routes that don't match any other static routes like "/foo". Give it a try on a path like `/blahafsd` and you'll see the OPTIONS request will return 200.

if you are trying to capture every OPTIONS request then I recommend you instead c

[2016-08-30 14:44] didip commented on #79
Oh, TIL, they can be casted back and forth. This works too: `handler.(http.HandlerFunc)`.

Thanks for taking the time!

[2016-08-30 14:52] didip opened #81 "FileServer prefix path problem"
[code]

Expected URL: /static/moment/moment.min.js
But I got: /moment/moment.min.js

How can I set it so the `/static` prefix is preserved?

[2016-08-30 14:56] didip commented on #81
This is my mistake, the feature works as expected.

Sorry for wasting your time.

[2016-08-30 14:56] #81 closed

[2016-08-30 15:04] pkieltyka commented on #79
@didip yea, I'd rather not do that.. I want to keep Router interface simpler/smaller.

[2016-08-30 15:04] #79 closed

[2016-08-30 21:13] #80 closed

[2016-09-08 15:11] pkieltyka opened #84 "Render: managing request and response payload as types"
The render subpkg is pretty cool, and its great for managing the different kinds of content types a response may need, including streams. However, one of the important parts for a maintainable API is to manage the request and response payloads (the inputs and the outputs of an endpoint).

For request payloads, one simple idea is to have a Bind() middleware used in chi's `r.With()` inline middlewar

[2016-09-18 18:08] elithrar commented on #84
Thanks for raising this! Some thoughts:

* Right now there are two popular libs (amongst many others) that tackle this, with different (but large) APIs: https://github.com/mholt/binding and http://www.gorillatoolkit.org/pkg/schema - thus: *what would render.Bind` do differently here*?
* I like that—from the example—it's integrated with chi, but you will undoubtedly get requests around skipping fie

[2016-09-24 01:49] dbudworth commented on #78
for your original example @pkieltyka
[code]

Other routers like httprouter and httptreemux both panic when registering the xy version as it's an ambiguous match.

Basically, any method+path pair that doesn't result in a unique mapping generates a panic at setup time. (last I checked)

I think that's much preferred over last one registered "wins"

[2016-09-26 17:32] cyx opened #90 "Ability to set the base context"
I'm not sure there's a facility for this already, but after searching through the code and docs, there doesn't seem to be a way to do it without making a middleware.

Basically the usecase is like:

[code]

In any case the underlying goal is to just easily set the base context. Let me know if this makes sense.

[2016-09-26 17:40] pkieltyka commented on #90
@cyx yea I've gone back and forth with this one myself. I've implemented it, then removed it, then thought perhaps we should bring it back.

can you describe your use case for a base context? what would you use it for?

[2016-09-26 19:18] VojtechVitek commented on #90
I was thinking about custom context types:

[code]

[code]

[2016-09-26 22:24] cyx commented on #90
For our usecase, the most important part is cancellation.

[code]

FWIW we were originally using github.com/guregu/kami. We definitely love a working PR we have moving to chi, and this is the only piece that felt weird to me TBH.

[2016-09-27 14:06] pkieltyka commented on #90
@cyx that isn't actually a reliable solution to a graceful shutdown of your servers. A cancelation signal will cancel all in-process goroutines. What is actually necessary is a signal on the context that tells the listeners to stop any further processing, but to finish up their work. See https://github.com/pressly/chi/issues/58

[2016-09-27 14:11] pkieltyka commented on #90
@cyx let me know if you get any success or some other ideas on how to approach it though

[2016-09-27 15:21] cyx commented on #90
@pkieltyka do you sit in any irc / slack channel? Would be interested to talk about this in detail.

[2016-09-27 15:25] pkieltyka commented on #90
@cyx id love to get into it, but I'm under a pile of work onboarding a bunch of customers this week

[2016-09-27 17:10] cyx commented on #58
Yep, right now we're using goji/graceful, and it appears to work, so I'm curious what @pkieltyka is thinking re: his comment that what we're doing wouldn't work. Maybe subtle race conditions?

[2016-09-29 01:05] nubunto commented on #79
Since `http.HandlerFunc` implements `http.Handler`, shouldn't all the method functions take an `http.Handler` instead? This is probably a stretch WRT compatibility, but it would make more sense to structure `chi` routers around interfaces, rather than around functions.

[2016-10-04 00:00] ARolek commented on #78
I'm having a similar issue. I have two routes:

[code]

When calling `chi.RouteContext(r.Context())` on a request made to `/maps/mymap/mylayer/1/2/3.vector.pbf` I get the following values (formatted for easier reading):

[code]

A few things to note:
- it looks like a second "y" value was generated.
- the "layer_name" parameter has disappeared and been replaced with the "z" value

This is only pro

[2016-10-05 13:36] pkieltyka opened #91 "Hi all, who's using chi in production?"
Hey everyone, I'm curious to hear which companies are using chi in production, if you see this post and use it in your products, please let me know. I'd like to include a list in the README, it's inspiring to hear all the awesome companies using chi and it helps other get comfortable to adopt it with success from others.

[2016-10-05 13:36] pkieltyka commented on #91
Pressly.com is of course using chi :)

[2016-10-05 13:41] pkieltyka commented on #91
cc`ing a few contributors and devs I spoke with previously: @cyx @ustrajunior @Vektah @xiam @kanocz @november-eleven @mrcpvn @elithrar @ChrisHines @lxfontes @lwc @abh1nav

if you guys have some feedback please let me know as I prepare a blog post about chi and how to write RESTful services in Go.

[2016-10-05 13:45] kanocz commented on #91
I'm using it in few project for the moment... only one (very small, https://github.com/kanocz/minisv) is open source and public, but used on about 20 servers :)

[2016-10-05 14:05] buro9 commented on #91
Cloudflare are using it within a helper package that wraps internal JSON REST services.

[2016-10-05 16:50] cyx commented on #91
Heroku is about to use it -- the branch we have is still being tested in a sandbox

[2016-10-05 17:25] Vektah commented on #91
99designs uses it as a router in front of our app servers.

On 5 Oct. 2016 18:50, "Cyril David" <notifications@github.com> wrote:

[2016-10-06 06:12] minoritea commented on #91
We, Origami Inc., uses it for our new API server(actually, it is not released yet but coming soon).

[2016-10-06 08:12] jhngrant commented on #91
IT Jobs Watch uses it for internal applications.

[2016-10-06 08:35] kanocz commented on #91
if non-open-source project also "accepted" than we use it for part of REST (and also non-REST) API for https://homebeat.live (HomeBeat.Live GmbH)

[2016-10-06 13:55] pkieltyka commented on #91
thanks everyone for letting us know :) this is great and makes us want to make chi even better

[2016-10-06 22:09] pkieltyka commented on #58
@cyx btw, this is what I was thinking https://github.com/goware/valve/blob/master/_example/main.go

its agnostic to chi, but of course works well with it

[2016-10-07 02:58] zxr90 commented on #91
Call levels use it in one of our internal applications. Might plan to use it for our new API server.

[2016-10-07 14:58] pkieltyka commented on #90
btw, here is a PR to add this functionality https://github.com/pressly/chi/pull/92

I'll be adding a _examples/graceful example too to this PR that uses the new github.com/goware/valve package to manage graceful shutdowns, utilizing a base context

[2016-10-07 15:26] abh1nav commented on #91
@pkieltyka CrowdRiff uses it for ~80% of our internal services as well as powering our public API 👍

[2016-10-07 16:42] cyx commented on #58
@pkieltyka nice, I see what you mean now -- you're very precise in the teardown process so I guess the way we're doing it now will be hand-waivy about things at best.

Excited to see something first class in chi?

[2016-10-07 18:44] pkieltyka commented on #90
done in a526d0cd90dc44b65a6cbde23b0bf34718eddc59

[2016-10-07 18:44] #90 closed

[2016-10-07 18:52] pkieltyka commented on #58
@cyx yea exactly, it's important to preempt certain code blocks properly and that is where the `valve` package comes in. I'm going to update it's README soon, but the thought is its designed as an extension to context.Context, that adds an additional valve signal that when stopped will tell non-preemptive code blocks to stop processing and finish up, aka, the taps are turning off, stop what you’re

[2016-10-09 14:24] #58 closed

[2016-10-09 21:38] pkieltyka commented on #84
hey @elithrar @VojtechVitek and others, I did a bit of work on the render subpkg today. Ive written request body decoding to be a bit nicer and I introduced render.Bind() as a middleware to automatically bind a request body to a struct value/object.

https://github.com/pressly/chi/pull/85/files

look at CreateArticle and CreateArticle2 for both versions and check the router definition too. After d

[2016-10-11 12:14] chenjie4255 commented on #91
I am using chi for a developing account system,I used to try lots of go's web framework, but I choose chi at last.XD

[2016-10-11 13:17] pkieltyka commented on #91
@chenjie4255 awesome thanks, what is last.XD?

[2016-10-12 02:30] chenjie4255 commented on #91
@pkieltyka ,XD is just a emoji means a big laugh.

[2016-10-12 13:45] elithrar commented on #84
@pkieltyka

Overall - like it a lot. It's simple, although we should expose decoding errors to make it clear when the POST body was empty vs. we couldn't decode (for whatever reason).

[2016-10-13 13:41] pkieltyka commented on #84
@elithrar thanks a lot - check again when you have some time, I've made further improvements to the render API that I'm pretty happy with. I did remove the Bind() trick. As well, I added a few todos for me to complete writing some methods in render that easily build response payloads from a data type and a response type.

[2016-10-14 04:31] elithrar commented on #84
@pkieltyka Do you have the diff between the current HEAD on that branch and the prior?

[2016-10-14 12:08] pkieltyka commented on #84
Yea it's there, just branch commits

[2016-10-18 10:29] kevinconway opened #94 "Mux methods accept a HandlerFunc instead of Handler"
I see the change that converts the mux signatures to accept an http.HandlerFunc instead of an http.Handler here: https://github.com/pressly/chi/pull/48/commits/2b1ed9c5ae2bcffa8c7da4fd4ce9e78aba8da839. There's no rationale given for the change.

In the std lib, http.Handler is _the_ handler type and http.HandlerFunc is an adapter for functions to match the http.Handler interface. With the current

[2016-10-18 12:48] lwc commented on #94
Dupe of https://github.com/pressly/chi/issues/79 and was also mentioned in the original PR https://github.com/pressly/chi/pull/48#r72554065

[2016-10-18 14:01] pkieltyka commented on #94
@lwc thanks for the references.

@kevinconway yea it's been talked about a few times and I've spent a lot of time thinking and iterating to try to get the cleanest design of the chi Router.

Here were the options..
1. For each routing method function, we have variations accepting a http.Handler or http.HandlerFunc - as described in this issue: `Get(string, http.Handler)` and `GetF(string, http.Han

[2016-10-19 02:40] kevinconway commented on #94
I believe this is consistent with the standard library. The `net/http` module provides a `Handle` method that accepts any `http.Handler` implementation and then a `HandleFunc` that accepts any `http.HandlerFunc` implementation. My personal inclination is to match the standard lib so this mux becomes a drop-in replacement if most cases.

For cases outside of the usual Handle and HandleFunc cases, I

[2016-10-19 12:50] pkieltyka commented on #94
@kevinconway good point about having `Handle()` and `HandleFunc()` the same in chi as in http.ServeMux - and in fact I checked and its matches up in the current version.

Interesting idea with the http method, perhaps we do that sometime. For now, yea let's stick to open 3 and we can leave this ticket open for a bit for others to offer some feedback too.

[2016-10-19 20:20] rossnanop commented on #94
@pkieltyka @kevinconway new to this discussion, and not sure what you mean by passing around ServeHTTP, but one way I've implemented it that may help (and not sure how it can be incorporated into chi or even that it needs to be) is by wrapping the chi.Mux.ServeHTTP method.

I define a custom Router type that wraps a chi.Mux and defines a ServeHTTP method that wraps the chi.Mux.ServeHTTP method:
[c

[2016-10-19 20:30] pkieltyka commented on #94
hey @rossnanop - hmm, you can definitely wrap the chi router, and I encourage it as necessary to compose additional logic, but in the small example, you already have this out of the box:

[code]

[2016-10-19 20:33] rossnanop commented on #94
Yeah I just realized that was what I was doing, and that I wasn't adding anything to the discussion. Sorry for the noise.  I guess my point was option 3 works nicely for me. 😄

[2016-10-20 19:41] mvdan commented on #91
I'm using chi for a new project, nothing live yet though.

[2016-10-20 20:23] mvdan opened #95 "Configurable logger middleware"
The middlewares in the repo work really well, cheers for that.

I use chi to serve dynamic content as well as static content. I have the logger middleware set up on the whole thing, which is good but it's too verbose for static content.

I thought about enabling it only for non-static content, but I would still like to get logs about 4XX's (and possibly 5XX's?) on the static content, for example i

[2016-10-21 13:32] pkieltyka commented on #95
hey @mvdan thanks man, we've worked hard to keep middleware lean and robust.

I agree the middleware logger doesn't fit all needs, especially lacking structured logging. The nice thing about chi is that its fully compatible with the stdlib, and any other handler or middleware in the ecosystem that as well uses just the stdlib, that is `http.Handler` or `func(http.Handler) http.Handler` and `r.Cont

[2016-10-21 13:35] mvdan commented on #95
Oh, makes sense. In that case, I think the README should be modified to clarify that any `net/http` middleware will work with chi. Right now it only mentions `chi middleware` and lists middlewares developed alongside chi, so this wasn't obvious to me.

Thanks!

[2016-10-21 13:35] #95 closed

[2016-10-21 13:37] pkieltyka commented on #95
Ok cool, thanks for the feedback, I'll make sure to clarify in the README

[2016-10-21 14:19] pkieltyka commented on #95
@mvdan https://github.com/pressly/chi/commit/2fb5424b313fbe427e2e337f20f2b45535ca3e0a -- please let me know if thats better and if there are other parts in the docs that could be better or parts you feel are missing or under-represented. thanks!

[2016-10-22 06:49] yargevad opened #97 "Customizable Logger middleware output"
It's not currently possible to customize the output of the Logger middleware at all. I spent a little time on that, will send a PR shortly.

[2016-10-23 13:04] ustrajunior commented on #91
I'm using on [https://github.com/ustrajunior/minion](https://github.com/ustrajunior/minion) and working on a big refactor that will be using chi through minion.

[2016-10-28 18:17] DylanJ opened #99 "Weird ( URLParam results"
I am not sure if this is a bug, or me just not using the routing correctly. I have some odd

[2016-10-28 18:22] DylanJ opened #100 "Weird (Incorrect?) URLParam results"
I am not sure if this is a bug, or me just not using the routing correctly. I have some odd routes:

[code]

chi correctly routes the request, however the params are not set correctly. For example a request to `/api/v1/files/a/sups/b/c` correctly routes to `func c()` however the decoded params look like `{"bar":"","baz":"b","foo":"a","req":"c"}`

Here is an example with failing tests:

https://gis

[2016-10-28 18:23] pkieltyka commented on #99
please show some example code, I dont understand the issue yet

[2016-10-28 18:24] pkieltyka commented on #99
dupe https://github.com/pressly/chi/issues/100

[2016-10-28 18:24] #99 closed

[2016-10-28 18:24] pkieltyka commented on #100
Looks similar to https://github.com/pressly/chi/issues/78

[2016-10-31 10:00] ivoszz opened #101 "Allow overwrite function methodNotAllowedHandler"
I am just starting to use your project which seems excellent to me, but  got into trouble with hard coded methodNotAllowedHandler function. I have to return JSON object on every error (like in JSON API spec) and I am not able to specify my own response to this error. Or can you suggest any solution to this? Thanks.

[2016-10-31 13:04] pkieltyka commented on #101
hey @ivoszz I see, potentially I can put a `MethodNotAllowedHandler http.Handler` on the chi.Mux and let you set it there. That will work but I need to check the interaction with subrouters.

[2016-11-03 18:05] Scapal opened #102 "v2 branch"
Could you move the master branch to a v2 branch in order to be compatible with [gopkg.in](http://labix.org/gopkg.in) and [glide](https://glide.sh) ?

[2016-11-03 18:07] pkieltyka commented on #102
I'm not a fan of either gopkg.in or glide. I prefer just normal vendoring (ie. govendor).

I can make a v2 branch that mirrors master if it helps others though. What is required? (can you give me the debrief before I say yes/no), thanks.

[2016-11-03 20:11] #102 closed

[2016-11-03 20:16] Scapal commented on #102
Being a junior Gopher, I'm interested in your point of view.
Does using govendor mean that you put the vendor tree in your Git as well?
The purpose of a `glide.lock`is to avoid that.

[2016-11-03 20:29] pkieltyka commented on #102
@Scapal a group that is part core and part community is working on a dependency management tool -- here is the draft: https://docs.google.com/document/d/1qnmjwfMmvSCDaY4jxPmLAccaaUI5FfySNE90gB0pTKQ/edit

since Go 1.7, the `go` cli will recognize packages in a `./vendor` folder first then search $GOPATH for depedencies. Look up "go vendoring". The missing part today which the draft above covers and

[2016-11-03 20:48] Scapal commented on #102
The `dep` tool in the draft mention:

So it seems their perspective is to only save those in the git and not the whole vendor tree.
It is the same approach used by [Composer](https://getcomposer.org) for PHP and Glide.
Wouldn't it be awkward for an open-source project to include the full dependencies in vendor?

[2016-11-04 18:03] clinta opened #103 "Remove github restriction on markdown docs links"
Relative links in markdown work on more places than just github. They work very nicely in our on-premis gitlab installation for example.

Is there any harm in removing this restriction? If that is not desired, could an additional option be added to MarkdownOpts to force link generation?

[2016-11-04 19:57] pkieltyka commented on #103
yea definitely we can improve this if is preventing you in gitlab. I can try to remove them as long as everything continues to link up, otherwise we'll have to add an option like you suggested.

[2016-11-05 16:23] pkieltyka commented on #101
@ivoszz I was just checking into this, and it seems the current `methodNotAllowedHandler` just returns 405 with an empty body, so it should be valid to the response of your json handler

[2016-11-07 22:21] nhooyr opened #104 "why are wildcard parameters relative?"
Why not make them absolute? By absolute, I mean that they begin with `'/'` instead of having to prepend `'/'` like https://github.com/pressly/chi/blob/master/mux.go#L231

Under what circumstances would relative wildcard parameters be useful?

[2016-11-08 07:58] tors commented on #91
pocketmath.com is using chi for some internal apps. keep up the good work!

[2016-11-08 15:16] #94 closed

[2016-11-08 15:19] pkieltyka commented on #104
@nhooyr this is how we can keep routers completely independent, and when mounted, we have a middleware that changing the routing path at runtime for what the subrouter expects. Another approach would be to have a single large tree, but there are more downsides to that approach (I wrote a version like that too and scrapped it).

is there something you're running into where the current implementatio

[2016-11-08 15:23] twiggg opened #105 "appengine"
i am stuck trying to use chi router for an appengine app, but because it uses "context" package from the standard library it can not build ... anyother trick that forking the router and replace "context" by "golang.org/x/net/context" ... not very happy to be stuck by this delay and inconsistency between golang 1.7 and appengine standard environment ...

[2016-11-08 15:24] pkieltyka commented on #105
Perhaps you should look elsewhere if you're so unhappy?

[2016-11-08 15:24] #105 closed

[2016-11-08 15:26] pkieltyka commented on #105
this would have been solved by the 1.8 alias feature, which may come in 1.9.

I have thought about this, but this problem you speak of, isn't up to chi. Chi uses standard net/http which uses "context", and so we depend on the same "context" thats now part of the http.Request object.

[2016-11-08 15:26] twiggg commented on #105
:) this was not a comment about chi router, but about the fact that community version of golang (by google) and appengine version of the runtime (by google too ...) are tricky to make work together

[2016-11-08 15:27] pkieltyka commented on #105
well, let me know if you come up with something.. I agree this isn't ideal. I'm not sure even if I made a branch of chi that used "golang.org/x/net/context" it would help because of net/http's use of "context".

[2016-11-08 15:29] twiggg commented on #105
not sure neither ... wctx router seem to work on appengine but I wanted to stick with chi

[2016-11-08 15:30] pkieltyka commented on #105
well you can use https://github.com/pressly/chi/tree/v1 which is almost identical and is compatible with "golang.org/x/net/context"

[2016-11-08 15:49] nhooyr commented on #104
No problems, just trying to understand the implementation. I still see no benefit to making the wildcard parameter not always begin with `"/"`.

Also, what are the downsides with a single large tree?

[2016-11-08 16:29] VojtechVitek commented on #105
https://github.com/GoogleCloudPlatform/google-cloud-go/issues/312

[2016-11-08 19:07] ivoszz commented on #101
hey @pkieltyka you are right. The body is empty but still marked as text/html and this doesn't solve the problem of JSON api. text/html is hard coded and cannot be changed even when there are  Accept: application/json or application/vnd.api+json in request header. The header Allow is also not generated (and cannot be) which is against the spec:
"The origin server MUST generate an Allow header fiel

[2016-11-08 19:21] pkieltyka commented on #101
got it, good points

[2016-11-08 19:37] pkieltyka commented on #104
@nhooyr whats happening in https://github.com/pressly/chi/blob/master/mux.go#L229-L233 is that after a call to `r.Mount("/articles", ArticlesRouter)` and ArticlesRouter is an http.Handler (say a chi.Router specifically), the `r` router actually matches on `/articles*` pattern and the Mount() function will set the endpoint handler for the `/articles*` pattern to a handlerfunc that modifies the rout

[2016-11-08 21:51] nhooyr commented on #104
Yea, I know why it is there and how it works. I'll clarify my question. Why make the router prepend `"/"` in https://github.com/pressly/chi/blob/master/mux.go#L231 . Why not make it prepend `"/"` over here https://github.com/pressly/chi/blob/master/tree.go#L367 ? So that line becomes

[code]

I see no reason why someone would want a catch all parameter without a slash at the front.

[2016-11-08 21:54] pkieltyka commented on #104
because that doesn't make sense, the tree is independent of http routing, and the mux uses the tree to keep track of its patterns with associated handlers, but the mux does the routing and serving handlers

[2016-11-08 22:06] pkieltyka commented on #104
hope that clears it up.

[2016-11-08 22:06] #104 closed

[2016-11-08 22:30] nhooyr commented on #104
I'm still not getting it :(

I'll make an example.

[code]

If you run the code and go to `localhost:8080/anypath` you will see `anypath` but my question is why is it `anypath` and not `/anypath`?

What benefit is there to not having the slash in front of the wildcard parameter?

[2016-11-08 23:57] twiggg commented on #105
yes thank you Vojtech I have read that they are aware of the mess this fragmentation causes ... but still have not found my way around (appart from not using libraries that import /context and not /x/net/context ... )  net/http.Request.Context() is using a context.Context so even change all imports of /context to /x/net/context in chi and render does not work

[2016-11-10 21:06] #101 closed

[2016-11-10 21:09] pkieltyka commented on #103
@clinta can you be specific about what you have in mind to resolve this and whats the issue? id like to resolve/close

[2016-11-10 21:16] clinta commented on #103
See PR #106

If you want to close this and continue the discussion in the PR that's fine by me.

[2016-11-10 21:22] pkieltyka commented on #103
thanks for the PR @clinta

[2016-11-10 21:22] #103 closed

[2016-11-11 00:28] nhooyr opened #108 "why does Connect method take a pattern?"
https://tools.ietf.org/html/rfc7231#section-4.3.6 says that

[code]

Thus, there will be no pattern other than `"/"` to match against. So it should only take the handler and automatically assume the pattern is `"/"`.

[2016-11-11 01:02] pkieltyka commented on #108
good question, its also the convention, but someone can choose to use a method however they would like.

[2016-11-11 01:02] #108 closed

[2016-11-11 22:30] cescoferraro opened #109 "cannot use r (type *http.Request) as type "github.com/cescoferraro/api/vendor/golang.org/x/net/context".Context in argument to chi.URLParam:"
[code]

[code]

What am I missing here? ON the README it says ` userID := chi.URLParam(r, "userID") // from a route like /users/:userID` but URLParams signature does not like this `func URLParam(ctx context.Context, key string) string {`

[2016-11-12 00:37] ustrajunior commented on #109
Hey, @cescoferraro. The chi.URLParam function receives a *http.Request as parameter but you are passing a context.Context.

To fix your code, use

`chi.URLParam(r, "userID")`

[2016-11-12 00:40] cescoferraro commented on #109
@ustrajunior I did not made myself clear

with `chi.URLParam(r, "userID")` I get

`cannot use r (type *http.Request) as type "github.com/cescoferraro/api/vendor/golang.org/x/net/context".Context in argument to chi.URLParam
`

with `userID := chi.URLParam(r.Context(), "userID") `I get

`interface conversion: interface {} is nil, not *chi.Context`

[2016-11-12 00:59] pxue commented on #109
probably because your vendored `x/net/context` is either behind the 1.7 one or ahead (with brad's new 1.8 cancelfunc changes). if you unvendor it should work.

[2016-11-12 02:20] leeola commented on #109
Having the same described problem here, removing my x/net/context did not solve the issue. My solution was as @cescoferraro mentioned, pinning my vendor to `v2.0.0rc1` *(just fyi for future readings)*

[2016-11-12 14:21] pkieltyka commented on #109
hey guys, yea, @pxue called it. It's the mix up between `x/net/context` and `context` which are not compatible with eachother, they are technically different types. Perhaps in 1.9 when they figure out aliasing this will get smoothed out.. that is a while from now. I bet there would be a way to make some pkg that allowed you to use both because it would translate between the types, perhaps I'll wri

[2016-11-12 14:21] #109 closed

[2016-11-15 06:54] stefanwuthrich commented on #91
wondering, if there is somebody using chi in combination with authboss ( https://github.com/go-authboss/authboss ) ?

[2016-11-16 03:34] smacker opened #110 "Not found handler for subrouters"
Consider this example:

[code]

Now let's try some urls:
[code]

It's very unexpected behavior for me. There is workaround, I need to set my not-found handler for protected router explicitly too. Maybe on mount it's better to go through all subrouters and set not-found router there? If that's alright, I can make pull request.

[2016-11-16 15:12] pkieltyka commented on #110
@smacker a PR would be great, at a minimum it will help understand possible situations better.

[2016-11-16 15:12] pkieltyka commented on #110
perhaps write a quick one to hack it, see how you can make it work as you expect, and we can iterate/refine from there

[2016-11-17 03:40] smacker commented on #110
Done. Please take a look. If the problem isn't clear from my description - try tests from PR on master branch. Thanks!

[2016-11-18 19:42] #110 closed

[2016-11-21 04:49] nhooyr opened #112 "make *Context embed a context.Context"
Just an idea I had. This way, you could just directly get the parameter out of the context. Sort of works like [this](https://github.com/nhooyr/lily/blob/0ea96097a5e58d2e7585492141eb24452b948d3b/mux.go#L84). To retrieve it would look like [this](https://github.com/nhooyr/lily/blob/0ea96097a5e58d2e7585492141eb24452b948d3b/mux.go#L97)

[2016-11-21 04:55] nhooyr commented on #104
HTTPRouter adds that slash to make it an absolute path too. See https://github.com/julienschmidt/httprouter/pull/116

I can see why adding it would be a bit confusing though because it's not obvious from the pattern that it would be absolute. I guess that's a good enough reason against it. What do you think?

[2016-11-21 05:00] nhooyr commented on #112
Actually, since the keys for the context are just strings and they might cause conflicts, I think it's a bad idea.

[2016-11-21 05:00] #112 closed

[2016-11-21 05:13] nhooyr opened #113 "small simplification to URLParam"
Can't https://github.com/pressly/chi/blob/master/context.go#L50 be simplified to just

[code]

[2016-11-21 05:36] nhooyr opened #114 "why not use a map for params?"
A map seems to be the obvious data structure because the parameters are just a key value map. However, in https://github.com/pressly/chi/blob/master/context.go#L69, chi is using a slice of type param. If this was done for performance, is it really that significant?

[2016-11-21 06:15] nhooyr commented on #114
I found http://www.darkcoding.net/software/go-slice-search-vs-map-lookup/

and wrote my own benchmarks:

[code]

On my laptop, I get:

[code]

With the above results, I think the difference between the two is negligible and thus chi should just use a map because it is less code.

[2016-11-21 14:00] pkieltyka commented on #114
@nhooyr for a little bit of performance, but primarily reasons of allocation and reusing the url params dictionary

[2016-11-21 14:00] #114 closed

[2016-11-21 14:01] pkieltyka commented on #113
yes, true it definitely can be

[2016-11-21 14:03] pkieltyka commented on #113
feel free to submit a PR for this if you like

[2016-11-22 20:18] dbudworth opened #115 "Mounting a subpath of an existing path fails"
https://github.com/Spark-Networks/chi/blob/master/mux.go#L239
[code]

If you mount:
"/foo" and then "/foobar", all is well as "/foobar*" and "/foobar/*" has no matches

but, if you reverse the mapping order:
"/foobar" and then "/foo", the first findPattern "/foo*" finds a match and fails.

Is that "/foo*" match necessary?  It's problematic for me as I must register the longer path in my app first.

[2016-11-22 23:43] pkieltyka commented on #115
hey @dbudworth thanks for the report, I've reproduced the issue, I'll fix it by tomm.

[2016-11-22 23:44] pkieltyka commented on #113
closing as this isn't an issue, but if you want to submit a PR sometime, go for it

[2016-11-22 23:44] #113 closed

[2016-11-23 01:28] #115 closed

[2016-11-24 01:15] pkieltyka commented on #97
Done! chi's middleware.Logger now supports quite well logging customization. Here is an example structured logger that can be adapted to any other backend: https://github.com/pressly/chi/blob/master/_examples/logging/main.go

[2016-11-24 01:15] #97 closed

[2016-11-24 20:43] ivoszz commented on #101
I would like to thank you for your effort.

[2016-11-24 20:48] pkieltyka commented on #101
:) no prob

[2016-12-08 07:35] umputun opened #117 "http: multiple response.WriteHeader calls due CloseNotify"
Adding CloseNotify middleware causing sometimes "multiple response.WriteHeader calls" warning in normal cases, i.e. request was not canceled by caller, but finished normally.

Probably sometimes https://github.com/pressly/chi/blob/master/middleware/closenotify.go#L32 reached after normal completion? Not sure what the sequence, but I suspect client completed (and disconnected), connection closed an

[2016-12-08 14:25] pkieltyka commented on #117
@umputun interesting, I tested this a bunch of times and it was fine. I'll add a test case for this -- however, something to note is that in Go 1.8, this will be standard functionality and won't even be necessary, so I'll probably check for just Go 1.7 and do nothing above that.

[2016-12-08 21:50] pkieltyka commented on #117
btw, if other users are having this same issue, please report

[2016-12-08 21:56] umputun commented on #117
I think it is really easy to reproduce.

1. Make dummy rest, with a handler sending back anything with custom response code i.e. smth like `render.Status(r, http.StatusBadRequest); render.JSON(....)`
2. Make sure `router.Use(middleware.CloseNotify)` in place
3. Hit it a few times and you will see the error (warning)

[2016-12-08 22:52] november-eleven commented on #117
@pkieltyka I had the same issue while using [hey](https://github.com/rakyll/hey) load generator with `go 1.7.3`.

[2016-12-08 23:13] pkieltyka commented on #117
Cool. I'll fix it soon, but once 1.8 hits this middleware won't be necessary and every request will have this behavior.

[2016-12-09 16:43] pkieltyka commented on #117
@umputun @november-eleven Im unable to reproduce the bug on 1.7.3 or 1.8b1

I wrote this program https://gist.github.com/pkieltyka/8be94802255ea023cb1cc59327d44670 to try to simulate the bug, but no luck. If you guys can send back a gist with the bug (or even better a test case), I'll be happy to fix it. Here is the start of a test case as well for CloseNotify: https://gist.github.com/pkieltyka/a4

[2016-12-09 17:40] c2h5oh commented on #117
Tested the program above with `ab -c 1000 -n 10000 http://localhost:3333/` on Linux x86_64 with go 1.7rc2 and 1.7.4 - could not replicate the issue.

What OS are you running?

[2016-12-09 17:56] pkieltyka commented on #117
btw, I don't think we're simulating the problem correctly, the client needs to close early to trigger the problem. Some browsers will do this on refresh to a request.

however, even in Chrome which closes a running connection with a refresh, the server's output looks like..

[code]

[2016-12-09 17:56] umputun commented on #117
if you remove middleware.Logger and keep everything else as is you will see these "multiple response.WriteHeader calls". If you add some sleep before - you will get even more of these.

[code]

with `ab -n 100 -c 10 127.0.0.1:3333`  i got bunch of of these

[2016-12-09 17:59] pkieltyka commented on #117
@umputun no errors on go 1.8b1 with that code and ab command. I'll have someone try it on 1.7 in a minute. What exact go version and OS are you running?

[2016-12-09 18:02] umputun commented on #117
@pkieltyka `go version go1.7.4 darwin/amd64` (mac os 10.12.1) and the same version of go in alpine 3.4 (docker container). Both have the same errors

[2016-12-09 18:02] pkieltyka commented on #117
interesting. thanks

[2016-12-09 18:11] pkieltyka commented on #117
@umputun confirmed on 1.7 on osx it does have this error, but there is no error on 1.8b1

[2016-12-09 18:28] VojtechVitek commented on #117
I see, I didn't test this properly without the Logger middleware applied when I was writing this middleware a year ago.

What happens:
When the handler writes some headers and body to the response writer and then the client closes the connection, this middleware tries to write the header again, which is wrong. The Logger middleware used to catch the extra header write (I'm not sure if it still doe

[2016-12-09 18:39] #117 closed

[2016-12-12 23:58] pkieltyka commented on #49
@november-eleven btw, I don't know if you've seen but I added a pretty sweet Logger interface and logging example for structure logging last week.

[2016-12-13 00:01] pkieltyka commented on #84
btw, I believe with this new language change in Go 1.8 that allows structs to be equivalent, even if tags differ could be a very useful way to implement some of the ideas in this issue/PR

https://beta.golang.org/doc/go1.8#language for more details

[2016-12-13 10:52] november-eleven commented on #49
@pkieltyka Yeah, you've done a terrific job, as always :smile:

[2016-12-28 04:30] NikosEfthias opened #120 "The logger middleware outputs into stderr"
The logger middleware outputs into stderr what makes really difficult to read real error messages in the log file

[2016-12-29 20:33] robvdl opened #121 "Changing context import for Go 1.7+"
Chi advertises itself as a Go 1.7+ framework that has 0 dependencies, yet it still imports "golang.org/x/net/context" instead of just "context".

This has the side effect of adding all of golang.org/x/net into my vendor directory when it isn't really necessary.

I have tried changing over the imports in Chi to "context" and everything works fine.  Is there any reason this isn't done already? Or is

[2016-12-29 23:46] pkieltyka commented on #121
Where does it import net/context? You might be on an older version before context was in stdlib

[2016-12-30 03:26] smacker opened #122 "public RequestID generator"
In my project we can start running code not only through http request, but with cli command or just background processes. I want to be able to trace everything that happened in different part of system by unique id with the same format. For http I use RequestID middleware, but there is no public methods which I can use to generate ID. Copy-past of that functions in project will cause different for

[2016-12-30 03:30] robvdl commented on #121
I am on the last stable tag using Glide so v1.0.0 I will try bumping that to v2.0.0rc1 thanks, that's probably it.

[2016-12-30 03:50] pkieltyka commented on #121
Yea. Use master, it's very stable

[2016-12-30 03:50] #121 closed

[2016-12-31 15:28] lclarkmichalek opened #123 "HTTP2 requests are not wrapped using fancyWriter"
HTTP requests do not implement `http.Hijacker` or `io.ReaderFrom`. This causes them to not be eligible for wrapping in `middleware.fancyWriter`, instead being wrapped in `middleware.flushWriter`, and losing the `http.CloseNotifier` interface. In addition, `middleware.fancyWriter` does not support `http.Pusher` (in the go 1.8 beta), meaning that even if the writers were eligible for `middleware.fan

[2016-12-31 15:34] lclarkmichalek commented on #123
https://github.com/felixge/httpsnoop/blob/master/wrap.go#L52 although maybe one could just implement all the different combinations..

[2016-12-31 16:23] pkieltyka commented on #123
PR's are welcome :)

[2016-12-31 16:29] pkieltyka commented on #123
I think http and http2 fancy writers make sense too

[2016-12-31 16:48] lclarkmichalek commented on #123
Yeah, I'm really not a fan of that solution, but after spending half an hour writing a thing to generate the 2^5 individual implementations, I've been convinced that its probably the simpler option.

[2016-12-31 17:15] pkieltyka commented on #122
@smacker I see, so you want these ID's to be consistent between http requests and other actions? yes, I can move https://github.com/pressly/chi/blob/master/middleware/request_id.go#L65 to a public function to generate the next request id, thats okay with me

[2016-12-31 17:20] pkieltyka commented on #120
@NikosEfthias can you explain some more please?

however, I have just committed 46d56496c539ad41168671a6b6503f0bacb30a78 which will let you set your own middleware.DefaultLogger = etc... and you can change the logger that you pass to it, so you can specify a file or whatever else you like.

cheers, happy NY

[2016-12-31 17:20] #120 closed

[2016-12-31 17:22] #122 closed

[2016-12-31 17:23] pkieltyka commented on #122
@smacker I've added middleware.NextRequestID() for you :)

[2016-12-31 17:26] pkieltyka commented on #123
@lclarkmichalek yes probably. I'll give it a closer look but I don't know when I'll have a chance to dive in.

[2016-12-31 18:05] lclarkmichalek commented on #123
I can get you a pull request this weekend :) Need to submit something
similar to a load of other projects, so not a problem

On Sat, Dec 31, 2016 at 5:26 PM, Peter Kieltyka <notifications@github.com>
wrote:

[2017-01-01 09:44] NikosEfthias commented on #120
@pkieltyka have you added documentation on how to change that ?  because i have no idea what you mean by `middleware.DefaultLogger` should i edit the source code? middleware is unexported keyword

[2017-01-01 09:50] smacker commented on #122
thank you sir!

[2017-01-02 02:22] pkieltyka commented on #120
@NikosEfthias thats not something to really document, and middleware is a package, not an unexported keyword.

something like so is what you want..

[code]

[2017-01-02 17:24] NikosEfthias commented on #120
just one thing that i don't understand is that i checked the source code theres nothing about stderr how come the messages from logger middleware ends up in the stderr stream

[2017-01-04 16:20] EmielM opened #125 "Define middlewares between routes"
I'm trying to use chi middlewares to validate incremental user permissions. Without any prior experience with chi, I figured a logical approach would be:

[code]

This results in panic: `all middlewares must be defined before routes on a mux`.

Wouldn't it be a nice use case to support? The middleware stack could be copied after at least one route has been defined in the group and a new `.Use` is

[2017-01-04 16:24] VojtechVitek commented on #125
@EmielM yes, you should use either groups or sub-routers.

[2017-01-04 16:27] EmielM commented on #125
Right, thanks for the quick reply. To prevent a lot of indentation I could repeat adding the middlewares:

[code]

etc.

[2017-01-04 16:31] VojtechVitek commented on #125
You can even pass multiple middlewares to r.Use().

[code]

[2017-01-04 18:32] pkieltyka commented on #125
thanks for the help @VojtechVitek

[2017-01-04 18:32] #125 closed

[2017-01-04 20:50] mpholcomb opened #127 "The url params within the RouteContext cannot be used by a parent middleware"
This may be intended, but you cannot register a top-level|parent middleware that utilizes URLParams since they are not available until after the Route is defined that introduces those variables.  The use case that I currently would have for such a thing is to auto-generate a role string used for authorization.  Such as:

The programmer defines that the route requires "http:get|/some/route/:withava

[2017-01-04 21:01] mpholcomb commented on #127
I should have mentioned, that instead of using the actual variables, I am just using the full req.URL to generate the url roles, which is certainly OK.  I may be creating a synthetic use case here.

[2017-01-04 22:07] pkieltyka commented on #127
@mpholcomb I see what you mean. You'd like to see URLParams initialized and at the very top of the routing path. Unfortunately this won't work by the design of chi's tree. It might be possible to do a first-pass through the routing tree just to determine the urlparams, and then again to actually call the handler, but I don't like that solution. I'll keep it in mind when I'm solving #78 - but think

[2017-01-05 13:35] mpholcomb commented on #127
Yeah I agree about the double pass through the tree would just slow down the router.  Thanks for the thoughts behind the acl.route.  For now, I am checking the role based on the url, which is really similar to your acl.  I will go ahead and close this.  Thanks again!

[2017-01-05 13:35] #127 closed

[2017-01-05 15:35] VojtechVitek commented on #127
See https://github.com/pressly/chi/issues/125#issuecomment-270416138 for ACL-middleware approach.

[2017-01-05 21:11] durdn opened #131 "Implement http.Hijacker to support interaction with Websockets"
Hey there,

You wrote a fantastic library and I've been using it with pleasure so far. Up until Yesterday I was using https://github.com/NYTimes/gziphandler to compress all the responses passing through my routes. Then I saw you already have implemented a middleware that does the exact same thing! RTFM right? :)

Anyway I have run into an issue when using the `middleware.DefaultCompress` and `gori

[2017-01-05 21:17] pkieltyka commented on #131
@durdn thanks for the report. we'll fix it :)

cc: @VojtechVitek - whichever one of us gets to it first. I'll try to look at this tomorrow.

[2017-01-05 22:58] wyaeld opened #132 "Could you update to correct semver on releases"
I've found that tools like https://github.com/constabulary/gb don't work nicely with your releases because of a semver issue

Basically the problem is http://semver.org/#spec-item-9
A pre-release version MAY be denoted by appending a **hyphen** and a series of dot separated identifiers immediately following the patch version

Point being it needs a hyphen to comply with the spec
`v2.0.0rc1` is not

[2017-01-05 23:03] pkieltyka commented on #132
Will do! Thanks for letting me know

[2017-01-05 23:04] wyaeld commented on #132
No problem, the rapid response is encouraging for considering using your library :-)

[2017-01-06 16:00] VojtechVitek commented on #132
@pkieltyka I think we can release v2.0.0 after HTTP2 fixes.

[2017-01-06 16:07] pkieltyka commented on #132
@VojtechVitek yea, I agree. It's been a long time since the rc

[2017-01-06 20:35] #123 closed

[2017-01-06 20:35] pkieltyka commented on #131
fixed in 49a0ea6f6b92d0a7deebc7dd7c7350974e0c70ef

[2017-01-06 20:35] #131 closed

[2017-01-06 20:53] pkieltyka commented on #132
v2 is here! https://github.com/pressly/chi/releases/tag/v2.0.0

[2017-01-06 20:53] #132 closed

[2017-01-06 20:53] #49 closed

[2017-01-06 20:53] pkieltyka commented on #49
https://github.com/pressly/chi/releases/tag/v2.0.0

[2017-01-06 22:14] durdn commented on #131
@pkieltyka Amazing responsiveness! Thanks a lot!

[2017-01-07 22:20] uzarubin opened #133 "Encoding error type to json"
Hello there!

I have a question regarding custom error types and using `render.JSON`.  I have a custom error struct defined as:

[code]

It also implements `Error() string{}`

In my controller I am returning `render.JSON(w, r, validationErrors)` where `validationsErrors` is a []error type. Assuming I have two errors inside my []error slice, here is the response that gets returned:

[code]

I'm won

[2017-01-07 22:43] NikosEfthias commented on #120
the logger in defaultLogger struct is unexported so its impossible to set it should be exported value i guess

[2017-01-07 22:43] uzarubin commented on #133
Disregard this. It ended up being an error in my code. : )

[2017-01-07 22:43] #133 closed

[2017-01-07 22:58] pkieltyka commented on #120
Sorry, I am not a help centre for all inquires. I wrote chi and I released it for public so others could benefit from it and as well contribute to build it together - but unfortunately I don't have the bandwidth to answer every question, especially this when it's clearly exported: https://github.com/pressly/chi/blob/master/middleware/logger.go#L15

[2017-01-07 23:00] pkieltyka commented on #120
@NikosEfthias indeed you are right.

[2017-01-07 23:03] NikosEfthias commented on #120
i just capitalized the first letter of logger key in the struct and it works otherwise it gives error because naturally it cannot find such a property of the struct `DefaultLogFormatter` because `logger` is not an exported keyword.
However after the last update i dont need this anymore the problem that was the reason that i made this bug report about was solved by this update .

[2017-01-07 23:04] pkieltyka commented on #120
this will fix it: 076deb80de4f344b761681f2afadf708430cfd41

[2017-01-07 23:06] NikosEfthias commented on #120
next time for such small things ill open a pr sorry :)

[2017-01-07 23:30] pkieltyka commented on #120
all good :) thanks for bringing it to my attention, but yes PRs are definitely welcome too!

[2017-01-08 23:33] kpurdon opened #134 "proposal: test context builder (test helper function)"
I've switched a personal project over to chi and have been working on converting my integration tests. I've found myself repeating this chunk of code in tests quite often. Each test case (table tests) provides a list of params `tc.params` which is a `map[string]interface{}` that I load into the URLParams context. This allows me to test functionality based on different param values passed to a hand

[2017-01-09 18:24] pkieltyka commented on #134
@kpurdon thanks for the proposal. I think its a good idea, but I'm always trying to keep the chi project as minimal as possible. I think this along with other common test helpers would make for a good auxiliary testing package for chi.

[2017-01-09 20:20] kpurdon commented on #134
👍

Thanks for the response. If you have an idea for how you'd like this testing package to look (and a potential name (`chi/chitest`?)) I'd be happy to drop a first pass PR. Let me know.

[2017-01-18 15:20] kevingo opened #138 "Different return type of middleware"
Hi, I found some middleware return `func(next http.Handler) http.Handler`, and others return `http.Handler`.

It means that user have to use different ways to user middleware, for example, for logger middleware, which returns `http.Handler` we use `r.Use(middleware.Logger)`, and for Timeout middleware, which returns `func(next http.Handler) http.Handler`, we have to declare a fn variable and use t

[2017-01-18 15:40] VojtechVitek commented on #138
1. `func(next http.Handler) http.Handler` is **middleware** type to be used in `r.Use()`
2. `http.Handler` is **handler** type to be used in `r.Get()` etc.

---

What's wrong with
[code]
?

[2017-01-18 15:47] kevingo commented on #138
@VojtechVitek Thanks for response. I am misunderstanding the returning type and handler type. Thanks again. I will close the issue.

[2017-01-18 15:47] #138 closed

[2017-01-21 14:39] diegobernardes opened #141 "Data race in middleware/closenotify"
Using the close notify middleware is giving me data races. I'm hitting ctrl+r like crazy in the browser.

This is the only part of the handler that writes in http.ResponseWriter, in case of context done, the program don't do anything.

[code]

But the last request get processed because the browser tab is open, then the headers are writted and this error popup on console:

```2017/01/21 10:18:32 ht

[2017-01-21 14:43] diegobernardes commented on #141
Forgot the data race message:

[code]

[2017-01-22 15:29] pkieltyka commented on #141
@diegobernardes hey there - can you provide a small gist example that shows the problem? Im not sure what chanErr and chanResp are in the first example. I'll give it a review though

[2017-01-22 15:37] pkieltyka commented on #141
I tried this little program

[code]

and likewise in the browser reloaded the page before the request could finish (simulating a disconnect), and I couldnt get a race to occur

[2017-01-23 13:49] diegobernardes commented on #141
Yes, your examples does not give any error, but try to comment the logger and the sleep:

[code]

Using wrk:
[code]

Give this results:
[code]

About the race condition, don't know why, but i can not reproduce...
Maybe was the middlewares or the order of then that caused that error.

[2017-01-23 15:01] pkieltyka commented on #141
Thanks @diegobernardes I'll fix it soon

[2017-01-23 15:03] pkieltyka commented on #141
I believe the fix is very easy, which is to just comment out https://github.com/pressly/chi/blob/master/middleware/closenotify.go#L25 because its really just for internal communication to the logger to print disconnected, its not that useful. I will update the behaviour. From that point, I do believe middleware.CloseNotify() will effectively be a no-op in go 1.8, perhaps panic that it should be be

[2017-01-23 18:15] diegobernardes commented on #141
Didn't know that in 1.8 the CloseNotify cancel the context, good to know.
Thanks!

[2017-01-25 08:25] advanderveer opened #142 "Profiler middleware doesn't work with StripSlashes/RedirectSlashes"
Thanks for the awesome router! Got some trouble with combining the slashes middleware with the profiler middleware. As an example doing a middleware stack like this:

[code]

will prevent the profiler path `/debug/pprof/` to keep redirecting.

Cheers,

Ad

[2017-01-25 19:33] msaron commented on #84
I would like to add a suggestion. I am coming from developing apps using  [hapijs](https://hapijs.com/) developed by Walmart for the backend. One really cool feature they have is that they use the [Joi](https://github.com/hapijs/joi) library to validate and convert all incoming and outgoing information. I have not seen this in any other library. Once the request reaches your handler, you can rest

[2017-01-25 19:42] VojtechVitek commented on #84
@msaron nice. I'd be interested in tag-based validator. There might be some projects like this out there, but I don't know them.

For example:

[code]

[2017-01-25 19:55] msaron commented on #84
@VojtechVitek After reviewing almost all of the libraries out there and reviewing their pros and cons, I have come to the conclusion that I would like to merge the following three libraries and we would get something like the Joi library.

1. [binding library](https://github.com/mholt/binding) by mholt
2. A flexible validation library framework by [mccoyst](https://github.com/mccoyst/validate)
3.

[2017-01-25 20:47] pkieltyka commented on #141
Resolved by 7765b0916fdc6791938554e9d53d39cae059ac8c

[2017-01-25 20:47] #141 closed

[2017-01-25 20:51] pkieltyka commented on #142
Makes sense, I recommend not using them together, based on how the profile sets up its routes. If you must, you can use r.Group() to have a separate middleware chain for a different set of routes along the same point.

[2017-01-25 20:51] #142 closed

[2017-01-25 21:56] elithrar commented on #84
Does that belong in chi? Why not improve mholt's lib? or gorilla/schema?

On Wed, Jan 25, 2017 at 11:55 AM msaron <notifications@github.com> wrote:

[2017-01-25 22:02] pkieltyka commented on #84
I don't believe it belongs in the chi core libs, but could be a very useful project to be used together

[2017-01-26 14:52] msaron commented on #84
The problem is that they all use tag based validation (see example above by @VojtechVitek ). Tag based validation is error prone and is not at all flexible. For example, say I want to determine that a value is in a dynamically generated list of items  and the list depends on the userid of the request. This would be very difficult to do using tag based validation. Another negative of tag based vali

[2017-01-26 14:53] pkieltyka commented on #84
@msaron stay tuned. I have something non-tag based and veryyyy simple for request and response paylods for chi/render.

[2017-01-26 15:03] msaron commented on #84
If possible, could you add a CSV renderer also? I have implemented it like so below, but it would be great if it was part of the chi library.

    func CSV(w http.ResponseWriter, r *http.Request, v interface{}, filename string) {

      // Get result as CSV bytes using "github.com/gocarina/gocsv"
      csvContent, err := gocsv.MarshalBytes(v)

      if err != nil {
        http.Error(w, err.Error(

[2017-01-26 15:06] VojtechVitek commented on #84
@msaron anything with third party dependency (like github.com/gocarina/gocsv above) can't make it into chi.

[2017-01-26 15:15] msaron commented on #84
@pkieltyka  I understand that but what I was suggesting was that chi implement a CSV renderer without using any third-party library.

[2017-01-26 16:03] VojtechVitek commented on #84
@msaron I see. Well, we accept Pull Requests. But one thing to be aware of: We tend to keep chi very minimal. And imho, CSV dependency is pretty big, even for render pkg.

[2017-01-26 16:12] pkieltyka commented on #84
Yea, sorry I dont understand the need for a CSV parser inside of chi. However, please do great a separate project/pkg and tell us about it. I think we should start a list for projects that are made to work with chi. Perhaps a separate PKGS.md in the repo

[2017-01-26 16:17] pkieltyka commented on #84
@msaron Keep in mind, a nice pattern would be for you to make your own `render` package, and just use chi/render behind the scenes - kind of like pkg composition. Take a look at https://github.com/goware/lg/blob/master/lg.go for an example in how we get in front of the logrus package. I believe this is the best approach and lets you take control for all your renderering needs. This is also my inte

[2017-01-26 16:25] msaron commented on #84
@pkieltyka Yes, I believe that is the best approach.

[2017-01-28 14:58] valmirjunior0088 opened #144 "Creating a router out of a function"
I'd like to know if there is a way to create a base router using a function.
Currently, I've been able to do it this way:
[code]
This does not feel like the right way to do it, because it creates an unnecessary additional router.
Is there a better way?

[2017-01-30 16:21] kevingo commented on #144
@valmirjunior0088 Is that you want ?

[code]

[2017-01-30 17:26] pkieltyka commented on #144
Please review https://github.com/pressly/chi/blob/master/_examples/rest/main.go and https://github.com/pressly/chi/blob/master/_examples/todos-resource/main.go

[2017-01-30 17:26] #144 closed

[2017-02-03 11:55] dadatawajue opened #145 "multiple routes to same function & localization"
Hi, I looked through the examples and tried to explore other projects using Chi but I couldn't find an answer so I figured I would try here.. with Flask it's possible to do:

[code]
Is it possible to do something similar with Chi?

It can quickly end up looking like a mess if I continue to do like this:
[code]

I was also wondering how everyone was doing localization (example.com/en/register), I f

[2017-02-03 14:54] pkieltyka commented on #145
@dadatawajue for a controllers package / pattern, I think you'd be pleased with: https://github.com/pressly/chi/tree/master/_examples/todos-resource -- check out the approach there.

As for lang, you could do it as url param like you've done there and reference "lang" from chi.URLParam(r, "lang"), or put the lang on the r.Context() through a middleware. Or use a request header and set lang on requ

[2017-02-03 14:54] #145 closed

[2017-02-03 20:46] alphahelix00 opened #146 "How can I use SockJS-go with Chi?"
Hey there,

I was wondering how I could use [sockjs-go](https://github.com/igm/sockjs-go) with Chi. I'm writing a real-time web game application for one of my projects so I was thinking of using sockjs as a websocket implementation.

Of course, running the example code for sockjs-go using net/http is no problem, but when I try to set the sockjs-go handler for a chi router, I end up with a 304 foll

[2017-02-05 14:44] zet4 commented on #146
***Note: I haven't tested this***

Try using `r.Mount("/echo", sockjs.NewHandler("/", ...))`, I would however suggest using https://github.com/olahol/melody with normal WS connection on client side, instead of sockjs.

[2017-02-06 00:56] alphahelix00 commented on #146
@zet4 Thanks! using Mount() worked with the echo example.

Regarding your suggestion to use normal WS connection, is there a big reason people prefer a normal WS connection over polyfills like socket.io and sockjs?

And how does melody compare with gorilla websockets?

[2017-02-06 02:19] pkieltyka commented on #146
thanks for answering the question @zet4 - I'm going to close this since question is answered

[2017-02-06 02:19] #146 closed

[2017-02-06 07:51] zet4 commented on #146
@alphahelix00 the issue is closed but I guess I will still answer your question, socket.io/sockjs add additional overhead/costs on top of normal WS (if its even using WS, it might fallback to Polling without you knowing)

Melody is still using gorilla websockets underneath, its just a nicer wrapper with session handling added.
I use it for one of my person projects alongside Chi.

[2017-02-06 22:04] medyagh opened #147 "what is the best way to cache a http request ?"
if I want to cache the response for at least 2 minutes, so next client gets same response,
is there a built in feature ? or do I need to add something like reddis?

[2017-02-06 23:30] pkieltyka commented on #147
@medyagh chi is just a simple router, you can layer in any technique you'd like. I suggest doing some research on "http caching" and "cache-control"

[2017-02-06 23:30] #147 closed

[2017-02-09 21:46] eemeyer opened #148 "Route params do not handled uri encoded path components correctly"
A test from my fork illustrates the issue (https://github.com/eemeyer/chi/blob/uripath/mux_test.go#L1323)

[code]

[code]

In `mux.go`, `routeHTTP` uses `r.URL.Path` instead of `r.URL.EscapedPath`.

See also https://golang.org/pkg/net/url/#URL:

[code]

[2017-02-09 22:39] eemeyer commented on #148
Figured out a solution. Patch coming shortly.

[2017-02-09 22:54] eemeyer commented on #148
See https://github.com/pressly/chi/pull/149 for fix.

[2017-02-10 00:32] kpurdon opened #150 "question: determine route string from router, url, method"
# Problem

I have a need to get the text repr of the route, say: `/foo/:bar/baz` given a `chi.Router` and an `http.Request`.

We've been running on an httprouter fork w/ this functionality:

`_, handledPath, _, _ := rm.Router.LookupRoute(r.Method, r.URL.Path)`

see: https://github.com/jehiah/httprouter/commit/f17f1397d64b8510e22d980c7093c355880358ef

# Question

Is there currently a way to do this

[2017-02-10 03:49] pkieltyka commented on #150
Hey @kpurdon yea definitely something that comes in handy. The support we have is the RoutePattern and RoutePatterns values on the routing context. You'll want to concat the RoutePatterns for the full thing. The only downside with current implementation is we build the pattern as the request passes through the handler chain, so just keep that in mind.

Btw, what are you using it for? I hope it fit

[2017-02-10 16:35] sgp opened #151 "Make backwards compatible with x/net/context for Go 1.6.x"
This is a time-limited desire, but right now App Engine classic runtime is still based upon 1.6. Not sure when they will make the jump, and it would be awesome to use chi on an App Engine for Golang right now.

I think this could be done with build tags.

Any interest in this at all?

[2017-02-10 16:36] pkieltyka commented on #151
sorry, but no. Im very focused on keeping chi very precise and minimal and focusing on the future.

if you want a x/net/context compatible version of chi, check out the v1 branch -- https://github.com/pressly/chi/tree/v1

[2017-02-10 16:36] VojtechVitek commented on #151
Sorry, we can't support Go 1.6, since the http.Request doesn't have Context at all.

[2017-02-10 16:36] #151 closed

[2017-02-10 18:08] sgp commented on #151
Thanks for weighing in. I'll check out the v1 branch. TBH, by the time I get around to using chi in appengine, it's Go 1.8 will be released and (hopefully) in the default App Engine runtime.

[2017-02-10 18:23] pkieltyka commented on #151
yea hopefully they upgrade appengine soon. You could always host somewhere else, then later move to appengine as you're closer to prod

[2017-02-10 18:28] kpurdon commented on #150
@pkieltyka thanks for the response, I'll take a look. We (Bitly) are currently doing some prototyping to determine if we want to switch to chi. This specific feature is used in middleware that publishes API request metrics.

Thanks again. I'll report back if this approach doesn't work out for us.

[2017-02-10 18:28] #150 closed

[2017-02-10 18:34] pkieltyka commented on #150
yea, exactly, its a good use for metric tracking - we do the same thing at Pressly

[2017-02-10 18:34] pkieltyka commented on #150
it would be awesome to have Bitly on board as well :) good luck and I hope it ends up working out

[2017-02-10 18:42] pkieltyka commented on #150
btw here is an example middleware

[code]

[2017-02-10 19:09] nkovacs opened #152 "Compress middleware's ResponseWriter does not implement CloseNotifier"
I tried to use both `middleware.CloseNotifier` and `middleware.DefaultCompress`, but this caused a panic because `maybeCompressResponseWriter` does not implement `http.CloseNotifier`.

[2017-02-10 19:36] pkieltyka commented on #152
@nkovacs what version of Go?

[2017-02-10 19:36] pkieltyka commented on #152
and http1 or http2?

[2017-02-10 19:38] nkovacs commented on #152
1.7, http1 (but should apply to http2 too).

I think if I switch the order of the middlewares, it'll work, because CloseNotifier will get the original ResponseWriter.

[2017-02-12 17:21] medyagh commented on #147
for the record, I ended up using memached.

[2017-02-13 09:08] nkovacs commented on #152
Ok, so doing this causes a panic:

[code]

But this doesn't:

[code]

On a related not, it would be nice to have a dummy middleware.CloseNotify for go 1.8, so that this code also compiles on go 1.8.

[2017-02-13 09:44] zbindenren opened #153 "Panic on doc generate when using middleware.Profiler"
Hi

When using the profiler middleware in combination with the docgen package, I get a panic.

main.go:

[code]

panic:
[code]

[2017-02-13 15:49] jsadwith opened #155 "NotFound ignored when FileServer using "/" path"
When using FileServer with a root ("/") path, the NotFound method seems to get ignored...

[code]

An unknown route will always return the default "404 page not found" rather than the expected "nothing here". Changing the FileServer path to anything else (ie. "/foo") produces the expected "nothing here".

The goal is to be able to serve an Angular frontend at the root path, while all API routes ar

[2017-02-14 00:45] pkieltyka commented on #152
@nkovacs can you try again? PR #154 recently merged should fix this as well

[2017-02-14 00:49] pkieltyka commented on #155
good question. I believe r.FileServer("/") will make a route on /* which catches every request to its handler. Potentially r.FileServer() impl could be changed to call r.NotFound() if a file is not found.

You do have the option to write the file serving handler yourself, the r.FileServer() is just a helper method. Please let me know if you solve it.

[2017-02-14 01:42] medyagh opened #156 "panic: runtime error: invalid memory address or nil pointer dereference"
I get this panic, i see there was an old closed issue, could it same issue ?

I am using the v2.0.0 .

[code]

here are the options I am using (the only thing is new is throttling) could it be throttling makes it error 500 ?

here is my code

[code]

[2017-02-14 02:27] pkieltyka commented on #156
@medyagh can you use the master version? middleware.CloseNotify has been removed.

[2017-02-14 02:27] pkieltyka commented on #156
i've confirmed that with the stack you listed (minus the CloseNotify middleware), everything works as normal

[2017-02-14 02:27] #156 closed

[2017-02-14 03:32] medyagh commented on #156
@pkieltyka I just glide updated with the SHA of the last commit
here is my glide block
[code]
and here is my glide.lock block
[code]

and I got the same error:
[code]

[2017-02-14 03:35] pkieltyka commented on #156
try it without glide, `go get -u github.com/pressly/chi` and use $GOPATH. if you get the same error, please include gist to your program. Sorry but you'll have to debug your own issues and if you want to report a bug, submit a test case

[2017-02-14 03:37] medyagh commented on #156
I will try without glide and go get, but for what it worth, I like to add, I also removed the throttle thing to make sure it wasn't because of that. and also another thing, the thing fails only on the request that takes longer than 30 seconds. (it won't error on other requests)

[2017-02-14 03:38] pkieltyka commented on #156
please submit a gist of a broken program and clear instructions on how to reproduce it. If i can reproduce it, I'll definitely fix it

[2017-02-14 04:03] medyagh commented on #156
sure here is a gist of the code https://gist.github.com/medyagh/fd03a85e8eb2443a8dbbb42ed4bb05c6

[2017-02-14 10:01] nkovacs commented on #152
Yes, that fixes it, thanks.

[2017-02-14 10:03] #152 closed

[2017-02-14 10:40] nkovacs opened #159 "middleware.Profiler and middleware.RedirectSlashes causes infinite redirect loop"
If you try to open `debug/pprof` with both active, you get an infinite redirect loop.

I believe it's caused by this: https://github.com/pressly/chi/blob/master/middleware/profiler.go#L28

[2017-02-14 16:56] jsadwith commented on #155
@pkieltyka locally, I just updated the mx.Get() call in r.FileServer() to check to see if the file exists before serving. It may not be the most efficient solution, but it's working as it should...

[code]

Any interest in a pull request for it? (I would include tests)

[2017-02-14 16:59] pkieltyka commented on #155
thanks for letting me know, but not at this time. But that should let you keep going, just take your own FileServer function to register the handler

[2017-02-14 17:15] jsadwith commented on #155
Cool. Here's my solution for a FileServer function that incorporates the pressly/chi NotFoundHandler for anyone that's interested...
[code]
Thanks @pkieltyka

[2017-02-14 23:45] pkieltyka commented on #155
thanks @jsadwith

[2017-02-14 23:45] #155 closed

[2017-02-14 23:50] pkieltyka commented on #159
can you provide a gist..? I can't reproduce it

[2017-02-14 23:53] pkieltyka commented on #156
@medyagh this is an incomplete program and I dont have memcache either. Please provide a minimal example with no dependencies.

[2017-02-15 17:34] medyagh commented on #156
@pkieltyka update, I found out the source of the problem, in kuberentes the default timeout is 2, and there is no way to change it in google kuberentes. so any request taking mroe than 1.30 seconds will throw that error. it will be fine in other places.

however I think it would be nice that the library would throw a better error. (to test it out ,deploy it to google kuberentens and make a reuqest

[2017-02-16 10:02] nkovacs commented on #159
[code]

Run this and try to open http://localhost:8080/debug/pprof/

[2017-02-16 19:00] pkieltyka commented on #159
@nkovacs this isn't solvable as they're opposing logic to redirect slashes. If you have different needs, you'll want to use router.Group(...) to split up your middleware stacks

[2017-02-16 19:00] #159 closed

[2017-02-17 10:39] nkovacs commented on #159
Ah, I see, the links on the index page are relative, they need the slash.

It wasn't obvious to me that I can use router.Group like this, but it works. Thanks!

[code]

[2017-02-17 11:12] nkovacs commented on #159
Wait, no, that doesn't work, the RedirectSlashes firmware isn't executed for /foo/.

Route/Mount does work, and it actually applies to /root too (i.e. /root is redirected to /root/)?

[code]

I'm not sure if this is what I'm supposed to do.

[2017-02-20 08:16] Labutin opened #162 "Is it possible to get path/URL by HandlerFunc?"
Is it possible to get path/URL by  HandlerFunc?
Like this:

http://flask.pocoo.org/docs/0.12/api/#flask.url_for

[2017-02-20 13:54] pkieltyka commented on #162
Like this? https://github.com/pressly/chi/issues/150

[2017-02-20 14:24] Labutin commented on #162
No,
I am looking like this:

`func handlerPing(w http.ResponseWriter, _ *http.Request) {
	fmt.Fprint(w, "pong")
}

...

r.Get("/v1/ping", handlerPing)
...

// I am looking this method
url := r.UrlFor(handlerPing) // have to return "/v1/ping"

func (mx *Mux) UrlFor(handlerFn http.HandlerFunc) string {
    ......
}`

[2017-02-20 22:58] pkieltyka commented on #162
ah I see. that isn't something supported by chi directly, but I am sure there would be a way for you to built it yourself by enhancing the chi.Router interface.

[2017-02-20 22:58] #162 closed

[2017-03-01 13:26] gpopovic opened #163 "Middlewares not called on NotFound handler"
Currently, middlewares are not calle when NotFound handler is executed.

Is this a design choice? and is there a way to achieve that functionality?

[2017-03-01 13:49] pkieltyka commented on #163
Hey Goran, yea this is intended and by design. If you really want it, you could make. Separate chain of middlewares with chi.Chain(mw1, mw2) and pass the request through in NotFound.

Or try to make a top level subrouter, mount on "/*" a new subrouter with your actual routes. I believe the MW in the top router will execute.

[2017-03-01 13:53] gpopovic commented on #163
@pkieltyka thanks :+1:

[2017-03-01 14:33] gpopovic commented on #163
@pkieltyka  are you sure middlewares are not called? I tested now ..and it seems that middlewares ARE called .

My router looks like this

[code]

And i get logging line on every 404 and 405

[2017-03-01 16:10] pkieltyka commented on #163
Interesting, perhaps they are then. The behavior changed from v1 to v2 so I just don't recall at this time. But given your example it looks like the middleware stack is called, which would be my initially thought it the ticket title threw me off a bit. I'm away this week but let me know.

[2017-03-01 16:20] gpopovic commented on #163
Ok so i can confirm, middlewares are called..but i noticed another bug..I'll open the issue for that

[2017-03-01 16:20] #163 closed

[2017-03-01 16:36] gpopovic opened #164 "Strange 404 handling"
It appears that 404 needs to be set up for each particular group and this is annoying and wrong.

Below is the code used to reproduce the bug.

Basically route /awdad will correctly call NotFound handler.

Routes starting with /a, .. will not work(http.NotFound will be called instead of our NotFound handler)... since there is no NotFound handler defined in the router group.

Routes starting with /

[2017-03-01 16:57] gpopovic commented on #164
Same goes for MethodNotAllowed

[2017-03-03 08:10] mgenware commented on #91
[coldfunction](https://coldfunction.com/) is using chi as the only HTTP router behind nginx, all our code is written in Go.

[2017-03-03 08:15] prettyxw commented on #91
[QingCloud](http://www.qingcloud.com) is using `pressly/chi` in our internal services.

[2017-03-04 06:48] cyx commented on #91
Heroku is using it for our metrics api

On Fri, Mar 3, 2017, 00:15 Aspire <notifications@github.com> wrote:

[2017-03-05 05:16] MrXu opened #165 "Reverse proxy not working"
Hi, thanks for this great project. I wrote a simple reverse proxy with Chi, intending to implement an api gateway. However, there's some issue with the reverse proxy.

The proxy will forward a request to a restful endpoint in remote server and the server is using Nginx. Since the endpoint takes a long time to return result (6-8 secs), sometimes golang complains timeout. However, when it does not t

[2017-03-05 20:24] zet4 commented on #165
Works fine for me in my implementation https://github.com/zet4/disguard/blob/master/reverseproxy.go#L52

[2017-03-06 14:58] VojtechVitek commented on #165
ReverseProxy is just a handler. It works.

Try:

[code]

[2017-03-06 14:58] #165 closed

[2017-03-07 03:44] MrXu commented on #165
Thanks @VojtechVitek @zet4 . I think it should be the problem with nginx config, instead of golang code.

[2017-03-07 14:17] MrXu opened #166 "Make api call inside middleware"
I spotted an interesting issue in creating my owner middleware for reverse proxy.
Basically, I am trying to authenticate a user by calling a REST api, before I proxy the request to a remote server.
However, I find that if I make the api call before proxy to remote server, the request will fail with the following error:
`http: proxy error: http: ContentLength=139 with Body length 0`.
If I remove th

[2017-03-07 14:22] pkieltyka commented on #166
hi @MrXu - there is no bug here. Please work through the issue yourself, this is not a core concern of the chi library.

[2017-03-07 14:22] #166 closed

[2017-03-09 23:52] didip opened #167 "Delimit url param names by . in addition to /"
Hi chi devs,

Given this pattern `/root/:leaf.:mimeType`...

I expect the following to match:

[code]

But Chi fails to parse both `leaf` and `mimeType`. Is that expected?

[2017-03-10 00:09] Vektah commented on #167
I don't think even:
`/root/:leaf.json` will do what you expect.

I think Chi matches prefixes only which means only one wildcard per path segment.

[2017-03-10 00:37] didip commented on #167
Hm, bummer.

I understand not wanting to have complex parser and slowing the router down.

But it would be nice if the URL chunk is tokenized by `/`, `.`, and `?` at minimum to avoid surprises for people coming from another frameworks or routers.

[2017-03-13 17:50] pkieltyka commented on #167
@didip this is completely possible, and you're right the only thing that would be necessary is to parse the param key up until one of the param delimiters such as `/` or `.`

`?` isn't really an acceptable delimiter in any case for a url route.

One other thought is perhaps we should change the delimiter in generate for params to routes like `/articles/{id}` instead of `/articles/:id` this would f

[2017-03-13 18:12] VojtechVitek commented on #167
`{id}` works for me

[2017-03-13 19:37] didip commented on #167
Thanks all for the response!

I am down with either {id} or :id

[2017-03-14 21:31] #148 closed

[2017-03-14 21:37] pkieltyka commented on #167
@didip btw, I agree we should improve param-key parsing, but I after thinking a bit more about your use-case which is to have the `.:mimeType`, I don't think it's ideal to add `.:mimeType` to every single one of your routes. It's probably better to write a middleware that will parse the extension from the RoutePath and directly put it into the URLParams on the routing context.

[2017-03-18 14:32] diegobernardes opened #169 "Weird behaviour inside 'Group'"
I want to override the functionality of **NotFound** and **MethodNotAllowed** and most of the time it works, but when i tried to put the handlers inside a group to add another middleware like the NoCache, it stopped working.

Moving the handlers outside of group make then work again.

[code]

[2017-03-18 15:43] pkieltyka commented on #164
interesting, this must be the same as https://github.com/pressly/chi/issues/169

[2017-03-18 16:12] pkieltyka commented on #169
@diegobernardes @gpopovic I have a solution for this and I'll publish it soon

[2017-03-18 18:45] pkieltyka commented on #169
fixed by 5b7406a71dbb35d4f59b0b48e68cd9f9256f5262

[2017-03-18 18:45] #169 closed

[2017-03-18 18:45] pkieltyka commented on #164
Fixed by 5b7406a71dbb35d4f59b0b48e68cd9f9256f5262

[2017-03-18 18:45] #164 closed

[2017-03-18 19:43] sivasiva opened #170 "Is there a way to mount a Server-Sent Event server along side other routes in Chi?"
Most SSE implementations I see in the wild are standalone servers that just serve the events at `/` or `http.Handle("/events/", b)`.

I would like to know if it is possible to mount an [Event Server](https://github.com/kljensen/golang-html5-sse-example/blob/master/server.go) on a route along other Chi routes.

If yes, can you please provide some pointers on how that might be accomplished?

Awesome

[2017-03-18 20:08] diegobernardes commented on #169
wow that was fast! thanks @pkieltyka!

[2017-03-20 07:00] gpopovic opened #171 "NotFound and MethodNotAllowed still doesn't work in some cases"
Still in some cases it doesn't work ..I'll try to write examples soon

[2017-03-20 14:38] pkieltyka commented on #171
Please re-open with concrete examples.

[2017-03-20 14:38] #171 closed

[2017-03-20 14:39] pkieltyka commented on #170
hey @sivasiva - absolute, this would work with chi just as:

[code]

[2017-03-20 14:39] #170 closed

[2017-03-20 16:46] DeepAnchor commented on #94
I know this is an old issue (and closed), but I have to say that I am in agreement with @kevinconway and the

`
r.HandleM("GET", "/", myHandler)
r.HandlerFuncM("GET", "/", myHandlerFunc)
`

seems like it would be the most elegant way to solve the problem, while still keeping in line with the project's spirit of minimalism.

The use-case is when you have complex request handlers with non-standard s

[2017-03-24 17:54] pkieltyka commented on #84
btw - I've pushed a new version here: https://github.com/pressly/chi/pull/173 and a complete example: https://github.com/pressly/chi/blob/render/_examples/rest/main.go

[2017-03-27 00:22] skabet commented on #148
The fix did not solve the issue presented here. Note that example provided expected the url-decoded result, not the raw value. That means this is a breaking change as all calls to URLParam now returns the raw path. I suggest this is changed such that all users of URLParam don't have to use url.Decode.

[2017-03-27 00:31] pkieltyka commented on #148
This is not something I'm willing to fix or change to support

[2017-03-29 13:37] dobegor opened #174 "Named wildcard params"
Wildcard patterns aren't very useful without ability to actually retrieve them, i.e. with `chi.UrlParam`.

Maybe we can use the following pattern syntax for this:
`/my/url/*param1`
and retrieve it later with `chi.UrlParam("param1")`.

This won't break any existing code as chi doesn't do any check after `*` symbol, i.e. with pattern set to `qwe*iop` both `qwe1iop` and `qwedsf` are wired to the hand

[2017-03-29 13:57] pkieltyka commented on #174
why not just use, `/my/url:param1` then?

[2017-03-29 14:01] dobegor commented on #174
i.e. your parameter contains slashes, i.e. it's a storage key:
`/storage/folderID/userID/somekey`
and you don't want to hard-code key format, a wildcard is a nice choice, but there's no way to get the matched parameter other than getting full request path, stripping everything and etc.

That would also require handler to know the prefix to strip off, and it somewhat breaks the abstraction of an ap

[2017-03-29 14:04] pkieltyka commented on #174
yea I agree with you.. I think a better solution is to change from `:param` syntax to `{param}` which would solve the delimiter problem and you can place them anywhere on the route.

[2017-03-29 14:09] dobegor commented on #174
If syntax is `{param}`, then how would these patterns be handled?
Pattern 1: `/{param}` // can match both /someparam and /someparam/something/something
Pattern 2: `/{param}/{param2}` // ??

IMO, wildcards would be simpler to implement and to understand.

[2017-03-29 14:11] pkieltyka commented on #174
submit a PR then :) but, make sure you also include before/after benchmarks

[2017-03-29 14:11] pkieltyka commented on #174
this isn't something I have time for anytime soon, but I'd love some help from other users to keep making chi better.

[2017-03-29 14:31] dobegor commented on #174
Turns out it's already implemented [here](https://github.com/pressly/chi/blob/master/tree.go#L371).
Perhaps it's worth to add it to documentation :)

[2017-03-30 11:12] gpopovic opened #175 "NoCache not properly working"
Not sure why, but when i use NoCache middleware, and click back in chrome browser, I always get the cached version.

I searched for a solution and found out that adding `no-store, must-revalidate` to the Cache-Control along with other header values written by NoCache middleware, fixes this.

[2017-03-30 18:43] pkieltyka commented on #84
completed + merged in https://github.com/pressly/chi/tree/v2.1.0

[2017-03-30 18:43] #84 closed

[2017-04-06 07:37] donutloop commented on #100
I have the same issue

[2017-04-07 06:55] donutloop commented on #78
Any plans to fix that?

[2017-04-07 08:02] dannyvankooten opened #176 "Route http.Handler on specific HTTP method?"
Hey,

I love chi and how it works with regular the regular `http.HandlerFunc` function signature, however I'd love to be able to return `error` from my HTTP handlers.

Since the Get/Post/... methods on the router require the rather limiting `http.HandlerFunc` function and the generic `Handle` method (which does accept the `http.Handler` interface)  only binds to all HTTP methods, I can't seem to f

[2017-04-07 08:31] dannyvankooten commented on #176
After  searching through the issue list I see this is brought up more often, so this is probably a duplicate of #79 and #94.

[2017-04-07 08:38] dannyvankooten commented on #176
To answer my own question, with chi's current interface it seems that we can do this.

[code]

I'd like to echo the sentiments in the other two issues about this though, it would make a lot of sense to use an `interface` instead of `func` in the router method signatures. Fingers crossed that will make it into a future version of chi! :crossed_fingers:

[2017-04-07 09:40] dannyvankooten commented on #91
We are using chi for our shop platform & API on https://platform.boxzillaplugin.com. Nothing too crazy, about 80 routes total. Also running behind NGINX.

[2017-04-07 13:01] pkieltyka commented on #176
hey @dannyvankooten I really appreciate your gentle suggestions, and I finally see the point everyone is requesting. I'll see what I can come up with the support the pattern you described above.

[2017-04-07 13:53] dannyvankooten commented on #176
That is great news @pkieltyka! I've slightly edited my initial message in this issue as I mixed up "function" and "interface" a few times.

[2017-04-07 17:42] daenney opened #177 "Routing and rendering based on media type/content type negotiation"
I'm looking for some advice on how to potentially do routing and rendering based on media type. As some might have seen a number of API's use content type negotiation with things like `content-type: application/vnd.github.v3+json` for example, to define that you want the `v3` representation of the resource in `JSON` format without encoding that in the URL.

In trying to figure out how to do that i

[2017-04-07 22:57] pkieltyka commented on #177
Hey @daenney this is completely doable with chi today :)

The approach I'd suggest based on your description is to create a middleware and put it at the very top of your routing tree, where that middleware parses the request "Accept" header and sets on the context the kind of content response type, and the API version number, then you'll need some helper function or various possibilities to use th

[2017-04-07 23:00] pkieltyka commented on #177
Give it a shot, perhaps in a small example forking from _examples/rest and let me know where you come to. If you give me a gist or some working example I may be able to help. The only part that needs some consideration is the pattern to select the appropriate renderer, but given that it's an interface, you could have a top-level Renderer for each kind of your payload, which would read the r.Contex

[2017-04-08 00:05] everdev opened #178 "Question: Hashtag in URL after Google oAuth callback"
After completing a Google oAuth login, I redirect to the homepage:

`http.Redirect(w, r, "/", http.StatusTemporaryRedirect)`

But I end up with a hashtag in the URL:

`http://127.0.0.1:8080/#`

I can't seem to find where the # is coming from. Is there a way in Chi to remove this from the URL? I tried setting up a route to catch it `r.Get("/#", RedirectToHomePage)`, but the hash still persists in t

[2017-04-08 14:05] pkieltyka commented on #178
Hey @everdev this is a question for stdlib go, net/http - not really a chi thing.

Check out the Fragment on a url.URL and run some examples on how it works. Fragments/anchors are intended for the client-side and aren't something that are processed on the server-side.

[2017-04-08 14:05] #178 closed

[2017-04-12 13:56] pkieltyka opened #179 "chi v3 roadmap"
- [x] Fix bugs #78 #100 - relating to param keys overlapping between different endpoints
- [x] Change param syntax from `/articles/:id` to `/articles/{id}` which improves expressiveness and delimiting (#167)
- [x] Add support for regexp via `/articles/{name:[a-z]}`
- [x] Add support for http.Handler for method routing, as in #176
- [ ] Add a few param helpers with as `chi.URLParamInt64(r, "bookID"

[2017-04-12 14:06] VojtechVitek commented on #61
can we `panic()`?

[2017-04-12 14:10] c2h5oh commented on #61
I'd much rather we mapped query params to `url.Values` - map[string][]string. Multiple copies of the same param would still work and since []string maintains order you'd know which one is which.

[2017-04-12 14:20] c2h5oh commented on #167
I quite like typed parameters Flask has:

- `<string:param_name>` or simply `<param_name>` - match everything but slashes
- `<path:param_name>` - match everything, including slashes
- `<int:param_name>`, `<float:param_name>` - quite obvious
- `<any:enum1,enum2,enum3>`

Flask supports variable routes with different converters (the part before ":"), but that's a bit much for us imo. At the same time

[2017-04-12 14:22] c2h5oh commented on #179
How about adding an option to register a "converter" https://github.com/pressly/chi/issues/167#issuecomment-293592221 and let people exend this?

[2017-04-12 14:29] VojtechVitek commented on #179
This one is breaking change, that's why v3.

[2017-04-12 14:34] VojtechVitek commented on #179
it's indeed interesting to have types defined in the route
... but maybe we just need helpers like `bookID, err := chi.URLParamInt64(r, "bookID")`

[2017-04-12 22:21] NikosEfthias opened #180 "Cannot figure out how to use docgen"
i go get `...pressly/chi/docgen` but theres no such executable on my `$GOBIN` and cannot figure out how to use that Could be please be a bit more specific about the usage

[2017-04-13 10:29] donutloop commented on #179
How about adding a method to bind a http.handler to a specific method? For Instance:

`func (mx *Mux) Handle(method string, pattern string, handler http.Handler) {
	mx.handle(Methods.lookup(method), pattern, handler)
}`
or
`func (mx *Mux) Handle(method MethodTyp, pattern string, handler http.Handler) {
	mx.handle(methodTyp, pattern, handler)
}`

[2017-04-13 12:34] pkieltyka commented on #179
Hey Marcel, yep that is in the list.

[2017-04-13 13:49] pkieltyka commented on #180
hey @NikosEfthias good question - because of how docgen works, it needs to be compiled with the program that it is generating docs for. As a result, the way to trigger it as a cli flag when starting your server.

like here: https://github.com/pressly/chi/blob/master/_examples/rest/main.go#L99-L109

[2017-04-13 13:49] #180 closed

[2017-04-13 14:49] pkieltyka commented on #179
it might also be nice to support (I know others requested it) to offer a helper for building paths from the router. Such as.

[code]

[2017-04-13 15:08] daenney commented on #177
Sorry for my lack of response on this! I've gotten the middleware part to work, that was fairly easy. I'm mostly stuck with the Renderer, I'm not quite clear how you mean to compose that like the way you could compose middleware? Do you have a (pseudocode) example of what that could look like?

[2017-04-14 05:46] NikosEfthias commented on #180
Ah now it makes sense :) Great ill try now @pkieltyka

[2017-04-14 07:18] NikosEfthias commented on #180
@pkieltyka I just tried the docs are really not that helpful I must say. It could be cool if there are comments on the functions those are used for routing, to show those comments as godoc does

[2017-04-14 13:59] pkieltyka commented on #180
hey @NikosEfthias - docgen isn't made to replace all of your API documentation. Its more designed today as internal documentation to easily see your routing structure. If someone was willing to put more work into it, it could get better, but personally it's not a priority for me nor do I have the availability.

[2017-04-17 21:10] MrSpock opened #181 "REST example doens't work."
Hi,
When I'm trying to build example rest service there are a lot of error related to render:
[code]

[2017-04-17 21:10] pkieltyka commented on #181
you must be doing something wrong.

[2017-04-17 21:10] #181 closed

[2017-04-17 21:11] pkieltyka commented on #181
check your imports, you're probably importing some other "render" package

[2017-04-17 21:14] MrSpock commented on #181
Yeah.
Somehow goimports is imporing other package:
[I] [0] spock@macspock ~/.g/src ➞ find . -name 'render'
./github.com/cweill/gotests/internal/render
./github.com/pressly/chi/render
[I] [0] spock@macspock ~/.g/src ➞

[2017-04-20 07:35] mitani commented on #155
Just as a comment you would probably want to parse r.RequestURI as it will include the query string as well which you probably don't want when stating the file system

[2017-04-22 22:18] jlovison commented on #134
I do think it'd be a big help to people adopting this package to have a "testing" section in the readme about how to properly setup chi in tests. @kpurdon's setup in his first code block is not intuitive without seriously looking under the hood at the chi package. Other aspects of integration are pretty easy to pick up from a glance at the readme, but integration in tests is currently a bit of a h

[2017-04-26 08:33] JaCoB1123 opened #184 "NotFound is ignored for FileServer"
Using the following code, the NotFound Handler is not used for files that are not found.

[code]

[2017-04-26 11:33] bgv commented on #184
Chi's FileServer is just a helper around http.FileServer which does the NotFound check internally.

Ideally you should check if the file exists and return the desired error yourself before calling ServeHTTP.

You can check #155 as starting point for your own implementation.

[2017-04-26 12:43] JaCoB1123 commented on #184
Awesome, thanks. That's all I need.
I may add a PR to extend the FileServer example if that's in your interest.

[2017-04-26 13:18] JaCoB1123 commented on #184
Just noticed that you mentioned that you aren't interested in a PR in #155. Closing this.

[2017-04-26 13:18] #184 closed

[2017-04-30 19:15] djui opened #185 "DefaultDecoder misses typical parameters such as charset"
I understand that the `DefaultDecoder` is just a best-effort default, but I believe it would be easy to also extend the matching. Currently, example given for JSON, it only matches exactly `application/json` although it is a quit common real-world behaviour to send in an encoding, such as `application/json; charset=utf-8`.

Certainly one could ask what the behaviour for parsing parameters should b

[2017-05-01 01:12] dadatawajue opened #186 "Proper way to query URL params?"
I realize this probably belongs at StackOverflow, but I wonder if there is a cool 'chi' solution rather than a 'Go' solution, so I hope you don't mind me asking here..

Imagine you're building an image serving backend, where you can specify different parameters, such as:

`example.com/Jd8saD.jpg?width=420&height=320&fit=crop&rotate=90`

Each of these parameters (which could be included in any orde

[2017-05-02 01:09] pkieltyka commented on #186
Have a look at http://github.com/pressly/imgry

[2017-05-02 01:09] #186 closed

[2017-05-02 12:24] djui opened #188 "Using FileServer with a middleware is inconvenient"
Currently, when wanting to wrap `chi.FileServer` in a middleware such as BasicAuth one has to use one of two options, as the obvious one does not compile:

[code]

Given https://github.com/pressly/chi/pull/183 this makes me wondering: Why do the following return `chi.Router` interfaces instead of the `*chi.Mux` type? All of them instantiate `*chi.Mux`.

- `chi.With()`
- `chi.Group()`
- `chi.Route(

[2017-05-02 12:28] djui commented on #188
Or should `chi.FileServer()` be added to the `chi.Router` interfaces, which, given that it this feature was likely added after the interface, would now break currently implementations.

[2017-05-02 15:28] pkieltyka commented on #188
@djui `chi.FileServer()` is intended as a helper handler, not as something core. I took a slower step with it by first introducing it to the *Mux and not the Router.

[2017-05-02 15:40] djui commented on #188
@pkieltyka Understood. And for the second half: What do you say about `chi.With()`, `chi.Group()`, `chi.Route()` returning `*chi.Mux`? That should be backwards compatible, right?

[2017-05-02 15:44] pkieltyka commented on #188
@djui that isn't an option, better to add FileServer to Router. My priority is v3 roadmap

[2017-05-02 15:48] djui opened #189 "StripSlashes middleware prohibits FileServer"
When using the `StripSlashes` middleware globally, `FileServer` never matches, as the trailing slash is removed from the request path, but is required by the router as `/*` is added by FileServer.

I understand that this could be fixed by mounting two separate sub-trees, one with the `StripSlashes` middleware and one without. But my "base router" that I provide to the developers already includes a

[2017-05-02 15:50] pkieltyka commented on #189
@djui I suggest you write your own middlewares as you require. chi is a router at the core with some optional middlewares. Working through all the combinations of middlewares is a whack-a-mole game

[2017-05-02 15:50] #189 closed

[2017-05-02 15:50] pkieltyka commented on #189
chi only supports uses what is defined in the `Router` interface, otherwise it is a convenience / helper

[2017-05-02 15:51] #188 closed

[2017-05-02 21:35] pkieltyka commented on #185
you're right @djui - I'll add it to the v3 list

[2017-05-03 07:31] djui opened #190 "chi.FileServer does not server index.html when asking explicitly for it"
Using the example for `chi.FileServer` and adding a dummy `index.html`, when asking for `curl -i http://localhost:3333/files/index.html` the file is not served, but instead a redirect to `Location: ./` is given.

This behaviour does not occur with the original `http.FileServer`.

[2017-05-03 11:19] djui commented on #190
Seems like the default behaviour of `http.FileServer`.

[2017-05-03 11:19] #190 closed

[2017-05-12 01:46] hsluoyz opened #191 "Use casbin as the authorization plugin for chi"
Hi, I'm the author of [casbin](https://github.com/hsluoyz/casbin), a Go library for authorization based on access control policy. casbin supports multiple access control models like ACL, BLP, RBAC. The access control rules can be persisted into files, DB. In fact, It already has some successful stories on web frameworks like Beego, Tango here: https://github.com/hsluoyz/casbin#our-users. And a use

[2017-05-12 03:14] pkieltyka commented on #191
Hey Yang, I saw casbin and I think it's awesome! Yes I'd love to have a casabin middleware for chi - which really means a standard http middleware :)

[2017-05-12 08:02] hsluoyz commented on #191
Already sent a PR here: https://github.com/pressly/chi/pull/192. Please advise:)

[2017-05-12 08:21] wutaizeng opened #193 "http: multiple response.WriteHeader calls if called render.Status and json encode failed"
Cause the issue in:
https://github.com/pressly/chi/blob/master/render/responder.go#L102

[2017-05-12 14:23] VojtechVitek commented on #193
@wutaizeng thanks for reporting this issue. Are you going to submit a PR?

[2017-05-12 19:11] gabisurita opened #194 "Content Type application/json should not have a charset attribute"
According to RFC 4627 (https://tools.ietf.org/html/rfc4627#section-6), `aplication/json` content-type doesn't accept additional attributes and should always assume UTF-8 unless binary content-transfer-encoding is provided.

Currently chi renderer returns it as `application/json; charset=utf-8` which can break some client side checks.

[code]

[2017-05-13 18:23] #194 closed

[2017-05-13 18:37] #193 closed

[2017-05-13 18:42] pkieltyka commented on #191
Thanks :) I made a note about your community middleware in 898d761524954def9191dc8bea69191442581385

[2017-05-13 18:42] #191 closed

[2017-05-14 22:39] Banashek commented on #181
I'm currently facing this exact issue. @MrSpock how did you end up fixing the imports?

[2017-05-14 23:19] MrSpock commented on #181
Double check your import statements. My problem was made by VCS editor code completion tool and fact that I had in my $GOPATH two other packages that had render module :)
When go imports was launched on save it add wrong package to imports.

[2017-05-14 23:48] Banashek commented on #181
Yeah I'm using VCS and see the same thing when running `find . -name 'render'` as you did. So if the other package is being used in another project, do I just need to delete it while I'm working on this project?

[2017-05-15 09:29] MrSpock commented on #181
You don't have to delete any packages. Just add manually proper import statement for chi/render and don't depend  100% on VSC plugin autocompletion for imports.

[2017-05-15 11:42] dim opened #197 "Compress middleware typo"
https://github.com/pressly/chi/blob/d6e62c5988038810f90ecf82d09418f0353be73b/middleware/compress.go#L31 contains a trailing space

[2017-05-15 13:37] pkieltyka commented on #181
thanks @MrSpock for weighing in and offering the help.

[2017-05-15 13:38] #197 closed

[2017-05-15 17:54] Banashek commented on #181
Thanks for the help!

[2017-05-16 14:00] mihai-tiriplica-hs opened #198 "Proper Use of Timeout middleware"
The example for Timeout middleware doesn't really follow a normal usecase - handlers don't usually write on channels. I'm not sure how can I write a handler so that a timeout response will be returned.

If it helps this is my code:

[code]

Thank you!

[2017-05-16 14:46] VojtechVitek commented on #198
`middleware.Timeout(2 * time.Second)` sets timeout on `r.Context()`. After the timeout is reached, the context is canceled. You need to pass this context to the underlying logic to leverage the cancelation functionality.

Some examples:
- select on multiple channels, if you can receive processed data via channel, as in [example code](https://github.com/pressly/chi/blob/master/_examples/limits/main

[2017-05-16 15:17] pkieltyka commented on #198
hey @mihai-tiriplica-hs as @VojtechVitek mentioned, the `context.Context` really just signals to other contexts that the timeout has been reached, you have to stop processing on your own.

Some examples: https://github.com/pressly/chi/blob/master/_examples/limits/main.go#L58-L73
and for graceful shutdown: https://github.com/pressly/chi/blob/master/_examples/graceful/main.go

[2017-05-16 15:17] #198 closed

[2017-05-17 07:25] mihai-tiriplica-hs commented on #198
Got it, it was not very clear to me in the first place (not a lot of Go experience). Thank you!

[2017-05-18 08:55] peter-mogensen commented on #179
I haven't seen it explicitly mentioned, but...
What about support for custom HTTP methods?

[2017-05-21 16:30] tiriplicamihai commented on #179
Hi @pkieltyka, I would like to help with implementing something from the roadmap. Do you have any suggestions for the first contribution?

[2017-05-21 18:36] tiriplicamihai commented on #198
Coming back to this question (sorry for dual identity, the first one is the work account), I think there can be some improvements for the timeouts. For example, if the timeout is set to 30 seconds and I have an external call that takes 29 seconds and my processing takes 2 seconds then, if I understand correctly, no timeout will be raised even though the request took 31 seconds.
I read this article

[2017-05-21 23:14] pkieltyka commented on #179
hey @tiriplicamihai thanks for the offer to help! I have been working on a PR as the base for the v3 release which resolves #167 and soon after I'll work out the mechanics for #78 and #100. These are pretty deep into the mechanics of the trie inserting / finding algorithm so its probably best I just finish that off, but certainly it would help to get reviews, write more tests - and as well, would

[2017-05-22 07:05] tiriplicamihai commented on #179
Sure thing. For reviews you can cc me and I will look as soon as I can.
It's ok for me to write tests (actually I think it's the best way to get an
overview), again, just ping me or assign me an issue and I'll take care of
it.

On Mon, May 22, 2017 at 2:14 AM, Peter Kieltyka <notifications@github.com>
wrote:

--
Mihai Tiriplică

[2017-05-22 07:50] Bartuz opened #199 "Chi pronunciation?"
Is it Chai (like JS framework/tea) or more like [greek letter χῖ](https://en.wikipedia.org/wiki/Chi_(letter)) (hi)

[2017-05-22 15:32] pkieltyka commented on #199
hey @Bartuz I chose the word `chi` as a flow of energy at balance, from the word "qi" of Chinese culture.

phonetically it pronounced: ch-ee

thanks for asking :)

[2017-05-22 15:32] #199 closed

[2017-05-22 16:12] Bartuz commented on #199
@pkieltyka nice! Much deeper and thoughtful than rubyist's "capybara", "puma", "unicorn" and "raptor"

[2017-05-22 19:11] pkieltyka commented on #199
👍 thanks @Bartuz!

[2017-05-30 07:51] zbindenren opened #200 "Question: Is it possible to get the executed Handler through middleware?"
Hi

Is it possible to get the current handler name somehow?

[2017-05-30 12:50] pkieltyka commented on #200
See chi/docgen source

[2017-05-30 12:50] #200 closed

[2017-05-30 13:56] zbindenren commented on #200
@pkieltyka thanks for the quick response. I know I can traverse the routes with chi.Routes(), but that is not what I want.

I am trying to get the route context inside a middleware. I tried it with:
[code]
I wrote a prometheus middleware for chi. Right now i takes as tag, statuscode, url and method.
[code]
But with that approach I get a very large tag dimension (because every other option is anoth

[2017-06-01 03:29] keviswang opened #202 "How to handle file upload?"
When content-type is 'multipart/form-data' for file upload, how to handle?

[2017-06-01 13:36] pkieltyka commented on #202
hey @keviswang - this isn't really a chi-specific question, please check stackoverflow

[2017-06-01 13:36] #202 closed

[2017-06-03 16:10] pkieltyka commented on #179
Hey everyone, I just wanted to post an update on the status of v3’s development. I have a local version that implements #78, #100, and #167 - the most challenging issues of the bunch, with all tests passing. I’m pretty excited about this release as it makes chi’s routing even more flexible with support for `/articles/{month}-{day}-{year}-{slug}` and `/articles/{id}` on the same router. Once I fini

[2017-06-04 16:14] alinz commented on #179
@pkieltyka is there anyway to achieve adding or removing routes dynamically? One good scenario would be in microservice systems. once a service is online it registers its routes to chi and during shutdown down it removes those routes.

[2017-06-06 13:36] pkieltyka commented on #179
hey @alinz - good news is Chi already supports adding routes dynamically / at runtime. Although it does not support removing routes you can either create a middleware that returns a 500 response for when the service isn't available (not online), and toggle it back when it re-registers. It's possible to solve your scenario already with chi. Let me know if you need any help thinking through your app

[2017-06-10 21:07] dsincl12 commented on #185
Haha, just wasted hours on this one with vue-resource and Axios. nothing got to through to the api, postman worked flawlessly :)

[2017-06-11 01:55] #185 closed

[2017-06-11 01:55] pkieltyka commented on #185
@djui I just pushed a fix, please let me know if you continue to have issues

[2017-06-11 02:04] carlqt opened #203 "Custom handlers"
Hi,

This is more of a question rather than an issue. From what I can see, the `GET, POST etc...` all takes a `string` and an `http.HandlerFunc`... Is there  a way to handle custom handlers? Like from this gist https://gist.github.com/elithrar/5aef354a54ba71a32e23

[2017-06-11 05:19] djui commented on #185
Thanks Peter, that works.

I the meantime I wrote a Content type parser as we started to use vendor namespace resources and there the detecting JSON as suffix (`+json`) requires a bit more parsing than the split.
I also wanted to offer all parts (top-level type, subtype, suffix, and paremters) to the client so they can choose.

[2017-06-12 14:49] pkieltyka commented on #203
hey @carlqt yes I will make this possible in v3 :) and I will provide an example as well

[2017-06-12 15:02] VojtechVitek commented on #203
Imho, you can still use custom handlers's `http.HandlerFunc` explicitly:

[code]

[2017-06-12 16:53] kuronyago opened #204 "gzip"
Hello, sorry for the stupid question, but how correctly implement qzip compression

`r.Use(middleware.Compress(6, "gzip"))`
and nothing:

![screenshot from 2017-06-12 19-52-40](https://user-images.githubusercontent.com/25136476/27045153-c3e0dd38-4fa8-11e7-82de-a903b00c6e20.png)

[2017-06-12 17:01] VojtechVitek commented on #204
Try `r.Use(middleware.DefaultCompress)`

[2017-06-12 17:16] kuronyago commented on #204
similar result

[2017-06-13 13:48] PlkMarudny opened #205 "r.Use(render.SetContentType(render.ContentTypeJSON)) from the 'rest' example"
What does the line above do? For sure it does not set heades; "Content-Type: text/plain; charset=utf-8" is what /panic route returns.

[2017-06-13 22:16] pkieltyka commented on #205
@PlkMarudny it just hints to the render Responder that the content type should be JSON, the header is set right before the response body is sent back to the client, so long as you use `render.Respond()`

[2017-06-13 22:16] #205 closed

[2017-06-14 05:53] PlkMarudny commented on #205
But when I use:
`r.Use(render.SetContentType(render.ContentTypeJSON))`
and
`r.Get("/ping", func(w http.ResponseWriter, r *http.Request) {
		w.Write([]byte("{ response : pong }"))
		render.Respond(w, r, nil)
	})`

The headers returned are:
`HTTP/1.1 200 OK
Date: Wed, 14 Jun 2017 05:51:18 GMT
Content-Length: 24
Content-Type: text/plain; charset=utf-8
`

[2017-06-14 10:07] #203 closed

[2017-06-14 13:07] pkieltyka commented on #205
That's because when you call w.Write() it will send the header implicitly and the call to .Respond() will not then set the header. Remove the Write statement and it'll work.

[2017-06-14 13:08] PlkMarudny commented on #205
Thank you, got this reading sources.

[2017-06-15 15:15] VojtechVitek commented on #204
Pls provide full example code. `r.Use(middleware.DefaultCompress)` should work.

[2017-06-15 20:34] pkieltyka commented on #179
hey all, I've pushed the chi v3 branch here: https://github.com/pressly/chi/tree/v3

Its been a ton of work, but Im very happy to say it's almost finished, see checklist above for the progress. I've done some benchmarks too and the performance is the exact same as v2

[2017-06-16 19:46] kuronyago commented on #204
`package main

import (
	"github.com/pressly/chi"
	"github.com/pressly/chi/middleware"
	"html/template"
	"net/http"
	"path"
	"path/filepath"
)

var tpl = template.Must(template.ParseGlob("templates/*"))

func mainpage(w http.ResponseWriter, r *http.Request) {
	tpl.ExecuteTemplate(w, "mainpage.tpl", nil)
}

func main() {
	r := chi.NewRouter()
	//r.Use(middleware.Compress(6, "gzip"))
        r.Use(m

[2017-06-19 12:50] pkieltyka commented on #204
@kuronyago thanks for that. the `FileServer` is the one exception which is not like any other routing method.

@vojtechvitek perhaps we should remove the `FileServer` method as there has been a lot of confusion with it, and instead offer a helper snippet for people to write their own

[2017-06-19 18:54] VojtechVitek commented on #204
@pkieltyka sounds good to me, we can remove it for v3.0 and provide an example instead.

---

@kuronyago you'd have to set Content-Type header, so the Compress middleware knows whether it can compress the payload or not.

[code]

And same for the `r.FileServer()`, it would have to set the Content-Type header accordingly. Not sure what happens under the hood by default.

[2017-06-21 14:47] #204 closed

[2017-06-21 14:47] pkieltyka commented on #179
v3 is complete and released! also make sure to update your import paths to `github.com/go-chi/chi`

02e6bbdfd14640d8c1beb15ec3a38140400fb5c2

[2017-06-21 14:47] #179 closed

[2017-06-21 14:49] pkieltyka commented on #176
solved by v3 release 02e6bbdfd14640d8c1beb15ec3a38140400fb5c2 - specifically, check out the new `r.Method()` and `r.MethodFunc()` routing methods

See complete CHANGELOG for v3: https://github.com/go-chi/chi/blob/master/CHANGELOG.md

[2017-06-21 14:49] #176 closed

[2017-06-21 14:49] #174 closed

[2017-06-21 14:50] pkieltyka commented on #167
solved by v3 release 02e6bbdfd14640d8c1beb15ec3a38140400fb5c2

See complete CHANGELOG for v3: https://github.com/go-chi/chi/blob/master/CHANGELOG.md

[2017-06-21 14:50] #167 closed

[2017-06-21 14:50] pkieltyka commented on #78
solved by v3 release 02e6bbdfd14640d8c1beb15ec3a38140400fb5c2

See complete CHANGELOG for v3: https://github.com/go-chi/chi/blob/master/CHANGELOG.md

[2017-06-21 14:50] #78 closed

[2017-06-21 15:06] pkieltyka commented on #100
solved by v3 release 02e6bbdfd14640d8c1beb15ec3a38140400fb5c2

See complete CHANGELOG for v3: https://github.com/go-chi/chi/blob/master/CHANGELOG.md

[2017-06-21 15:06] #100 closed

[2017-06-21 18:46] pkieltyka commented on #175
thank you. Solved by 6de63865c67bdd894f399a5b2b80026954546802

[2017-06-21 18:46] #175 closed

[2017-06-21 18:49] pkieltyka commented on #134
hey guys, with the recent move to a dedicated org for chi projects to https://github.com/go-chi we can start thinking about a project specific to testing chi APIs

[2017-06-21 18:51] pkieltyka commented on #153
Im unable to reproduce the above issue with the latest master, but if you see it comes up again please re-open the ticket and I'll take a look asap.

[2017-06-24 08:38] valsor opened #209 "Building urls from named routes"
It would be nice to have a function for building urls from named routes. Like described in #179. Gorilla Mux and Echo have it and it's really helpful.

[2017-06-24 13:56] pkieltyka commented on #209
if someone feels like doing some open source work, this could be an excellent ticket to work on and PR :) especially if you're solving it for yourself.

the recap, the proposed design for a url route builder:

[code]

similar, but slightly different design..

[code]

[2017-06-24 14:28] hsluoyz opened #210 "Just curious: why the org is changed?"
I noticed that the org has been changed from pressly to go-chi. I'm curious why?

[2017-06-24 19:09] valsor commented on #209
I would take over this work with pleasure. Unfortunately I'm a beginner and don't have enough experience to contribute to such an excellent project.

[2017-06-25 15:20] hectorj opened #211 "Allow to range on UrlParams"
Hi :slightly_smiling_face: !

Before v3, I used to be able to do something like this:

[code]

Basically a middleware logging **every** URLParam, no matter the route.

But now `chi.Context.URLParams` is a `[]routeParams`: a slice of unexported struct type with unexported fields.

Is there a way to range on all URLParams' `key, value` in v3+ ? Is this something you would consider supporting again?

[2017-06-25 19:13] pkieltyka commented on #211
Sure I'll look into it soon

[2017-06-26 06:59] lwc opened #212 "Proposal: Split render out into it's own package"
Now that you have the `go-chi` org is it worth thinking about splitting `render` out into it's own package?

[2017-06-26 11:05] pkieltyka commented on #210
hey @hsluoyz - there are many subpkgs id like to include around chi, without bloating the core library, so my thinking was a clear and dedicated org for chi related subpkgs would be an easy way to organize those projects. Soon I will be moving other pkgs to go-chi org for jwt auth, logging, auth, raml-based doc generation, shutdown signaling, etc. For example, as proposed by #212 it also makes sen

[2017-06-26 11:05] #210 closed

[2017-06-26 11:06] pkieltyka commented on #212
interesting idea, I think this makes sense.

[2017-06-26 14:50] VojtechVitek commented on #212
SGTM

[2017-06-27 04:14] muei opened #214 "Just a Chinese translate!"
`go-chi`够吃，够吃就够了！
大道至简！

[2017-06-27 05:23] Xuanwo commented on #214
`够吃` in Chinese means `enough to eat`.

[2017-06-27 06:07] muei commented on #214
通俗易懂，诙谐幽默，又不失寓意，斯以为可也！
😆，其实我想说
`go-chi` is nice

[2017-06-27 07:22] venliong commented on #214
chi和echo/beego比起来，开发时会不会麻烦很多？
感觉从开发速度上比较的话，beego/macaron>echo/gin>chi/pure。
iris开发也很方便，就是编译出来的文件大很多。

[2017-06-27 07:25] muei commented on #214
大而全 or 小而美
看个人喜好！

[2017-06-27 07:25] #214 closed

[2017-06-27 11:41] rafaeljesus commented on #91
We are using at @hellofresh as well cc/ @italolelis

[2017-06-27 21:49] italolelis commented on #91
Janus Gateway is also using it: https://github.com/hellofresh/janus/blob/master/glide.yaml#L38
This is the gateway that powers the @hellofresh architecture.

[2017-06-28 06:55] stelund opened #215 "Suffix to variable match"
Hello,

When upgrading to chi 3 we noticed a suffix to a variable caused unexpected match.

Having routes for

- /articles/{id}.json
- /articles/{id}/data.json

will route /articles/123/data.json to the earlier handler with id as 123/data.

I've added a test for it, but am not sure where to approach tree.go for a solution.

[suffix-to-variable-test.txt](https://github.com/go-chi/chi/files/1107786/

[2017-06-28 07:59] stelund commented on #215
An update after talking to my college. We did not use this pattern for v2 but added the /articles/{id}.json as it was supported per the release notes.

[2017-06-28 14:30] #215 closed

[2017-06-29 00:30] brycereitano commented on #134
With v3 this method of testing won't work since URLParams is an unexported type and has removed `Add` method. Looking forward to some testing example.

[2017-06-29 03:35] kpurdon commented on #134
Closing since this would be implemented elsewhere and changes with V3 anyway.

[2017-06-29 03:35] #134 closed

[2017-06-29 09:05] niklasj opened #217 "Parameter with suffix fails to match"
Hi,

I noticed that patterns with parameters with tails other than / fail to match when the tail character occurs more than once in the suffix. For example, the pattern `/{foo}.json` matches `/a.json` as expected, but fails to match `/a.b.json`.

[2017-06-29 10:46] dvic opened #219 "Is Travis not used anymore?"
The repository is not found: https://travis-ci.org/go-chi/chi. Is Travis still being used?

[2017-06-29 14:23] pkieltyka commented on #134
thanks gents. @brycereitano its a good point - I was circling the decision if it makes sense to make URLParams writable, testing is a good example where it is helpful. I'll look into it again thanks

[2017-06-29 14:35] pkieltyka commented on #219
thanks. updated the reference.

[2017-06-29 14:35] #219 closed

[2017-06-29 15:29] hugows commented on #27
Was the example linked in https://github.com/pressly/chi/blob/master/_examples/rest/render/render.go integrated into rest/main.go?

[2017-06-29 15:48] pkieltyka commented on #27
@hugows yes exactly. Its now at: https://github.com/go-chi/chi/blob/master/_examples/rest/main.go

[2017-06-29 17:49] hugows commented on #27
So I'd like to understand if you prefer something like:

"render.RenderList(w, r, NewArticleListResponse(articles))

instead of something like unrolled/render does, based on interface{}...

Thanks for chi btw! :)

[2017-06-29 20:18] niklasj commented on #217
[Here's a patch](https://github.com/go-chi/chi/files/1113403/suffix_test.patch.txt) with tests for a (slightly contrived) scenario that showcases the issue. Routes with different handlers are added to:

- /archive/{file}.zip
- /archive/{file}.tar.gz
- /archive/{file}.{ext}

At the moment filenames containing a dot all end up in the third handler, even when they have a suffix .zip or .tar.gz.

[2017-06-30 15:02] dobegor opened #220 "HTTP method routing bug with overlapping static and parameter paths"
Given these endpoints:
[code]
Request `GET /users/me` fails with 405 Method Not Allowed, which obviously isn't true.

[2017-06-30 15:08] dobegor commented on #220
Small program to reproduce:
[code]

[2017-06-30 17:58] itsjamie opened #221 "Routing context using different URLParam name"
Chi version 2.1.0

We had routes registered in the Chi router like so..

[code]

When you output the route context it appears to be URL parameter name from the earlier route when parsing the playlist.

[code]

[2017-06-30 18:08] itsjamie commented on #221
We've resolved it by switching them both to `:resourceID` but is there a better way?

[2017-06-30 18:09] pkieltyka commented on #221
hey @itsjamie - the syntax changed from :param to {param} - did you have a chance to review the release notes? https://github.com/go-chi/chi/blob/master/CHANGELOG.md#v300-2017-06-21

let me know

[2017-06-30 18:11] itsjamie commented on #221
I'll update it to use chi v3 and see if we get the same behaviour. Thanks.

[2017-06-30 18:11] pkieltyka commented on #221
Oh, I see your issue now. Yes, this was a bug fixed in v3 :) see https://github.com/go-chi/chi/issues/179 for list of things fixed

[2017-06-30 18:11] #221 closed

[2017-06-30 19:08] itsjamie commented on #221
@pkieltyka Thank you very much for telling me it was fixed in v3. The change was pretty minimal for us, and it's fixed now!

💯

[2017-07-01 12:41] kendellfab commented on #220
I observed something like this as well.  The uri with parameters is sent to the wrong handler, so the parameters are pulled out of the uri incorrectly.

package main

import (
	"fmt"
	"net/http"

	"github.com/go-chi/chi"
)

func main() {
	r := chi.NewMux()

	r.Get("/comment/{slug}", func(w http.ResponseWriter, r *http.Request) {
		slug := chi.URLParam(r, "slug")
		id := chi.URLParam(r, "id")
		fmt

[2017-07-01 14:11] pkieltyka commented on #220
Interesting, something with the method routing is going on. I'll have a peak soon.

[2017-07-03 18:35] pkieltyka commented on #217
hey @niklasj thanks for the details.

parameter values in chi cannot contain the trailing character. For example in the routing path

`/articles/{file}.{ext}` the "file" param cannot contain a "." in it, as it considers the "." to be the terminating character of the param value. If you're looking for a customized handling of extensions, try out the URLFormat middleware (https://github.com/go-chi/c

[2017-07-03 18:35] #217 closed

[2017-07-04 19:53] pkieltyka commented on #212
Moved `render` and `docgen` to https://github.com/go-chi/

Links:
https://github.com/go-chi/render
https://github.com/go-chi/docgen

[2017-07-04 19:53] #212 closed

[2017-07-04 20:02] Advoskr commented on #220
I'm also dealing with this issue :( Hope you'll find solution soon. Here's what i have in my routing setup:
r.Post("/Dictionaries/{alias}", func(w http.ResponseWriter, r *http.Request) {
			alias := chi.URLParam(r, "alias")
})
r.Post("/Dictionaries/{alias}/Columns/{columnAlias}/{columnName}", func(w http.ResponseWriter, r *http.Request) {
			alias := chi.URLParam(r, "alias")
			columnAlias := chi.

[2017-07-05 14:28] VojtechVitek commented on #212
Warning: I plan to break the API in the new docgen pkg.

[2017-07-07 08:53] djui commented on #91
[Betalo](https://www.betalo.com) is using it for all its backend services.

[2017-07-07 10:21] alexmironof commented on #91
Example for [QOR SDK](https://github.com/qor/qor-example/tree/full_featured_ec) just moved from `Gin` to `Chi`

[2017-07-08 20:48] pkieltyka commented on #177
btw, the `chi/render` package has been moved to its own project repo at https://github.com/go-chi/render

Made a reference here https://github.com/go-chi/render/issues/1

[2017-07-08 22:14] pkieltyka commented on #211
hey @hectorj please let me know how this works out for you: 25201e8a886f7ef210501dfa55759d4c1fdf0cce

I've exported the URLParams underlying type so you can traverse it. You'll have to work with the new data structure, but the access is there.

[2017-07-08 22:14] #211 closed

[2017-07-09 20:59] JensRantil opened #225 "A lot of docgen functions are not documented"
Background: I was browsing https://godoc.org/github.com/go-chi/docgen to understand the different ways I could output API.

Problem: Most functions were/are undocumented.

Expected: They were documented and I could learn about what they do.

Proposed solution: Document them :)

[2017-07-09 21:10] JensRantil opened #226 "Generate API in Swagger format"
[Swagger/OpenAPI](https://swagger.io) is a very popular format for documenting, and generating clients, for APIs. Has there been any discussions about supporting Swagger generation? I couldn't find any issue for it.

[2017-07-09 21:31] VojtechVitek commented on #226
I'm working on RAML docgen right now for https://github.com/go-chi/docgen. Please open a new issue in the new project.

Swagger/OpenAPI format is very similar, it shouldn't be that hard to tweak the code once I have it working.

[2017-07-09 21:31] VojtechVitek commented on #225
Work in progress ;)

[2017-07-09 22:49] pkieltyka commented on #226
please open in docgen repo

[2017-07-09 22:49] #226 closed

[2017-07-09 23:17] pkieltyka commented on #220
Resolved by https://github.com/go-chi/chi/commit/49e7138cabd9e374dcbf1a3b56d3ba4a459763e2

[2017-07-09 23:17] #220 closed

[2017-07-10 07:45] JensRantil commented on #225
Closing this. See https://github.com/go-chi/docgen/issues/2 instead.

[2017-07-10 07:45] #225 closed

[2017-07-11 06:49] NikosEfthias opened #227 "What happened with pressly/chi?"
Is pressly/chi still maintained or should i update with this repo?

[2017-07-11 12:05] pkieltyka commented on #227
Please check releases notes / change log. Yes the repo moved to its own org

[2017-07-11 12:05] #227 closed

[2017-07-15 20:25] craigjackson opened #230 "Support route pattern quantity match (i.e. curly braces in regex expression)"
Attempting to use routes that specify the quantity to match in regex does not work. This looks to be related to the way finding curly braces (i.e. `{` and `}`) works in pattern segments:

https://github.com/go-chi/chi/blob/49e7138cabd9e374dcbf1a3b56d3ba4a459763e2/tree.go#L628

Here are two routes that fail in different ways from my expectations:

[code]

[2017-07-17 10:59] PlkMarudny opened #231 ""go.uber.org/zap" instead of logrus"
Would you consider switching the logging module to zap? It is faster and has one important feature (especially during development) - prints function name/line number

[2017-07-17 11:31] pkieltyka commented on #231
The project isn't set to any specific library. It's just the example that uses logrus. Feel free to copy the example and change to your needs

[2017-07-17 11:31] #231 closed

[2017-07-18 00:43] pkieltyka commented on #230
Thanks for the report. I'll get this supported eventually - PRs are welcome too from anyone interested :)

[2017-07-18 23:02] Labutin opened #232 "In REST example you pass *chi.Mux to docgen.MarkdownRoutesDoc"
In REST example ( https://github.com/go-chi/chi/blob/master/_examples/rest/main.go )  you pass *chi.Mux to docgen.MarkdownRoutesDoc but docgen.MarkdownRoutesDoc waits chi.Router

[2017-07-19 12:19] pkieltyka commented on #232
Hey Labutin, chi.Router is an interface and *chi.Mux's implementation adheres to that interface, so in Go you're able to pass objects to interface values that match.

[2017-07-19 12:19] #232 closed

[2017-07-20 18:24] mrbanzai opened #233 "httpFancyWriter.ReadFrom not recording bytes written"
In debugging an issue with the `resp_bytes_length` output from the request logger, I stumbled upon this block of code (which gets triggered by `io.Copy`): [https://github.com/go-chi/chi/blob/4c5a584b324b74af3e9cfeaf6265d14ae2fdfc99/middleware/wrap_writer.go#L112-L119](url)

It seems that this is not updating the bytes written on the `basicWriter`.  Is this intentional, or simply an oversight?

[2017-07-24 20:50] pkieltyka commented on #233
hey @mrbanzai what kind of issue are you running into with `resp_bytes_length`? have you tried the logging example? would you be able to provide some sample code for your issue?

[2017-07-24 21:36] mrbanzai commented on #233
I have tried the logging example.  For most operations, it works without issue.  I, however, encountered an issue when streaming a file through `cipher.StreamWriter` via `io.Copy` (for encrypting content to the response writer).  By tracing through the Go 1.8 source, I noticed that it uses `ReadFrom` if the writer supports it, which led me to the section of code referenced above.  I was able to co

[2017-07-24 21:46] VojtechVitek commented on #233
@mrbanzai nice catch! We'll be happy to accept Pull Request based on https://github.com/mrbanzai/chi/commit/9936a163a79d1ea4c634554c97bf38833fb403cf

[2017-07-24 22:01] pkieltyka commented on #233
great work @mrbanzai - thanks for this. Fixed in 54701e3e85d6b453cb5f10cea6f218e4d3e56b7e

[2017-07-24 22:01] #233 closed

[2017-07-26 11:53] shenshouer opened #236 "Can not use gopkg.in/cas.v1 in chi? How?"
Is there any way How to use gopkg.in/cas.v1 with chi ? The rep of cas.v1 is github.com/go-cas/cas

[2017-07-26 14:06] pkieltyka commented on #236
It sure can. Have a look at https://github.com/casbin/chi-authz for an example.

[2017-07-26 14:06] #236 closed

[2017-07-27 06:06] shenshouer commented on #236
I did not find any useful example for use gopkg.in/cas.v1 with the chi-authz  and chi.  The chi-authz is authorization and cas  is Authentication

[2017-07-27 08:51] shenshouer commented on #236
I made a PR for gopkg.in/cas.v1 to support at https://github.com/go-cas/cas/pull/13

[2017-07-31 10:01] zemirco commented on #200
I've got the same problem. This is also related to https://github.com/go-chi/chi/pull/20. I'd like to add metrics to Prometheus https://prometheus.io/. It is on the way to becoming the standard monitoring solutions in cloud systems.

I'm currently using gorilla mux but would like to switch because of the way chi handles subrouters. I've written a custom middleware for mux to deal with monitoring.

[2017-07-31 17:55] pkieltyka commented on #200
@zemirco its possible already .. like so:

[code]

please let me know how it goes .. yeay or nay

[2017-07-31 18:05] pkieltyka commented on #200
I just added `rctx.RoutePattern()` to master as well.

[2017-07-31 18:05] zemirco commented on #200
Looks promising! Cheers, will try.

[2017-07-31 18:15] zemirco commented on #200
Just checked the source code cause I wanted to fix the comment indentation here https://github.com/go-chi/chi/blob/master/context.go#L79. How about adding `go vet` and `golint` to travis? There are several issues.

[2017-07-31 19:25] zemirco commented on #200
Looks good! The solution works. I'm getting URLs like

[code]

That's what I wanted.

One minor thing 😄 What I do not want for my route handlers is what I want for my file server. I'm getting `/public/*` for all my files.

Here is my setup

[code]

Is it possible to get more information about the files being served?

[code]

[2017-07-31 19:50] VojtechVitek commented on #200
Try to get the filename from `r.URL.Path` request path.

[http.FileServer()](https://golang.org/pkg/net/http/#FileServer) doesn't implement anything that would give you better hints on the route/file itself.

[2017-07-31 19:53] pkieltyka commented on #200
@zemirco you'll have to build this yourself now :) we just offer support for core features. But what @VojtechVitek suggested makes sense.

[2017-07-31 20:00] zemirco commented on #200
Ok I thought there is a built in solution since I'm getting the real file `/public/javascript/common.js` when I'm logging `chi.RouteContext(r.Context())`.

[code]

I could totally build a simple check that tests for `/public/` and use `r.URL.Path` instead of the pattern.

👍

[2017-07-31 20:07] pkieltyka commented on #200
@zemirco yea, in your fileserver specific middleware, just grab chi.URLParam(r, "*")

[2017-08-01 00:49] shenshouer commented on #91
Autohome Inc. using it for the API server.

[2017-08-01 21:33] alehano opened #238 "HEAD for GET routes"
Standard go http router allows to do HEAD requests to GET endpoints  and return the same response but without body.
Chi response 405 for GET routes with HEAD method.

[2017-08-01 21:34] pkieltyka commented on #238
Your issue makes no sense at all. Please provide sample code.

[2017-08-01 21:34] pkieltyka commented on #238
I believe I understand you though however - make sure to specify .Get() and .Head() requests separately. 405 measures method is not allowed, which leads me to think you didnt define it.

[2017-08-02 04:49] alehano commented on #238
Yes, I can set .Get() and .Head() method for the same route. But It's duplicate code.
Maybe you can .GetHead() method or something like this?

[2017-08-02 07:17] NikosEfthias opened #239 "*Mux.Handle fails where identical http.Handle works with no problem"
i have the following sample code
[code]

when i switch comment lines from chi to http the browser always returns 404 regardless of the path but http works with no problem

[2017-08-02 08:27] Vektah commented on #238
A way to automatically respond to a HEAD request using the GET handler if a HEAD handler hasn't been provided would be nice :+1:

[2017-08-02 13:14] pkieltyka commented on #239
@NikosEfthias Id have to look into these details sometime. but, did you check the https://github.com/go-chi/chi/blob/master/_examples/fileserver/main.go example?

it's likely the semantics of Handle() are not identical between chi and http

[2017-08-02 13:19] pkieltyka commented on #238
@alehano I'll give this some more thought. I could add .GetHead() but, if they both point to the same handler then it will be up to the handler to ensure there is no message body returned based on `r.Method == "HEAD"` in the handler.

I could set an `EmptyBodyHandler` set as the default for a HEAD in that situation, unless overridden with a .Head(). The changes to logic is why chi settles to do le

[2017-08-02 13:28] alehano commented on #238
I love that chi lean and small.
Now I made a helper:
[code]
And it works as expected.  Bit it's doesn't looks nice, as well as adding .GetHead() to the chi.
Why not just make .Get() method like this:

[code]
Maybe with checking if Head() not already added.

[2017-08-02 13:35] pkieltyka commented on #238
@alehano it doesnt feel right to me to have GET and HEAD do the same thing as a default. But if others feel that is how it should work, I can make a concession for sure and add that line.

[2017-08-02 13:48] alehano commented on #238
@pkieltyka Ok, I also want to hear other thoughts.
For me, I don't see useful cases to have separate .Head() method. Because it must be the same as GET, but without body.

Btw Go http package has this:
https://github.com/golang/gofrontend/blob/master/libgo/go/net/http/transfer.go#L226
https://github.com/golang/gofrontend/blob/master/libgo/go/net/http/transfer.go#L105
https://github.com/golang/gofr

[2017-08-02 14:04] c2h5oh commented on #238
@pkieltyka he has a point:

https://www.w3.org/Protocols/rfc2616/rfc2616-sec9.html

emphasis mine.

[2017-08-02 14:05] DmitriyMV commented on #238
IIRC correctly neither gorilla/mux nor julienschmidt/httprouter do that, so the implicit conversion from GET to HEAD doesn't look THAT useful. I may be wrong about that and in no way state that this shouldn't be done. I'm just a bit concerned about additional work that app may need to do, and which is going to be wasted.

The standard mux analogy is interesting, but Go default mux have several pai

[2017-08-02 14:07] alehano commented on #238
One more reason of uselessness .Head(). For example, you want to add handler to .Head() for adding some Header values. But in this case it'll remove Content-Length header. So it's contradicts to RFC. Or you have to calculate Content-Length of correspondent GET method, which is unlikely
 somebody will do it.

[2017-08-02 14:12] DmitriyMV commented on #238
@alehano
Not exactly - https://stackoverflow.com/questions/3854842/content-length-header-with-head-requests

If our GET method result is dynamically generated - this clause can be averted.

[2017-08-02 14:19] alehano commented on #238
@DmitriyMV

What do you mean by additional work?

[2017-08-02 14:38] DmitriyMV commented on #238
Well - in case our GET request handler has to fetch data from remote sources (such as DB, storages, API) - our "implicit" HEAD handler which will be actually a GET handler and it will be forced to get and wait for the required data. And then discard it.

This is also concerning when we have cache system with complex rules - I can imagine the scenario when the cache gets invalidated two times - on

[2017-08-02 15:24] VojtechVitek commented on #238
If we do the automatic `HEAD` response, should we also think of having something similar for `OPTIONS`?

[2017-08-02 20:07] pkieltyka commented on #238
@DmitriyMV if we do set Head() on Get(), I would still allow users to override the Head handler by another explicit call to .Head() after the .Get(), so that should take care of it.

[2017-08-02 20:10] zemirco commented on #239
Try the following. It works for me serving static files from my `/public/` repo.

[code]

It might just be the missing asterisk `*`.

[2017-08-02 20:33] pkieltyka commented on #239
in that case, `http.Handle("/assets/*", http.StripPrefix("/assets/", http.FileServer(rice.MustFindBox("assets").HTTPBox())))` will probably work as well

[2017-08-03 06:28] Vektah commented on #238
Rather than get setting head, I was thinking more along the lines of a HEAD request falling through to get at request time:
 - If a HEAD handler is defined, use it. This makes optimisation possible / avoiding costly operations.
 - If a GET handler is defined, call it and throw the body away. Its extra work but http compliant without any work.
 - Otherwise send method not allowed

Additionally when

[2017-08-03 13:42] DmitriyMV commented on #238
Please, NO implicit settings. If I want this behavior I will enable it explicitly. Adding new method is better than redefining the existing ones.

I would also like to point out, that HEAD lookup time will increase depending on the size of existing GET routes.

[2017-08-03 13:51] Vektah commented on #238
What about something like
[code]

[2017-08-03 14:21] DmitriyMV commented on #238
I think it will be `router.MethodNotAllowed(chi.PromoteHeadToGet)`.

[2017-08-03 14:22] #239 closed

[2017-08-03 14:26] pkieltyka commented on #238
I think the approach that makes sense is:
1. Create new chi pkg-level `emptyBodyHandler` which just executes `w.Write(nil)`
2. Implicitly set the HEAD method in the Mux#Get method as so..
[code]

Users can still explicitly set the HEAD for a route with Mux#Head

thoughts?

[2017-08-03 14:31] DmitriyMV commented on #238
That solution will not set the headers which GET handlerFn could set. The problem as I see it currently is that we **want** the GET handler headers but we *do not want* GET handler body.

[2017-08-03 14:46] alehano commented on #238
[code]
Looks good. If it possible to implement that way. Standard go http (on which chi built), already get rid of body in case HEAD request. So, we dont need to invent bycicle, just need a way to set the same handler for two methods.

[2017-08-03 15:22] pkieltyka commented on #238
`router.MethodNotAllowed(chi.PromoteHeadToGet)` is clever way to enable this option but it might be too slick. I'll give this some more thought considering everyone's feedback. Thanks all.

[2017-08-03 15:28] VojtechVitek commented on #238
Another approach:

[code]

[code]

[2017-08-03 21:58] denyskoch opened #240 "Panic on RouterContext"
Hi, just updated chi sources and getting panic:

[code]

this panic happens when f.e. the StripSlashes middleware is used (actually when chi.RouteContext is used).

[2017-08-03 23:38] pkieltyka commented on #240
Show sample program

[2017-08-03 23:52] Vektah commented on #238
Yeah that would work, and it's pretty straightforward. The only thing I dont think like about it is it leaves the solo `Get` broken from a http perspective. We can catch it with a linter pass, but ideally the default is safe after configuring the router.

[2017-08-04 10:30] DmitriyMV commented on #238
No changing of the default behavior, please.

[2017-08-04 10:34] DmitriyMV commented on #238
The middleware approach looks interesting, but it implies that we didn't define any proper HEAD handlers. The MethodNotFound approach is "pay later" rather than "pay upfront". Personally, I prefer the former.

[2017-08-04 11:01] alehano commented on #238
This code doesn't work (wrong type)

[2017-08-04 15:02] VojtechVitek commented on #238
The code was just off top of my head, sorry. This should work, tho:

[code]

[2017-08-04 17:09] delicb commented on #240
I had same problem after upgrading to chi 3, but it turned out that I had imported middleware from `github.com/pressly/chi/middleware` (which I had in my `GOPATH`). Problem is that chi sets stuff to context and casts it when it is retrieved, but types are different because path is different, which is fine.

Once I fixed all import paths to use `github.com/go-chi/chi`, everything worked correctly.

[2017-08-05 09:30] denyskoch commented on #240
as @delicb noted, the imports were the issue, thanks!.
Updating imports to new repository fixes it.

[2017-08-05 09:30] #240 closed

[2017-08-05 10:16] alehano commented on #238
It doesn't work by default either.  You still have to have defined .Head() route. But if you have it, Go's standard library do all necessary work for trimming Body.

[2017-08-07 14:09] VojtechVitek commented on #238
Of course, that's why I used `r.GetHead()`, as a prototype.

Really? That's great, I didn't know that.

[2017-08-09 09:24] jutkko opened #242 "How do people pronounce this library?"
Is it only me who is confused about how to say "chi"? I am hearing at least two ways of pronouncing it. In Chinese, there is another way of saying it...

[2017-08-09 12:13] ustrajunior commented on #242
Hey, @jutkko.

You can check this issue about this: [Chi pronunciation?](https://github.com/go-chi/chi/issues/199).

[2017-08-09 14:58] pkieltyka commented on #242
you are welcome to pronounce it by your own rendition too :)

[2017-08-09 14:58] #242 closed

[2017-08-10 10:51] alehano commented on #91
Hi. I use chi in my web framework https://github.com/alehano/gobootstrap

[2017-08-11 13:19] hahanein opened #243 "Routes nested arbitrarily deep or matching slashes"
I'm wondering whether there's a standard story for solving the following problem.

I have a route like this:

[code]

And that's fine, except a genre here is a rose tree data structure that can have any number of subgenres and any subgenre can have any number of subgenres and so on and so forth. So in Gorilla I had to resort to match slashes like so:

[code]

Then I split that into a slice and use

[2017-08-11 13:30] pkieltyka commented on #243
Im not familiar with how Gorilla's semantics work. Can you some a psuedo code for the `handler` ?

why isn't `r.Get("/{someparameter}/genre/{genre}", GenreHandler)` sufficient? perhaps you also need the route `r.Get("/{someparameter}/genre", IndexGenreHandler)` in addition?

[2017-08-11 13:41] hahanein commented on #243
Maybe I'm doing something wrong but these would be possible GET requests:

[code]

As far as I understand it `r.Get("/{someparameter}/genre/{genre}", GenreHandler)` matches only the first example.

Here's some pseudocode for the handler:

[code]

[2017-08-14 15:03] gabiganam opened #244 "Is it possible to have routing based on header value using chi/mux?"
I currently use the mux and I route based on the HTTP method, like so:
![image](https://user-images.githubusercontent.com/28859646/29277512-84f0ca18-811a-11e7-9499-7b3f39f16fd4.png)

I would love to be able to add header-value or header-existence based routing in the same manner.
Is this possible using chi?
When I googled it I came across a different package that has such a feature: http://www.gor

[2017-08-14 15:05] pkieltyka commented on #244
hey sorry I dont understand the question. Are you saying you want to have dynamic routes depending on header-value of a request?

[2017-08-14 15:24] gabiganam commented on #244
I'm not sure what you mean by "dynamic", but yes.
For example I could have;
r.Header("Version", "1.2.3").Get("/some/uri/here", oldHandler)
r.Header("Version", "2.0").Get("/some/uri/here", newHandler)

Now assume my application has a header called "Version", then requests from version "1.2.3" will be handled by the "oldHandler" function, and version "2.0" will be handled by the "newHandler".
It wou

[2017-08-14 15:34] VojtechVitek commented on #244
Imho you should have two chi routers, one for each API version.

And then, have a simple multiplexer handler that will route to that specific router:

[code]

[2017-08-14 17:15] pkieltyka commented on #244
exactly @VojtechVitek - this is what I was going to suggest

[2017-08-14 17:15] #244 closed

[2017-08-15 08:06] gabiganam commented on #244
Sounds like a great solution for what I need :)

[2017-08-17 15:28] nicpottier commented on #230
Ran into this as well and willing to put together a PR.

How do we want this to work?

Seems we have two options, either require "escaping" the `{` and `}` characters somehow when you are trying to define a regex in a path, or require that variables must being with a non-digit, in which case we can test anything in `{}` for whether it starts with a digit and if so use it as a variable name and if

[2017-08-17 15:38] pkieltyka commented on #230
thanks @nicpottier - I believe we could update `patNextSegment()` method to parse `"/{first:[a-z]{4}}"` without any restriction. As you parse the tokens, if you determine two `{`'s where one isn't closed, then we skip the second, keep track and look for the outer closing bracket. In case the count is off, panic to inform the expression of the tree is invalid (as we do with other invalid routing pa

[2017-08-17 16:09] #230 closed

[2017-08-17 16:09] pkieltyka commented on #230
thanks @nicpottier for the PR!

[2017-08-17 18:53] kwojcicki opened #246 "chi router get parent route"
If I have a router that looks like this

[code]
How would I go about getting the path of r up to that point?

[2017-08-17 22:40] pkieltyka commented on #246
@kwojcicki in what context are you trying to get the route of r? from a request handler..? or exactly where your comment is. Can you elaborate on what you're trying to achieve?

[2017-08-18 00:30] kwojcicki commented on #246
@pkieltyka exactly there. I am using casbin (https://github.com/casbin/casbin) and I would like to generate the permissions alongside generating the route. However manually inserting the route makes it harder to maintain/somewhat tedious. So what i am looking to do is replace

[code]
with this:
r.Route("/test", func(r chi.Router) {
			r.Route("/123", func(r chi.Router) {

[2017-08-18 16:25] pkieltyka commented on #246
Chi doesn't offer that kind of api - if you really want this set a variable above, concat/ keep track and put it into the permission set. There are many ways to maintain a permission set for routes, what we've done at Pressly is made an ACL chi.Router which tracks and maintains the permission set, you should try the same. There is a closed issue in this project with some same code of that ACL rout

[2017-08-21 02:17] lwc commented on #238
The `emptyBodyHandler` in https://github.com/go-chi/chi/issues/238#issuecomment-319984775 isn't needed, looks like `ResponseWriter.Write` does nothing for `HEAD` requests  right in the [standard lib](
https://github.com/golang/go/blob/master/src/net/http/server.go#L353-L356).

Also, IMO it'd be simpler to update the HEAD request codepath to check for the existence of a GET handler  before returnin

[2017-08-22 14:33] pkieltyka commented on #238
cool. I will do something of this sort and send a PR

[2017-08-22 15:34] pkieltyka commented on #238
let me know what you guys think -- https://github.com/go-chi/chi/pull/247

[2017-08-22 17:52] pkieltyka commented on #238
fixed in 1b51a16ac893c99cc5978fca77249701129eedaf

[2017-08-22 18:04] DmitriyMV commented on #238
@pkieltyka Sigh. You just broke the backward compatibility. Can we please have any sort of switch to turn this off or on?

Also, please don't do things like that with future minor versions. I like chi, but with changes like this one, I will be forced to move my company projects away from it. Sorry.

[2017-08-22 18:13] pkieltyka commented on #238
@DmitriyMV are you referring to the `FindRoute()` definition change? or the fact that an undefined HEAD route will match its GET route? I believe by the RFC a HEAD should exist for GET routes: https://github.com/go-chi/chi/issues/238#issuecomment-319682229

You of course can still explicitly define a Head handler for a route, etc.

[2017-08-22 18:16] DmitriyMV commented on #238
I mean that I currently have custom defined `NotFoundHandler` handler and you just broke my code.

[2017-08-22 18:16] pkieltyka commented on #238
I have just released the change under https://github.com/go-chi/chi/tree/v3.2.0

You can use https://github.com/go-chi/chi/tree/v3.1.5 for compatibility with your app.

[2017-08-22 18:18] pkieltyka commented on #238
@DmitriyMV custom not found handlers still work as before, perhaps you had some weird logic handling HEAD requests in a custom not found handler? if so, perhaps setup a middleware looking for r.Method == "HEAD" and respond that way, which is a better approach (if you're doing some caching stuff)

again, we have version control for a reason

[2017-08-22 18:38] DmitriyMV commented on #238
@pkieltyka

This code:
[code]
Behaves differently after commit `1b51a16ac893c99cc5978fca77249701129eedaf`. Now there is no way to define such handler at all.

I agree about VCS point. But I also think, that inviting people to discuss breaking change, only to accept it unconditionally after two hours and no discussion is not a good way to have any sort of discussion.  Given the fact, that better so

[2017-08-22 19:09] pkieltyka commented on #238
indeed, that will not work as you've outlined there. But, Im not sure what you're trying to solve. Can you explain the logic you have where must have a MethodNotAllowed handler that checks for HEAD requests to execute some logic? can you describe your use case.

[2017-08-23 00:05] DmitriyMV commented on #238
CORS requests. I know you can use "/" - tho not every case. I also know that your new behavior actually contradicts RFC because we are still returning headers which we do not guarantee to not change between requests.

Anyway - the deed is done. I see no point in continuing this discussion. I wish you all the luck, but from now I will stay away from chi and advice my colleagues to do the same.

[2017-08-23 00:08] pkieltyka commented on #238
@DmitriyMV lol. have fun asshole. if you post another issue on chi though, dont expect a response.

[2017-08-23 03:09] pkieltyka commented on #238
an alternate approach: https://github.com/go-chi/chi/pull/248 - I do prefer its explicitness in setting this behaviour, as well better than MethodNotAllowed which feels like abusing the API.

[2017-08-23 15:35] pkieltyka commented on #238
one more approach: https://github.com/go-chi/chi/pull/249

[2017-08-23 16:18] pkieltyka commented on #238
@DmitriyMV / others - chi is a project Im obviously passionate about and I've spent a number of years designing and iterating with great care. I do my best to be responsive and take my time with implementations because I care about the architectural integrity of the project. However, like everyone else in OSS, I have tons of other responsibilities outside of this project and for the most part it's

[2017-08-23 17:06] DmitriyMV commented on #238
Look, I get it. I got angry too because I spent last 20 days tracking this issue, and searching for the better solution (I actually did look into RFCs and "headers problems"), even notifying you in your merge request about `explicit switch variable`, so you could think about it. Only to find it merged without any sort of answer, tho you yourself invited other people to discuss the proposed solutio

[2017-08-23 17:12] pkieltyka commented on #238
All good man. If you can look at https://github.com/go-chi/chi/pull/248 and let me know what you think - I am leaning towards that solution since it provides most flexibility to users through middleware. It adds a few APIs to deal with the routing during execution. It adds slightly more overhead for HEAD requests that use this middleware, but its negligible in a real-world scenario.

Also, check o

[2017-08-23 17:35] DmitriyMV commented on #238
I did - I actually was the one who linked this answer in this issue. There is the even direct answer to the question:

So even if your new solution is no longer breaks existing code, it still is incorrect. I only glanced at the code - do you really need to re-assign Routes every time?

I will look further into it, including the ability to change headers later this or next week. Currently, I tend t

[2017-08-23 17:40] pkieltyka commented on #238
I'll look into what is the correct behaviour of the HEAD later, that can be solved in the middleware impl. But regarding the PR, I will have to re-assign Routes each time to make sure the context state is valid before its routed, it its also just a pointer value so there isn't much overhead. I benchmarked the execution and it has negligible impact.

[2017-08-24 15:31] VojtechVitek commented on #238
I like both #248 and #249 solutions. But imho, I'm leaning towards the Middleware approach.

# #248 - Middleware approach
`FindHandler()` is something that might be very powerful for lot more use cases, where you can change the route dynamically based on request and/or context. However, it can introduce endless routing loop if used incorrectly. Do you guys have any more use cases where this could

[2017-08-24 16:37] DmitriyMV commented on #238
Regarding Config - judging from the source code it's done automatically for new sub-routers as long as you use Route method. If you wish to explicitly mount the sub-router - you will have to initialize it correctly.

While Config approach is simpler, the middleware approach is more explicit and doesn't introduce this fix into the Core. That alone will allow us to use correct "dirty" fix (documenti

[2017-08-24 16:57] pkieltyka commented on #238
yea, I think #248 is better too because it keeps the core lean and extends the api slightly to offer more power for people to program their own middlewares to change routing behaviour for their needs.

btw, @VojtechVitek - `FindHandler` requires the `*Context` because its actually doing routing through the tree, where it stores the url param values during traversal. Perhaps there is a better name

[2017-08-24 17:08] DmitriyMV commented on #238
@lwc  @alehano  @Vektah  @c2h5oh  any thoughts on the matter?

[2017-08-25 08:00] alehano commented on #238
I agree with @VojtechVitek thoughts. I prefer #248 approach.

[2017-08-25 17:35] hugows opened #250 "How to avoid globals in middlewares (ArticleCtx example) ?"
Hello,
I've been using the "methods inside db type" pattern to avoid globals in my server:

[code]

In this example, TokenCtx would need to receive a ref to Api.
Is there a way to do this without resorting to global references?

Thanks

[2017-08-25 17:51] pkieltyka commented on #250
hey @hugows - there are many ways you could design it - but its all for personal preference.

One idea is to check other open source projects to see how they manage project structure and passing references around to application state.

[2017-08-25 17:51] #250 closed

[2017-08-25 17:52] hugows commented on #250
Sorry, that was a very basic mistake (C style thinking), I was going to delete the issue.
Solution is of course to just write TokenCtx as such:

`func (api *Api) TokenCtx(next http.Handler) http.Handler {`

Thanks for Chi, again.
Hugo

[2017-08-25 18:03] VojtechVitek commented on #250
1. Method receiver, as you just pointed out
2. Pass the reference in the request Context
3. Global reference

[2017-08-25 19:56] flimzy opened #251 "Question: How to use StripSlashes in a Group"
I need to match an endpoint of the pattern `/bundle-{id}`, but some of my JS clients always add a trailing slash: `/bundle-{id}/`.  I'm trying to strip this with the `StripSlashes` middleware, but it's not effective:

[code]

If I uncomment the last line, with the nearly redundant route, it works as expected, but that ought not be necessary.

Am I doing something wrong?  Does the pattern match int

[2017-08-25 20:17] pkieltyka commented on #251
hey @flimzy it will be too late in the group as the code to find the routing handler from your path executes before that middleware. You will have to move this to the very top, not as an inline middleware like Group(). It's its a problem, just have both routes defined, `r.Handle("/bundle-{id}", bundleHandler)` and `r.Handle("/bundle-{id}/", bundleHandler)`

[2017-08-25 20:17] #251 closed

[2017-08-25 22:21] flimzy commented on #251
Thanks for the prompt reply!

[2017-08-27 02:49] tutley opened #252 "Error 404 whenever using URL parameters"
I'm having a really strange issue where I get a 404 error whenever I try to access a route with URL parameters. I've tried a ton of things at this point and so I thought I'd post here. I'm developing on Mac OS and using Go 1.8.3. Here's the routing section of my code, any help would be appreciated:

	r := chi.NewRouter()

	// Use Chi built-in middlewares
	r.Use(middleware.Logger)
	r.Use(middleware

[2017-08-27 18:43] advanderveer commented on #209
@pkieltyka I would like to take a shot at this. I do have a question about the design you propose, how would one go about reverse routing a router setup like this:

[code]

By labeling just the router as "articles" it doesn't seem possible to just reverse to an url without specifying the actual endpoint? Also, how about the start (*)?

One could also think of a solution that is more orthogonal, so

[2017-08-27 22:40] cardonator commented on #238
#248 is probably for the best. I think the concern above about starting to rely too much on Config is important. That probably best avoided for as long as possible.

[2017-08-28 12:33] stelund opened #253 "Using unsupported method"
I'm trying to implement support for unsupported http methods. Do you have any suggested solution rather than forking?

Maybe chi could support ANY method routing for explicit setup. So to add a route for e.g. PROPFIND a new function mux.AnyMethodRoute would be used which would use mANY. Then routeHTTP would fallback to mANY if no matching methodType could be found in methodMap.

In the end the res

[2017-08-28 13:33] pkieltyka commented on #253
hey @stelund - yea you'll have to fork it to add PROPFIND. There is a `Router.Method()` that takes the string of a method name, you can add PROPFIND to the methodMap and it'll just work.

[2017-08-28 13:34] pkieltyka commented on #253
perhaps what I'll do is export the methodMap so people can configure it themselves to add their own custom types.. they would have to specify their own constant too

[2017-08-28 13:35] pkieltyka commented on #253
I quickly took a look, it would be much more work than that as the methods are a bitmap - maybe some other day way into the future.

Why do you need PROPFIND? how come you cant use some other method?

[2017-08-28 13:44] stelund commented on #253
I'm writing a proxy which also need to pass through webdav requests.

Can I suggest an PR for an support any method that I mentioned?

[2017-08-28 13:45] pkieltyka commented on #253
Thanks for the offer - but it’s not a standard HTTP method from what I can see so I’d rather it not put it into the core

Just fork the project for now

On Aug 28, 2017, 9:44 AM -0400, Stefan Lundström <notifications@github.com>, wrote:

[2017-08-28 14:09] pkieltyka commented on #252
hey @tutley what version of chi are you using? we removed `FileServer` from the core as its too difficult to support, you will have to write your own implementation for routing files.

[2017-08-28 14:10] stelund commented on #253
OK, thanks!

[2017-08-28 14:10] #253 closed

[2017-08-28 14:13] pkieltyka commented on #252
many issues have been brought up with the `FileServer` and routing tree - as we can't peak into the fileserver routes, they cannot overlap

check https://github.com/go-chi/chi/issues?utf8=%E2%9C%93&q=is%3Aissue%20is%3Aclosed%20fileserver it might offer some hints for what others experienced and how they solved their issues

the best thing to do is write a custom FileServer method for your needs, s

[2017-08-28 14:13] #252 closed

[2017-08-28 19:31] tutley commented on #252
I'll check that out. I didn't think the fileserver would cause an issue becuase it has it's own stub ('/dist') but I'll try some things there (like just removing that line and seeing what happens with the API routes)

I'm using the fileserver that is exported by: https://github.com/elazarl/go-bindata-assetfs

I'd be open to not using a fileserver but instead using go-bindata to create a variable f

[2017-08-28 20:44] tutley commented on #252
Commenting out the r.FileServer doesn't seem to have changed anything. Still 404ing.

[2017-08-28 21:08] tutley commented on #252
OK, I updated to the correct project (go-chi/chi rather than pressly/chi) and implemented your fileserver function then called it like this:
FileServer(r, "/dist", assetFS())

And now url parameters are working. Thanks!

[2017-08-30 16:44] egtann commented on #91
We're using chi at [Abot](https://www.abotlabs.com) for our website and our back-end dashboard/APIs. https://www.abotlabs.com

[2017-08-30 20:56] pkieltyka commented on #238
please review #248 again when you guys have a sec

[2017-09-01 01:52] pkieltyka commented on #238
merged #248

[2017-09-01 01:52] #238 closed

[2017-09-01 09:05] DmitriyMV commented on #238
Thanks! :+1:

[2017-09-02 01:01] scrivy opened #256 "pronunciation?"
Is the pronunciation chi as in the Greek letter χ or qi as in the Chinese letter 氣?

https://en.wikipedia.org/wiki/Chi_(letter)
https://en.wikipedia.org/wiki/Qi

Very heated debate at work today.

[2017-09-02 01:08] VojtechVitek commented on #256
See https://github.com/go-chi/chi/issues/199#issuecomment-303135420

[2017-09-02 01:19] scrivy commented on #256
Shoot. Should have searched. Thanks

[2017-09-02 01:19] #256 closed

[2017-09-02 06:40] maknahar commented on #91
We are using chi at [Justickets](https://www.justickets.in) in a couple of services.

[2017-09-02 10:55] hugows commented on #256
So https://www.youtube.com/watch?v=_dz7CIYQXcg ?

[2017-09-05 05:38] vincentserpoul opened #257 "querystring?"
I don't see any docs on querystring params.
Are we supposed to parse it like any URL pattern?
It would be worse giving an example with it in the test/docs/examples.

[2017-09-05 10:13] DisruptiveMind commented on #257
@vincentserpoul you can still use `request.URL.Query().Get(...)`

[2017-09-05 10:56] #257 closed

[2017-09-07 05:40] zbindenren commented on #153
@pkieltyka I have the same issue with the latest releases. I open the issue with the reproducer for the docgen repo.

[2017-09-13 17:12] VojtechVitek opened #260 "Mount() doesn't match root path of the sub-router"
Given
[code]

How come `localhost:9876/path/` is not matched and returns 404?
[code]

Brought up in #259 by @hovhannest.

[2017-09-17 11:29] gurre opened #261 "Variable shadowing in examples"
There is a lot of variable shadowing in the examples files. It makes the code harder to read.

https://github.com/go-chi/chi/blob/master/_examples/limits/main.go

[2017-09-18 00:14] pkieltyka commented on #261
thanks, but I disagree. I find it to be minimal and easy to follow with some experience with `context`

[2017-09-18 00:14] #261 closed

[2017-09-18 03:43] Vektah commented on #261
I think this kind of shadowing is preferred:
[code]

not shadowing can lead to bugs like:
[code]

Now the middleware dosent apply to anything

The same logic applies to "shadowing" testing `t.Run(func(t *testing.T) {})`.

[2017-09-21 10:58] luweimy opened #262 "can not open `debug/pprof` use chi middleware profiler"
[code]

[2017-09-21 16:35] pkieltyka commented on #262
what is the error? its just a redirect

[2017-09-25 02:25] chenjie4255 opened #263 "cors middleware doesn't work with subgroup"
[code]

using postman to simulate a options request and I got a 405 response code. everything work fine only if I remove the subGroup.

env:golang1.9

[2017-09-25 16:49] tboerger opened #264 "Accept LOCK and UNLOCK methods?"
I would like to build a terraform remote store based on chi, but for that I need 2 api endpoints with the above methods. Should I create a pr for that?

[2017-09-25 16:56] tboerger commented on #264
For reference, I want to implement this api: https://www.terraform.io/docs/backends/types/http.html

[2017-09-27 07:03] olihey commented on #260
Any fix for this?
I just went into the exact same issue and the only way I could fix it was to use
```r.Mount("/path/", MyRouter())```
but then `localhost:9876/path` fails, of course 😢