[2020-11-24 14:23] #548 closed

[2020-11-24 14:33] pkieltyka commented on #550
hey @NonLogicalDev --

In general, the wildcard pattern in the route must be specified as `*`, and it will capture everything as you'd expect with the "*", and you can retrieve that data with `chi.URLParam(r, "*")`

However, I see you're using mux.Route(), but I'm not sure why you're specifying `nil` as the second argument? I think I should actually panic and warn the user if they pass nil as I do

[2020-11-24 14:37] pkieltyka commented on #550
Fix in https://github.com/go-chi/chi/pull/552

[2020-11-24 15:04] pkieltyka commented on #551
There may be a very small edge case for the extra "/" which is matching with the regexp. Feel free to submit a PR with a test included.

[2020-11-24 19:42] NonLogicalDev commented on #550
@pkieltyka My bad, for using this weird pattern, did not realize somehow that it was just a sugar on top of `Mount`.

I coded up an test example, which seems to work as expected now:
[code]
[code]

[2020-11-24 19:57] pkieltyka commented on #550
@NonLogicalDev can you update your example against master (now that https://github.com/go-chi/chi/pull/552 is merged) ?

[2020-11-24 19:59] pkieltyka commented on #550
I believe what you want is..

[code]

note that this code is equivalent:

[code]

[2020-11-24 20:12] NonLogicalDev commented on #550
@pkieltyka I updated the test-cases to print expected values

[2020-11-24 20:38] pkieltyka commented on #550
@NonLogicalDev as of the fix (on master), you example panics due to the error I mentioned:

[code]

please make sure to use master now that I force the correct usage

[2020-11-24 20:39] NonLogicalDev commented on #550
@pkieltyka True, I can take out `case1` but all other cases experience the same problem.

[2020-11-24 20:55] pkieltyka commented on #550
Okay, I think I found the small edge case... see below

See below..

[code]

run it: `go run .`

**test runs:**

[code]
^-- **expected by design**

[code]
^--- **expected by design**, as the pattern is `/bare/{param}/*`, whereby `/bare/{param}/` will match the "hi" and the `*` will match the "wildddddddd"

[code]
^--- **bug!** the "*" param should be empty here

[code]
^--- **expected by design**

[2020-11-24 20:58] NonLogicalDev commented on #550
@pkieltyka Yes! that is the underlying issue I was trying to report =] Thank you for being so prompt and working with me on this!

[2020-11-24 21:05] NonLogicalDev commented on #550
Cleaned up the issue description.

[2020-11-24 21:20] pkieltyka commented on #550
should be fixed in https://github.com/go-chi/chi/pull/553

lmk

[2020-11-25 02:12] #550 closed

[2020-11-26 15:34] destag opened #556 "Ambiguous trailing slash matching"
I've found out that chi matches request with trailing slash depending on whether the matching route is root of sub-router.

[code]

Output of the above example:
[code]

`user/` hasn't been matched because of trailing slash but `nested/user/` has been matched despite of it.
My expected behavior is that none of the trailing slash requests should be matched.

If it is not a bug then, in my opinion, t

[2020-11-28 15:32] lunny opened #557 "If no any handler defined, then all middlewares will be ignored but it should not."
Ref: https://github.com/go-gitea/gitea/issues/13725

When building a router, static files are handled in a middleware and there is no any handler. Then all middlewares are ignored. But I think that should NOT be expected. Middlewares should be always executed because it may send response but not continue the chain.

https://github.com/go-chi/chi/blob/master/mux.go#L60-L65

[2020-11-29 00:00] pkieltyka commented on #557
How are static file routes handled without a route? Can you post example

[2020-11-29 01:55] lunny commented on #557
One example from Gitea is here https://github.com/go-gitea/gitea/blob/master/routers/routes/chi.go#L118 . The middleware will check the METHOD and request path prefix to decide if `next` will be invoked or just write to response.

[2020-11-29 19:53] mariusor opened #558 "Cleaning the Request URL?"
Hello, I have a small issue but I'm not sure it's not desired behaviour. I've looked through the examples and issues and couldn't find anything relevant.

Basically I am wondering what the stance is for URLs with non-canonical paths. As an example I have two routes:

    /users
    /users/{id}

If by mistake someone types `//users` as the path of the request, it will resolve to the second route in

[2020-11-29 20:25] pkieltyka commented on #557
After further investigation, the chi implementation and design is correct. You'll need to define a handler/route in order to use the Mux. Alternatively you can use chi.Chain(middlewares), however, this as well requires a http.Handler or http.HandlerFunc.

I understand the point you bring up and from outside seems reasonable at first glance, but for the purposes of "correctness" and efficiency, the

[2020-11-29 20:25] #557 closed

[2020-11-29 20:39] pkieltyka commented on #558
hmm, if the user passes "//users", it will resolve to a 404/Not found -- how did you make it resolve to either endpoint? Please provide a mini-example main.go (copy _examples/hello-world and modify to demonstrate the resolution you're seeing)

If you'd like to clean the url path, you can write a middleware.. here's a quick one I just whipped up:

[code]

[2020-11-29 20:39] #558 closed

[2020-11-29 20:44] pkieltyka commented on #556
thanks @destag `nested/user/` matches because of the `r.Get("/", welcome)` on the `/user` subrouter. It's true this could be a bit more explicit in the README, thanks for bringing up the issue so hopefully others can read and learn from it in the future.

[2020-11-29 20:44] #556 closed

[2020-11-29 20:53] pkieltyka commented on #558
also FYI: https://github.com/go-chi/chi/commit/5fe292dcdcd32fe71fba2b35ba664e3420d50349

[2020-11-30 01:07] lunny commented on #557
I don't think so. I think maybe it's better to panic if there is no any handler rather than ignoring all the middlewares and always handle NotFound handler.

[2020-11-30 02:06] pkieltyka commented on #557
Or perhaps return a 5xx error instead of a panic

[2020-11-30 09:02] mariusor commented on #558
Thank you.

[2020-11-30 12:37] mariusor commented on #558
@pkieltyka the example is wrong though, you need to clean the path outside of the `if` block.

[2020-11-30 14:28] pkieltyka commented on #558
@mariusor the example is correct. Give it a try first.

[2020-12-01 10:01] mariusor commented on #558
The call to path.Clean is done only if `rctx.RoutePath` is an empty string. From what I can see the Request Context is already populated with the request path at the time when the middlewares are being invoked, but maybe I'm missing something.

[2020-12-03 04:10] zikaeroh commented on #462
Color me a bit confused, but I see now that there's a new tag v1.5.0 after v4.1.2. This does get picked as the "latest" in a new project without `chi`, but in an exiting that's at `v4`, go get with `@latest` won't do anything as I believe it thinks it's a downgrade. Once at v1.5.0, it at least doesn't attempt to go back to the `+incompatible` series, which is nice, at least.

If I do `go get -d gi

[2020-12-05 15:24] #336 closed

[2020-12-05 15:26] pkieltyka commented on #509
@e-zhydzetski just checking if you have any final recommendations for this ticket? I'd prefer to not worry about go 1.12-, as users can use an older version of chi if they require, and Go's backwards-compat promise then developers will just upgrade to the latest and greatest Go, thus, Chi only cares about the last 2 versions of Go for "official" support. Can we adapt `ServerBaseContext` so it avoi

[2020-12-05 15:37] pkieltyka commented on #530
thx for the report + fix

[2020-12-05 15:37] #530 closed

[2020-12-05 15:43] e-zhydzetski commented on #509
I would recommend to remove this ambiguous feature in favour of standard library.

[2020-12-05 18:38] pkieltyka commented on #538
Fixed in https://github.com/go-chi/chi/commit/3479a89b95fc9b97f931da6f9f8bbc8c2c636817

[2020-12-05 18:38] #538 closed

[2020-12-05 19:07] #504 closed

[2020-12-05 19:59] pkieltyka commented on #509
done

[2020-12-05 19:59] #509 closed

[2020-12-06 18:50] pkieltyka commented on #462
Hey all, chi now has go.mod support! Please see https://github.com/go-chi/chi/pull/560 -- thanks for your patience. Please read the PR description for more information on the versioning update.

[2020-12-06 18:50] #462 closed

[2020-12-06 23:30] zikaeroh commented on #462
Unfortunately, this does not play nicely when other dependencies I have depend on "newer" versions of chi by version.

Somewhere in my dependency tree, a dependency requests at least `v3.3.2+incompatible`, which prevents me from adding `v1.5.0` or `v1.5.1` without a replacement clause, as the go tool sees `v3.3.2+incompatible` as a higher compatible version when tidying things and therefore upgrad

[2020-12-06 23:37] zikaeroh commented on #462
Go at tip has better messages when moving between versions. Here's what's happening to me:

[code]

[2020-12-07 00:02] umputun opened #561 "chi@v1.5.x mod issues"
I have tried to switch to v1.5.0 from v4.1.2+incompatible but because the version number decreased it caused a downgrade of all other dependencies using chi. For example, I have started with this:

[code]

After running `go get github.com/go-chi/chi@v1.5.1` I got:

[code]
As you can see my `pkg/rest` downgraded to some old version and such side effects can be very unexpected and unpleasant.

Is th

[2020-12-07 02:42] pkieltyka commented on #462
Sorry to hear you're having trouble with the upgrade. I believe part of the issue is go module cache. With Go 1.16 and retractable versions this will definitely get smoother, but you can try to remove from go.mod and go.sum the incompatible versions and then add @v1.5.1 -- lmk how it goes

[2020-12-07 02:47] zikaeroh commented on #462
That's the first thing I tried, yes. I cleared my entire mod cache and even used `GOPROXY=direct` to bypass the proxy.

I'm pretty certain v1.5.1 is treated as before v3.3.2+incompatible when it comes to Go's sorting of versions.

For experimentation, I edited my `go.mod` to exclude every version from 3.3.2 and above to simulate what'd happen if those versions were retracted:

[code]

But the comp

[2020-12-07 02:54] zikaeroh commented on #462
Clarification, Go 1.16 with that list of excludes does actually compile after a `go mod tidy`. But I'm not really counting on it working without also having the `exclude` lines to drop things, as if and v1.5.1 and v3.3.2+incompatible are in the requirements graph, v3.3.2+incompatible will be chosen as it is still semantically newer than v1.5.1, as v0, v1, and `+incompatible` are all considered to

[2020-12-07 03:16] pkieltyka commented on #561
Sorry for the trouble -- I realize this is an usual change, but unfortunately the versioning nuance pre-date go.mod's existence. For dependencies which themselves depend on chi, they will have to be updated to chi@v1.5.1 as well, in order to make use of the new go.mod version -- which is confusing by "numbers", but is the same in either case if a new v5 was released just the same.

As for the reas

[2020-12-07 03:54] pkieltyka commented on #462
thanks for helping debug. Once github.com/99designs/gqlgen upgrades to chi@v1.5.1, you'll be able to upgrade comfortably. The issue is when other dependencies, depend on chi@v4+incompatible, the go mod tool will force the chi version to the dependency's version of chi -- I believe this is happening because they're the same import path.

The silver lining here is that chi doesn't change much betwee

[2020-12-07 04:07] zikaeroh commented on #462
Yes, exactly, because v1.5.1 is still semantically lower than any of the +incompatible versions. That's why I'm saying this is going to turn out to not be so fun to handle, if the ecosystem needs to collectively forget about all of the versions released in the past few years when the tooling is fighting against it.

I'm going to try and submit a PR to gqlgen to modify the version to try and make i

[2020-12-07 05:47] umputun commented on #561
thx, I just read the discussion in #462 and @zikaeroh summarized it nicely - "v1.5.1 is still semantically lower than any of the +incompatible versions. That's why I'm saying this is going to turn out to not be so fun to handle...". It is indeed not fun and even worse, because in my case an innocent-looking and minor update of the chi module triggered a chain reaction downgrading other dependencie

[2020-12-07 05:54] zikaeroh commented on #561
Doing so with a `go.mod` will require the import path to be `github.com/go-chi/chi/v5`. You cannot tag a version above v1 with modules and avoid having the version in the path. Only legacy code (as chi was before) can do that. (My opinion is that doing `/v5` would probably cause fewer issues than this version hacking; we'll see what happens with this current plan.)

[2020-12-07 06:03] umputun commented on #561
Completely agree. I have migrated a dozen libraries from pre-mod to post-mod world with /v2 path change and had no problem with this approach. It feels odd and ugly but works fine and safe

[2020-12-07 06:16] lwc commented on #462
@zikaeroh @pkieltyka I've updated chi on gqlgen master, let me know how it goes, if it's all good i'll cut a proper release for gqlgen.

[2020-12-07 06:18] zikaeroh commented on #462
Thanks for that merge. I've already bumped it up in my project that uses gqlgen without issue. Hopefully I don't import anything else still using the old `chi` code. :slightly_smiling_face:

[2020-12-07 09:23] frederikhors commented on #561
I agree too.

@pkieltyka please release v5 and start from there, please. "Downlograding" to `v1.5.1` in a medium project changes all the dependencies to lower ones, as already reported by @umputun. It's a mess!

Please reconsider and use `v5` from now on. Nobody will care about the change from 1 to 5, trust me, it just works!

[2020-12-07 14:39] pkieltyka commented on #462
Hi all, I've just tried gqlgen@master and seems to work with chi@v1.5.1

Here is my general upgrade path for a project:
1. `go mod graph | grep "go-chi/chi"` -- prints the graph and shows packages on the left which depend on chi
2. Assuming all sub-deps are upgraded to chi@v1.5.1, you can just run `go get -u`, but, for more clear upgrade path then, for each package which depends on chi, first ensu

[2020-12-07 14:47] pkieltyka commented on #561
hey all, sorry again for these troubles. It upsets me as well to see others having trouble with it. I sure wish go.mod was a thing before chi was created.

@frederikhors yes, the downgrading is quite annoying and crazy. However, @zikaeroh helped point out the source of the issue -- which is that in your project if there is a dependency which depends on chi@v3+incompat or chi@v4+incompat, and you t

[2020-12-07 15:08] frederikhors commented on #561
So I have to contact the author of each project and explain that he has to upgrade a dependency using in fact a downgrade.

And that he must be careful before doing so by making sure that each of his dependencies are in turn upgraded to a downgraded version.

All this recursively.

We can't use `v5` and we are all happier and that is the end of this story? :smile:

[2020-12-07 15:09] frederikhors commented on #561
I love `chi`, please.

[2020-12-07 15:10] pkieltyka commented on #561
@frederikhors can you post your dep graph that uses chi? In general, it shouldn't be a child dep of very many packages, nor should be very deep.

[2020-12-07 15:59] frederikhors commented on #561
I cannot because it's corporate. I'm very sorry about this. And I'm very curious about the new fix for less allocations!

[2020-12-07 16:25] bcmills commented on #462
@zikaeroh, lazy loading will also help with pruning out spurious transitive dependencies, but unfortunately I didn't get that finished in time for 1.16. 😞

[2020-12-07 17:29] umputun commented on #561
@pkieltyka this is my graph for one of the small services (I have used fake names because this is an internal project) :

[code]
As you can see even in a small project I have 2 different issues with v1.5.x migration:

1. `thirdparty.com/sys/authenticator` - the module is external, there is no way for me to force the migration of this one to v1.5.x
2 `pkg/rest` seems to be used by some other module

[2020-12-07 22:39] carldunham commented on #561
Just to throw in another wrinkle here, we have to fix our version of github.com/99designs/gqlgen to 0.11.3 due to a bug that hasn't been fixed there yet. While we could fork and apply the very nice PR that fixes the bug, and would include chi 1.5.1, we would prefer not to. So that also leaves us unable to upgrade chi on any other packages for now.

Not the end of the world, but it hurts to see int

[2020-12-09 14:35] VojtechVitek commented on #561
Here's my report upgrading pretty large project using Go 1.15.

[code]

[code]

This has removed `github.com/mailgun/mailgun-go` pkg because [mailgun depends on chi v4.x.x](https://github.com/mailgun/mailgun-go/blob/master/go.mod#L9). And in our project, we use v3 of this library, while the upstream is on v4 already. This will be interesting.

We use `/vendor` directory in our project. So I tried

[2020-12-09 17:33] frederikhors commented on #561
@VojtechVitek we all appreciate @pkieltyka's work: **Chi is amazing**! This is why I insist on v5 to close this once and for all.

[2020-12-09 17:57] mfcochauxlaberge commented on #561
Yes, please, this should be v5.

[2020-12-09 18:03] mfridman commented on #561
From what I understand, this _might_ be less of a problem in the future with 1.16 and 1.17

Where in 1.16 your internal project can use `v1.5.x` while upstream dependencies continue to use `v4.0.0+incompatible`. This is with the `exclude` directive.

Now the more interesting bit will come in Go 1.17 with "lazy loading". more info [cmd/go: lazy module loading](https://github.com/golang/go/issues/36

[2020-12-16 02:30] luisfelipesdn12 commented on #91
Somebody could tell me how can I deploy my application made with chi?

[2020-12-16 09:46] programmer04 commented on #561
I have also dependencies in my project which depend on chi:
[code]

[2020-12-16 16:06] jones2026 commented on #561
Another issue with this new version is any automated dependency management tools (i.e. renovate, dependabot, etc...) all want to "upgrade" chi to v4.x.x from v1.5.x since it sees this as semantically lower.

[2020-12-16 21:03] jones2026 commented on #561
@bcmills is that available now or is that coming in release 1.16 for Go? I definitely agree if Go has a way to not pull in deprecated packages and these older versions are marked as such then the tools need to adjust

[2020-12-16 21:12] bcmills commented on #561
@jones2026, `cmd/go` retraction support is coming in 1.16.

[2020-12-16 21:42] dominikbraun commented on #561
Please don't do this. Referring to the [PR that introduced this change](https://github.com/go-chi/chi/pull/560):

This will be a huge red flag for any serious project maintainer. When a new "minor" version is released, VS Code and Dependabot will ask people to update chi, and then the projects will be broken because the release introduces breaking changes. Or even crazier, they want to update to v

[2020-12-16 23:11] jones2026 commented on #561
@bcmills do you know if those go commands will guarantee to return a list of versions in the correct order if semantic versions are not trusted? Or is it only possible to get the `latest` release with those? Hoping to make a PR into renovate to make sure it behaves the correct way

[2020-12-17 02:51] pkieltyka commented on #561
hey all, thanks for the feedback on this issue. It’s unfortunate there are a combination of hiccups — mainly that Go is downgrading other packages unexpectedly, which I agree is a big problem.

I do not want to release /v5 and see it on the import path. Rather I’ll probably remove the go.mod support and go back to incompatible mod version tomorrow from v4.x. I hope one day Go’s module support will

[2020-12-17 02:59] zikaeroh commented on #561
If the retraction system in 1.16 works, then it would alleviate this; I'd almost personally rather things stay as they are and maybe see how that goes (mod file and 1.5, some people can't upgrade) than to switch more than once between not having mod support and having mod support.

I can't recall if it'll work, but it'd be interesting if the retract directive could be put in the go.mod now (even t

[2020-12-17 04:03] carldunham commented on #561
Honestly, I don’t think the aesthetics of /v5 is all that bad. It’s the cool new version for the cool kids. And I would prefer it to the aesthetics of +incompatible blah-di-blah and all the drama around this so far.

[2020-12-17 05:29] unitrq commented on #561
Could changing package name (forking) be an option? This would provide lagging dependencies with time to adjust, while those who depend directly on chi could move forward with it

[2020-12-17 06:26] chesnokovilya commented on #561
Could we keep version v1.5.1? I already upgraded and its works fine for me.

[2020-12-17 08:11] frederikhors commented on #561
Yeah! Let's call it different!

[2020-12-17 16:09] guiferpa commented on #91
@luisfelipesdn12 I think that this question could be another issue.

[2020-12-17 16:15] 6543 commented on #91
[gitea](https://github.com/go-gitea/gitea) is switching to it

[2020-12-17 17:36] umputun commented on #561
I'm not sure why you are considering /v5 as a bad thing. I have read previous discussions, and my impression - you don't like the aesthetics of the package name, including `/v5` in. Yes, it will be in the import path, but so what? This is how go.mod handles major version updates and seems to be as idiomatic as it gets. For the chi, which I consider to be a very idiomatic routing library, following

[2020-12-17 17:41] frederikhors commented on #561
@umputun I love you!

[2020-12-17 19:10] luisfelipesdn12 opened #563 "How can I deploy my API made with Chi?"
How you guys deployed your applications? It's possible with the `File Manager` of and regular cPanel? What process I must do?

[2020-12-17 19:15] pkieltyka commented on #563
hey @luisfelipesdn12 there are many options, I'd suggest to check out DigitalOcean or Heroku to deploy your chi web service.

Search "digitalocean how to deploy docker golang container" or "digitalocean how to deploy docker go container". Surprisingly though I'm not finding as good of content as I'd expect out there, but DigitalOcean + docker is a fine choice and should be easy.

Another approach

[2020-12-18 14:16] pkieltyka commented on #561
I'm keen to try Go 1.16's retract system to see if it'll alleviate the bumps from this change. Until that time I'd recommend to avoid upgrading to chi v1.5 for existing users.

Go 1.16 is expected in Feb 2021 but I'll confirm with the beta/rc releases on how the retract system is working for the issues above. I'm confident things will smooth out then. And, if you're not happy with it -- there are

[2020-12-18 14:22] frederikhors commented on #561
WOW! You didn't really say that...

And all this for not having a new version number. WOW!

[2020-12-18 16:05] mfcochauxlaberge commented on #561
I tried them all (and more) and chi is by far the best. It's too bad this is happening. :(

[2020-12-18 19:51] Mentioum commented on #561
I like Chi but I'd much rather stick with the idiomatic v5 methodology.

A bit sad to see the direction this is going.  Chi is my number 1 recommendation to new go programmers at the moment but if it's going to go AWOL on versioning it can't be a good example anymore :(.

[2020-12-19 00:25] pkieltyka commented on #561
https://twitter.com/peterbourgon/status/1236657048714182657?s=21

^— Very well said by Peter Bourgon which I fully align with

[2020-12-19 00:42] CameronAckermanSEL commented on #561
Here's another by Peter Bourgon https://github.com/argoproj/argo/pull/4183

[2020-12-19 01:24] loozhengyuan commented on #561
I think we can all have our opinions and reservations on how acceptable or unacceptable the import path is, but I am of opinion that fighting against the tooling is going to make matters worse.

Ordinarily, in a project that was not tagged >v1 yet, I think we still can 'fight' against it by never releasing v2. But in a more complex situation like Chi, the logical adoption path (that Peter has also

[2020-12-19 02:46] carldunham commented on #561
This strikes at the heart of an opinionated language/ecosystem. Every time I have to "Go with the flow", a part of me dies inside. Yet after the grieving period, I come to find that the love of my family (and good tooling support) wind up being more important to me than an attachment to how I think it should have been done.

[2020-12-19 02:59] pkieltyka commented on #561
@carldunham well said 🙏 and I’m aligned to that as well

[2020-12-19 04:17] bokwoon95 opened #564 "Feature request: expose native handler lookup"
This might be an unusual request but could you expose the native routing capability of the router? Something that looks like

[code]

My use case is for non-technical users to be able to define their own vanity URLs that redirect to existing handlers. This would be done at runtime, without recompilation, so I can't just do it by registering new routes on the router. Basically I'll associate vanity

[2020-12-19 12:50] pkieltyka commented on #564
Yes, you can do it with https://github.com/go-chi/chi/blob/master/mux.go#L350

check tests or middlewares for example usage, we use it in GetHead middleware

[2020-12-19 15:54] bokwoon95 commented on #564
That is very cool, thanks. Didn't realize I could simply reach into the *chi.context, modify the route and call the next handler.

[2020-12-19 15:54] #564 closed

[2020-12-23 17:43] #563 closed

[2020-12-24 15:02] nawa opened #566 "URL param containing slashes"
Is it possible to define and read and URL param containing slashes?

[code]

Current behavior:
[code]

Expected behavior
[code]

For instance, such regexp pattern `{key:.+}` works in `gorilla/mux` as expected

[2020-12-24 16:46] pkieltyka commented on #566
hey @nawa chi and gorilla mux are not the same and I can’t speak for it’s pattern matching.

With chi, use ‘Get(“/prefix/*”, ..)’ and then retrieve the param with ‘chi.URLParam(r, “*”)’

[2020-12-24 16:48] #566 closed

[2020-12-24 17:28] #551 closed

[2020-12-26 18:51] luisfelipesdn12 opened #568 "Is possible to handle subdomains with chi?"
Is there a feature like that?

[code]

[2020-12-29 03:10] kabaluyot opened #569 "path regex won't match slashes routes even the any digit {.*} regex is used"
I wanted to detect this route `/verify-email/send` and the second slash doesn't seems detected by the regex.

r.HandleFunc("/{path:.*}", gatewayController)

[2020-12-29 08:32] kabaluyot commented on #569
Im doing this because Im making a reverse proxy for my api-gateway

[2020-12-29 09:41] kabaluyot commented on #91
We at Nuxify use Chi in all our production API services. I really love that its 100% compatible with the stdlib net/http. Just straightforward implementation.

[2020-12-29 13:41] klingtnet opened #570 "Inconsistent unescaping of URL parameters"
I discovered some inconsistent unescaping of URL path parameters depending on the content of the parameter value:

- they are `url.PathUnescape`d if no `/` is contained
- otherwise the parameter value is still path escaped

This was unexpected for me since I could not find any documentation about how `chi` is handling the unescaping of URL parameters.  I included a test case that demonstrates this

[2020-12-29 14:03] s3rj1k commented on #561
@umputun Does go mod replace help?

[2020-12-29 23:52] painhardcore commented on #561
It's very sad to see, that author of a such great package refuses to use the proper vensioning approach for Golang.

[2021-01-01 17:24] fr3fou commented on #203
Is this still the go-to way people do it?

[2021-01-03 09:05] fuadarradhi commented on #568
you need to read the doc,
https://github.com/go-chi/hostrouter

[2021-01-03 09:11] fuadarradhi commented on #569
not detected when using a proxy or when not using proxy ?

[2021-01-03 09:36] kabaluyot commented on #569
With or without proxy. Even when used in normal routing.

On Sun, Jan 3, 2021, 5:11 PM Fuad Ar-Radhi <notifications@github.com> wrote:

[2021-01-03 10:05] fuadarradhi commented on #569
you can use
r.HandleFunc("/*", gatewayController)
or
r.HandleFunc("/{path:.*}/{subpath:.*}", gatewayController)

[2021-01-03 13:23] luisfelipesdn12 commented on #568
Thank you! How it works in deployment? To me, it used to work just in my localhost.

[2021-01-03 14:00] fuadarradhi commented on #568
set on the web server configuration, the same as on localhost (/etc/host)

[2021-01-03 14:40] kabaluyot commented on #569
For the first option, no since its not a base route. For the second option,
it works for the first depth but how about n depth? (actually I have a
workaround for this now)

On Sun, Jan 3, 2021, 6:05 PM Fuad Ar-Radhi <notifications@github.com> wrote:

[2021-01-03 14:41] kabaluyot commented on #569
So the .* regex will include the / in the route..

On Sun, Jan 3, 2021, 10:40 PM Karl Anthony Baluyot <sovietkamarov@gmail.com>
wrote:

[2021-01-04 03:57] fuadarradhi commented on #569
"/{path:.*}" and "/*" is the same,
what makes the difference,
both read path from base

[2021-01-04 13:41] kabaluyot commented on #569
yes correct. However, The regex is for the "/" after the base. So with "/{path:.*}", it won't work with `/verify-email/send`, the "/" before send is not detected and matched

[2021-01-05 18:31] #568 closed

[2021-01-05 18:31] #569 closed

[2021-01-14 17:07] eclipseo opened #572 "Test segfaulting on x86_64: invalid memory address or nil pointer dereference"
Hi,

I'm running the tests with Go 1.15.6 on Fedora Rawhide and it is failing with:

[code]

Please note this is failing only on AMD64 arches, I have no issue on armv7hl, aarch64, i686 or ppc64le.

See logs at https://koji.fedoraproject.org/koji/taskinfo?taskID=59708511

[2021-01-14 17:33] eclipseo commented on #572
Seems to fails randomly.

[2021-01-14 17:33] #572 closed

[2021-01-22 07:59] darienmiller88 opened #574 "Serving static files and rendering HTML pages"
Hey, I just started using chi for smaller projects, and I was curious how static file serving and HTML/template rendering is handled here. What's the shortest way to accomplish it?

Here's what I tried for file serving
[code]
Folder structure:

[code]

[2021-01-27 06:51] rantala opened #576 "TestMuxContextIsThreadSafe occasional crash"
`TestMuxContextIsThreadSafe` test is occasionally crashing:

[code]

Running with the race detector produces warnings:
[code]

Testing with go 1.14:
[code]

[2021-01-27 07:07] rantala commented on #576
Patching the testcase fixes the issue for me, but I'm not sure if this is actually exposing some real bug.

If I understand the testcase right, the context is getting canceled later anyway, so we would not need to do the canceling here:

[code]

[2021-02-05 16:29] AlexanderMatveev opened #578 "URL parameters with hyphens divided by hyphens"
I'm trying to create a path pattern for URLs like `/some-path/some-slug-VENzc2dP`, where:
- `some-slug` may have hyphens
- `VENzc2dP` is youtube-like generated ID, that can't have hyphens

Is is possible to write route like this, without need to combine params in one and parse manually?

Something like:

[code]

[2021-02-05 22:01] hacdias commented on #548
I am having exactly the same issue and I really can't understand what's wrong. Let me know if I can help somehow debug this. The exact same code from the test gives `9: interface conversion: interface {} is nil, not string` on my machine. I'm using v1.5.1.

[2021-02-05 22:05] pkieltyka commented on #548
@hacdias can you paste/submit a failing test case?

[2021-02-05 22:15] hacdias commented on #548
I copied this bit from the test:

[code]

I run it as:

[code]

I navigate to the page and it panics:

[code]

I agree it's odd that the test is passing. I am using the newest version so it's quite odd.

[2021-02-06 01:23] pkieltyka commented on #548
@hacdias thanks for that, thats helpful. What is the goal with your router above btw? How come you're making a router without any routes defined on it? In any case, for completeness + better dev experience I have resolved this in: https://github.com/go-chi/chi/commit/894714a52f0c36c24e608bd18723cd7fc7285092

[2021-02-06 01:30] pkieltyka commented on #574
hey @darienmiller88 -- check out the example here https://github.com/go-chi/chi/blob/master/_examples/fileserver/main.go#L46 .. its a one liner once you define the FileServer method somewhere in your packages

[2021-02-06 01:30] #574 closed

[2021-02-06 01:31] pkieltyka commented on #578
how about .. `r.Get("/some-path/{slug}-{key}", s.SomeHandler)` ?

[2021-02-06 06:43] hacdias commented on #548
@pkieltyka that is not my use case. I just wanted to show you that it is not working. My use case is as follows:

1. I have a set of defined routes.
2. Then I need a "catch-all" which checks if there is a file (after sanitizing the URL very well) in the file system in a certain location, if so, it renders the post.

As far as I understood, the only way to make a catch all route with chi is using t

[2021-02-07 00:39] pkieltyka commented on #548
@hacdias I've started writing a basics DOCS.md to help with some of the basic operations -- this issue has helped me realize thats been missing: https://github.com/go-chi/chi/pull/580

FYI, for a catch-all you can use `/*` pattern, such as ..

[code]

for file-serving, etc. see https://github.com/go-chi/chi/blob/master/_examples/fileserver/main.go

[2021-02-08 12:20] AlexanderMatveev commented on #578
Nope, because how would router know if path part between hyphens belongs to `slug` or `key`:

`/some-path/some-long-slug-divided-by-hyphens-sOMeKey`

[2021-02-08 12:27] pkieltyka commented on #578
I’ll have to try it, but I imagine it’ll take first component with first - as slug and the rest as key. I suggest to read the tests of tree_test.go which I wrote similar tests for

[2021-02-08 12:55] AlexanderMatveev commented on #578
Yes, that's the point.

Slug with hyphens generated from some string and identifier at the end of path is common case for search engines optimisation.

[2021-02-08 13:51] pkieltyka commented on #578
I suggest to read the tests, and build your routes and url path according to what is available. If something is missing, then use `some-path/{slug}` matcher instead, and parse it for your format.

[code]

[code]

I understand you want {slug}-{key} .. see if you can bend the supported matchers to make it happen, perhaps with regexp but I think the best option and most efficient is to use a param an

[2021-02-08 13:51] #578 closed

[2021-02-08 14:04] pkieltyka commented on #576
@rantala thanks for bringing this to my attention. Indeed there looks to be an issue with an allocation optimization merged in a few weeks ago; https://github.com/go-chi/chi/blob/master/mux.go#L83

if you replace that line with, `r = r.WithContext(context.WithValue(r.Context(), RouteCtxKey, rctx))` (as was prior implementation), then all tests pass with -race flag. I'll be looking into if we can f

[2021-02-10 13:55] pkieltyka commented on #576
FYI: https://github.com/go-chi/chi/pull/581

[2021-02-10 19:31] #576 closed

[2021-02-13 06:15] gilgameshskytrooper opened #582 "Using r.Use(middleware.Logger) breaks w.(http.CloseNotifier).CloseNotify()"
I understand that `CloseNotifier` has been deprecated on chi@v4 according to [https://github.com/go-chi/chi/issues/347](https://github.com/go-chi/chi/issues/347).

However, I had a problem which I could only solve by using the following code in my handler func:

[code]

If there is a way to do this same thing in `Request.Context`, please show me. I looked around, but could not find anything that f

[2021-02-15 19:35] zlogic opened #583 "httptest.ResponseRecorder incompatible with Logger in chi v1.5.2+ (including v5.0.2)"
In my app, I'm using the Logger middleware:

[code]

and `httptest.ResponseRecorder` to test the Router:

[code]

It works without issues when using:
* chi v1.5.1, with the Logger enabled (and disabled)
* chi v1.5.2, with the Logger disabled

However when using chi v1.5.2 with the Logger enabled, I'm getting a panic when trying to run unit tests:

[code]

This appears to be caused by https://githu

[2021-02-15 20:07] zlogic commented on #583
My workaround is to add the `ReadFrom` method to `httptest.ResponseRecorder`:

[code]

and use this `testRecorder` instead of `httptest.ResponseRecorder`:

[code]

[2021-02-18 15:25] frederikhors opened #585 "How to disable fileserver directory listings?"
I saw this example here: https://github.com/go-chi/chi/blob/master/_examples/fileserver/main.go.

Is there a way to disable directory listings?

[2021-02-18 16:12] pkieltyka commented on #585
I'm not sure. This isn't really chi related, perhaps post on Stackflow?

[2021-02-18 16:12] #585 closed

[2021-02-18 16:37] frederikhors commented on #585
I thought it might be useful to enrich that example. That's all.

[2021-02-21 22:05] frederikhors commented on #561
Still a lot of problems with Go 1.16 and go-chi 1.5.3!

[code]

and after that command go downgrades a lot of dependencies and create a lot of troubles.

😭😭😭😭

[2021-02-21 22:17] pkieltyka commented on #561
sounds like a bug in Go toolchain then, cc: @bcmills -- any advice on the package downgrade side-effects?

as I've noted, I will not be adopting SIV as it should be an optional feature of the Go toolchain. My plan is one day when SIV is optional (*fingers crossed*, and I'm okay to wait years for this), I can release v5, and continue from semver, until then chi will remain on v1.x. All other versio

[2021-02-21 22:33] umputun commented on #561
@pkieltyka thx for all the hard work you put in chi, really apricate it. As far as I can see, even with 1.16 retraction, the downgrade still causing the same/similar troubles. The ticket won't be resolved with what many of us considered the right fix (i.e., v5). You made your position crystal clear, and I see no point in continuing this discussion. Do you want me to close this ticket?

_Btw, I hav

[2021-02-21 22:57] pkieltyka commented on #561
@umputun thanks -- let's keep the ticket open for a few more weeks until we get more trials with go 1.16 + chi 1.5.3. Perhaps our issues here will help the Go team debug and help figure out a smooth path for retraction, and "downgrades" of retracted modules.

Presently, the issue I'm still hearing as @frederikhors reported, is go modules are still auto-downgrading unrelated packages which are used

[2021-02-22 14:21] bcmills commented on #561
The long-term fix is the same as the general fix for any dependency problem: send PRs to fix upstream dependencies (in this case, changing their dependencies from `+incompatible` versions to `v1.5.3`), then upgrade those dependencies after the fixes are merged.

The short-term fix is to take advantage of the changes to the `exclude` directive in `go 1.16` (https://golang.org/doc/go1.16#modules). Y

[2021-02-22 14:25] bcmills commented on #561
As far as I can tell the downgrade logic is working correctly here. Retracted versions of modules still exist, and requirements on those versions are still applied — that's important for reproducibility. They just won't be added as a _new_ dependency in order to resolving a missing package (for example, in `go get` or `go mod tidy`).

As far as semantic versioning is concerned, `4.1.2+incompatible

[2021-02-22 17:18] aarondl commented on #561
I hate SIV as much as the next person. I agree with Peter Bourgon's tweet storm and everything. But as a fellow Go library maintainer this is really upsetting when such a prominent library adopts such a stance fighting so hard against something so insignificant, ultimately trivial, and somewhat inevitable.

It's really the same argument around `gofmt`. Some people can't stand the way it formats X

[2021-02-23 00:08] umputun commented on #561
I had some time today to play with go 1.16 and retracted versions to see if it helped with the original problem. Unfortunately, it seems to make the issue even worse :(

An attempt to update chi showed this:

[code]

Ok, accepting this suggestion and it leads to the same (similar) downgrade of dependencies:

[code]

I really can't see how such results can be considered acceptable. The whole discus

[2021-02-23 03:20] unext-wendong opened #587 "Possible regression in 1.5.2: middleware got instantiated and invoked twice"
We noticed the following behavior changes between 1.5.1 and 1.5.2+ (1.5.2 and 1.5.3) related to middleware handlers.
- Middleware handlers got instantiated twice in 1.5.2+. It's once in 1.5.1.
- Middleware handlers got invoked twice for URLs routed to NotFound handlers in 1.5.2+. It's once in 1.5.1.

Example code:
[code]

Output after one `GET /hello` and one `GET /nihao` requests in 1.5.2+:
[code

[2021-02-23 04:42] icholy commented on #561
@pkieltyka while you're at it, this is perfect time to switch to relative import paths.

[2021-02-23 04:59] lunny commented on #561
Shouldn't creating a branch v5 resolve the problem? And keep `master` compatible with non-gomod .

Since Gitea has already moved to chi, we hope that there is a good resolution for the issue.

[2021-02-23 05:19] PaluMacil commented on #561
It's crazy to see such a bastion of community love and energy descend to this confusion and chaos over trying to take a stand against where the language has gone. I hope this is reconsidered for the community's sake. I get not liking it. It took me a while to be onboard. I liked some aspects, and my mindset drifted a bit over time to like the rest. What I didn't expect was a maintainer torpedoing

[2021-02-23 12:39] pkieltyka commented on #587
thanks for the report. I thought there was a test cases in the code checking against this very issue but perhaps not. I suspect the issue started from here https://github.com/go-chi/chi/commit/894714a52f0c36c24e608bd18723cd7fc7285092

[2021-02-23 16:45] carldunham commented on #561
That pretty much sums up my entire experience with Go and the Go community. I think of it like some form of [Stockholm Syndrome](https://en.wikipedia.org/wiki/Stockholm_syndrome).

[2021-02-23 16:58] pkieltyka commented on #561
@bcmills I've put together a proposal for a backwards-compatible path to make SIV optional and opt-out at the level of an application developer consuming a package -- https://github.com/golang/go/issues/44550

[2021-02-23 19:21] PaluMacil commented on #561
I think it's that the Go core team has been thinking about dev problems for a long time, and they have a lot of experience, so they are sometimes able to address a whole problem better than people without their decades of experience. For instance, I wasn't bothered that imports would need to be changed since an IDE or sed or another tool makes that easy. I was bothered by the changeset size in git

[2021-02-23 20:11] CameronAckermanSEL commented on #561
@PaluMacil  I think its fair to say that conceptually the design of this package manager works . However, there is a lot to be desired with the UX of the tool, and because ultimately the UX is how a human is going to interact with the software, a lacking UX leads to a lot of distrust. Especially when people leave the happy path, as we can see here.

[2021-02-24 09:12] ganigeorgiev commented on #561
Similar to @aarondl, I've just accepted the change and migrated my old project.

_Was it annoying?_
Yes, especially with trying to override the default behaviour of our internal tooling to ignore higher numbered version (basically had to exclude manually every other version).

_Can I safely rely that updating my dependencies will not break anything?_
No, because of the decision to stick to 1.X and

[2021-02-24 13:04] ChristophPech opened #588 "middleware: recoverer ignores http.ErrAbortHandler"
The http.ErrAbortHandler panic usually causes a connection close. The recoverer just ignores the panic instead of reraising it causing connection leaks.

[2021-02-24 13:59] dafa168 commented on #91
暂时还没用。

[2021-02-24 14:34] icholy commented on #561
Another option is doing what protobuf v2 did and change the import path. The new repo can keep the versions at 0.x.x to avoid SIV. The old repo can undo the hacks that are breaking everyone.

[2021-02-25 20:31] andrewalexander commented on #155
Since this came up with trying out the embed.FS, we discovered this same error (nginx had handled it with a `try_files $uri /` type of thing before).

The above solution seems to basically be the same thing as the nginx rule and that worked for us when applied to the http.FS. It can be done with the embed.FS as well, but the method changes and is less portable since the http.FS can operate on both

[2021-02-27 19:01] pkieltyka commented on #561
hi all, for the *greater good* of everyone who's adopted chi, I am going to push the v5 with SIV import path. I've submitted my Go proposal https://github.com/golang/go/issues/44550 to the team and have given my best shot at providing a suggestion and perhaps opening a conversation up for building in the ergonomics I'm seeking, but also maintain compatibility with the current module system. I beli

[2021-02-27 19:31] zikaeroh commented on #561
I would make the change to remove the retractions, release it as v1.5.4. Then, switch the paths to v5, tag v5.0.0, and push.

IIRC there's some restriction around which modules can retract other modules, since different SIV versions are distinct modules, so the above is a straight revert.

[2021-02-27 19:32] umputun commented on #561
great news!

I think it will work. Maybe it makes sense to remove the retraction of  v4.x.x as well

[2021-02-27 19:56] svengreb commented on #561
First off: Thanks a lot for the effort you put into this project!

Removing a tagged version, or a whole repository, is always bad idea for a dependency system. Even when ecosystem learned their lesson after [`left-pad` crashed half of the NPM world](http://left-pad.io), it should be avoided.

In the [FAQs of the official `GOPROXY`](https://proxy.golang.org) the question about “removing a bad rele

[2021-02-27 20:37] pkieltyka commented on #561
Sounds like a plan. Here's next steps as I see:

1. Please provide second set of eyes here please https://github.com/go-chi/chi/pull/590 -- I'd like to be extra cautious here as I'm not fully sure how retracting a retract will work? It sounds like though removing it will tell Go's module index to accept the @latest version's go.mod retract statement as the *source of truth*, which is now gone? Or

[2021-02-27 20:52] zikaeroh commented on #561
Both PRs look good to me; the Go tooling looks at whatever is latest for its source of truth, so tagging v1.5.4 will be the "latest" for the old series of releases.

The only thing left will be to update the various go-chi org repos that depend on this repo; I'm not sure how many of those were even tagged, just switching their use will be enough.

[2021-02-27 20:55] zikaeroh commented on #561
The other thing I had been thinking about was if it would be worth it to remove go.mod (maybe in some branch), tag a newer v4 (for +incompatible usage), then make the jump to go.mod in a v5 commit. I know there was some code that was intended to be released for everyone, but the downgrade behavior prevented people from using it. Doing so may be beneficial to existing users before they make the cha

[2021-02-28 00:14] pkieltyka commented on #561
chi v5 is out -- https://github.com/go-chi/chi/releases/tag/v5.0.0

please let me know if there are any issues

[2021-02-28 04:49] umputun commented on #561
Upgraded a few project to v5 and it worked fine, nothing unexpected. Thx!

[2021-02-28 06:18] zikaeroh commented on #561
The code in `_examples` needs to be updated to v5; without it you still seem to end up with the non-v5 path downloaded.

[2021-02-28 11:31] pkieltyka commented on #561
@zikaeroh what do you mean? https://github.com/go-chi/chi/blob/master/_examples/hello-world/main.go#L6-L7

[2021-02-28 12:31] nimabrownlee opened #592 "GoLand cannot resolve newest version of chi"
Installed it by `go get -u github.com/go-chi/chi/v5`

and imported it by using

[code]
Might be because the v5 github page don't even exist? Or is there something I've missed?

[2021-02-28 12:38] pkieltyka commented on #592
Lol please report to Go team. I'm done supporting SIV with chi. Next stop I will be archiving this project and starting a new one from v0

[2021-02-28 12:38] pkieltyka commented on #561
https://github.com/go-chi/chi/issues/592#issuecomment-787445881

[2021-02-28 12:49] pkieltyka commented on #561
Regret ensues, I should have never released v5.0.0 as my intuition. Hope everyone is super happy to see chi go rotten and spoiled, thanks for using it.

[2021-02-28 12:55] #561 closed

[2021-02-28 14:09] nimabrownlee commented on #592
@pkieltyka Hey, sorry if I offended you. I'm new to the Go world and your router seems to be the best when I was researching. Best wishes with your other work/projects.

[2021-02-28 14:22] pkieltyka commented on #592
@nimabrownlee you most certainly did not offend me. I am just upset about Go tooling issues I'm faced with.

To me, software is art, and I intentionally spent so much time to craft chi as it brings me lots of joy in doing so. As a result of the Go module system, the issue you're facing is a result from its design decisions, and its quite upsetting to me after all of my efforts to produce the best

[2021-02-28 14:24] pkieltyka commented on #592
@nimabrownlee https://github.com/oxyno-zeta/s3-proxy/pull/158/files#r584305332 @oxyno-zeta

[2021-02-28 14:34] pkieltyka commented on #561
I'd like to point out within < 1 day, the basic issues others have with using a package which adopts SIV. The user's intuition isn't the problem here, it's the Go tools that needs to change:

* https://github.com/go-chi/chi/issues/592
* https://github.com/oxyno-zeta/s3-proxy/pull/158
* https://github.com/oxyno-zeta/s3-proxy/pull/158/files#r584305332

To me, software is art, and I intentionally spe

[2021-02-28 14:41] nimabrownlee commented on #592
@pkieltyka I read that thread and I definitely understand you. This is your baby and pride, you've put a lot of time and effort it into it. And it really shows because I've only seen positive things about chi. Hopefully this road block doesn't stop you from continuing your great open source work.

Anyway, best of luck with whatever you choose to do. At the end of the day, you should do things that

[2021-02-28 14:41] #592 closed

[2021-02-28 15:20] oxyno-zeta commented on #592
The aim of the denied PR on my side was because I was waiting a end on this go module story :) .
I was following all the story across all issues and I prefer to wait to have something stable in order to upgrade my project. I'm definitly not against upgrading !

Hope I haven't upset you @pkieltyka ... I love your project, that's why I'm using it in my S3-proxy code :). Thanks for chi from me too !

[2021-02-28 17:11] zikaeroh commented on #561
There are a few others, I will happily send a PR.

#592 to me very much sounds like a GoLand bug; it should work fine with modules and I am sure existing codebases would have hit this for that user.

The s3-proxy appears to be a bug in the "renovate" tool; this is some third-party dependency upgrader that doesn't appear to understand SIV and should do better. It seems like https://github.com/renov

[2021-02-28 17:16] zikaeroh commented on #561
FWIW, https://github.com/marwan-at-work/mod is a tool suggested at https://github.com/golang/go/wiki/Modules#releasing-modules-v2-or-higher for automating this process. It's my belief that this tool is likely to be absorbed into golang.org/x/exp/cmd/gorelease (which is intended to eventually be `go release`). But I know this only helps with one side of the SIV story, the library author.

[2021-02-28 17:22] zikaeroh commented on #561
Actually, https://github.com/marwan-at-work/mod lets you use it as a consumer to quickly get a new version of a module.

[code]

[2021-02-28 21:39] umputun commented on #561
I would say this is because users upgrading to v5 successfully and uneventfully won't post success stories. This is expected, supposed to work, and, in practice, works well enough.

In all 3 examples, you posted above, this was clearly the user's error or the side effect of the previous downgrade. As with any non-trivial system go mod expects users to understand the basics and not trying to solve

[2021-03-01 14:48] vadimi commented on #587
it seems like `MethodNotAllowed` middleware has the same issue: 00cc734b678d2a08839ee2e35904e0b0e46c479d

[2021-03-01 15:33] a1012112796 opened #594 "bug?: return 404 if the request link end with `/`"
Hello, I found a problem that if append an ``/`` at the end of link (for example: ``http://127.0.0.1:8088/test/``), It will response 404 instead of the defined logic. I think maybe it's a bug. Thanks. example result:
![tmpb](https://user-images.githubusercontent.com/25342410/109519385-295d9e00-7ae6-11eb-96ad-63e35a5fb3dd.png)

[2021-03-01 18:21] bataras opened #595 "open redirect vulnerability"
https://github.com/go-chi/chi/blob/fb48a47641af106c7eae2f09864e7fecd54237bf/middleware/strip.go#L23

RedirectSlashes returns a path the begins with //, causing the browser to go to an external website...

curl mychiapp.com//example.com redirects to http://example.com

[2021-03-02 07:26] chemidy commented on #594
Check the middleware StripSlashes :

| chi/middleware Handler | description                                                             |
| :--------------------- | :---------------------------------------------------------------------- |
| [StripSlashes]         | Strip slashes on routing paths                                          |

[StripSlashes]: https://pkg.go.dev/github.com/go-chi/chi/mi

[2021-03-02 15:43] #594 closed

[2021-03-07 07:53] jaylee185 opened #597 "GO1.16 is too new for Google Cloud App Engine Standard"
Question regarding default go language version. Is v5 has to use 1.16? I have encountered some issue while deploying code to Google Cloud. The latest version they support is 1.14.

And it doesn't look like `go mod` command is providing any help. It basically ignores the version we have in our `go.mod` file. It still pulls the latest release any way.

[code]

[2021-03-07 08:39] mikeximu opened #598 "favicon.ico"
how to set ?

[2021-03-07 12:06] #598 closed

[2021-03-07 12:34] pkieltyka commented on #597
https://github.com/go-chi/chi/pull/599

this should resolve the issue

[2021-03-07 12:40] pkieltyka commented on #595
@bataras I'm unable to reproduce this redirects to example.com .. can you provide an example program or test case?

[2021-03-07 12:44] pkieltyka commented on #595
[code]

this above program should cover the cases. Let me know the curl command you're using to cause the issue.

[2021-03-07 12:44] #597 closed

[2021-03-08 01:38] jaylee185 opened #600 "GO1.16 is too new for Google Cloud App Engine Standard"
Sorry, I want to reopen this issue.
I suspect the issue is actually in the `go.mod`
I believe GCP for some reason is checking the version there.
[code]
Do you think we can use a lower go version there?

[2021-03-08 13:52] pkieltyka commented on #600
@jaylee185 I don't believe the go.mod file and version of go it announces is causing the problem. Can you provide more details or links to docs stating this issue?

See https://github.com/go-chi/chi/actions where we do CI testing with go 1.14, 1.15, 1.16

[2021-03-08 14:01] pkieltyka commented on #595
closing as problem is incorrectly reported as there is no issue with the current master that I can determine through my testing

[2021-03-08 14:01] #595 closed

[2021-03-08 14:42] mfridman commented on #600
This is a GCP limitation, which only now supports 1.15 in "preview" mode. Indeed 1.16 is too new :/

afacis there are no _new_ Go features (1.15 or 1.16) being used by chi, so setting the go directive to 1.14 would indicate the minimum supported version for the project.

[2021-03-08 14:50] mfridman commented on #600
Having said that, @jaylee185 can you confirm what version you're using on GCP ? The error you linked in the other ticket may be the result of your using go1.12, and so thew solution is likely to update your config to using 1.14 (which is the latest, non-preview version)

[2021-03-09 19:00] jaylee185 commented on #600
Yeah, I'm developing using 1.12. Though, the latest GCP support is 1.14. I can try to use 1.14, but I'm wondering how GCP found 1.16.

[2021-03-09 20:07] mfridman commented on #600
Ye, the error you mentioned is more related to a change in the Go standard library in Go 1.13, see last [2 paragraphs](https://golang.org/doc/go1.13#language). So your best solution is to upgrade from 1.12 to at least 1.13 (or even better 1.14) which _likely_ solve your issue

But chi cannot set its go directive to 1.12, so ya'll have to meet in the middle haha.

I still believe @pkieltyka should

[2021-03-10 00:38] pkieltyka commented on #600
https://github.com/go-chi/chi/pull/601

please lmk if this unblocks and works

[2021-03-11 12:24] titpetric opened #602 "Allow custom HTTP methods like PURGE"
Currently, if we try to register a custom HTTP method with MethodFunc()/Method() like `PURGE`, it results in a panic.

[code]

Particularly, the PURGE keyword isn't in the HTTP RFCs, but at least three places implement it:

- [varnish cache purge](https://varnish-cache.org/docs/trunk/users-guide/purging.html)
- [nginx cache purge](https://docs.nginx.com/nginx/admin-guide/content-cache/content-cach

[2021-03-11 12:26] pkieltyka commented on #602
hey @titpetric did you call `chi.RegisterMethod("PURGE")` first..? perhaps I can relax this someday and auto-register methods through use, but right now you need to register non-standard methods first

[2021-03-11 12:31] titpetric commented on #602
Nope, I didn't, I haven't looked at the code yet if exceptions are possible, thanks for the info. My google-fu failed me today.

Let's consider the problem resolved. Should I keep the issue open, for this "some day" when RegisterMethod can be removed? :)

[2021-03-11 12:34] titpetric commented on #602
Confirming: RegisterMethod resolves the issue.

[2021-03-11 12:35] #602 closed

[2021-03-12 14:00] #600 closed

[2021-03-13 08:14] masseelch opened #604 "middleware.DefaultLogger logs partial contents multiple times"
Hi, great package. We use it a lot.

We recently decided to add the logger to our file-server. We noticed that streamed responses with bigger files result in all chunks sent being reported (partial content).

This is not rellay a bug, since there are indeed multiple PartialContent http responses. But we'd like a way to log the incoming request and the time it finished.

[2021-03-25 06:51] stephenafamo commented on #587
Just ran into this same thing.

If `NotAllowed()` is called **AFTER** setting middlewares, the middlewares will be called twice when the route is not found.

[2021-03-25 10:57] pkieltyka commented on #587
Yes it’s a known regression. I’ll fix it when I have time

[2021-03-25 12:56] #587 closed

[2021-03-25 13:05] pkieltyka commented on #587
released a new version with the fix, https://github.com/go-chi/chi/releases/tag/v5.0.2

[2021-03-25 13:40] jonleopard opened #607 "Context Parameter Question"
Hello!

Sorry for the trivial question, but I'm in the process of migrating over to Chi from [httptreemux](https://github.com/dimfeld/httptreemux). With httptreemux, I've essentially extracted [httptreemux.ContextParams](https://github.com/dimfeld/httptreemux/blob/ebfe087278c7efe283236a9ee656b10ccffabb4e/context.go#L146) for use in my handlers (see `user.go`).

My question is, what would be Chi's

[2021-03-25 14:08] pkieltyka commented on #607
same thing, just use `r.Context()` to get the context object, its on the *http.Request object

[2021-03-25 14:11] pkieltyka opened #608 "Throttle middleware tests fail intermittently (quite often)"
https://github.com/go-chi/chi/blob/master/middleware/throttle_test.go

It's often that when I submit a PR, and the code runs through github ci, it will fail -- https://github.com/go-chi/chi/actions

I have to re-run the jobs to have it pass, it seems to be a timing issue. When running locally, it seems to work well pretty consistently, but I've seen the rare failing case.

[2021-03-25 16:50] jonleopard commented on #607
Sorry, still a bit lost :(

Would something like this work for my use case?

[code]

Thanks again :)

[2021-03-25 19:33] mfridman commented on #607
I think the closest to what you're looking for is described here: https://github.com/go-chi/chi#url-parameters

[2021-03-25 20:10] jonleopard commented on #607
@mfridman That does the trick! Thanks a lot for the explanation as well! Gonna close this now.

Cheers

[2021-03-25 20:10] #607 closed

[2021-03-25 22:27] mfridman commented on #607
@jonleopard One thing I'll call out that might be useful.. chi also has a way to inspect the current path dynamically (similar to the `.Route()` method in that other linked router).

`chi.RouteContext(r.Context())` returns *chi.Context on which you can call `.RoutePattern()`

https://github.com/go-chi/chi/blob/2283e4951adbd82c8f6427117bd6b2a1c315e725/context.go#L108-L125

[2021-03-26 12:05] jonleopard commented on #607
@mfridman  that certainly seems more useful, but I'm not sure how I could implement it with the `Atoi` type I'm using in `user.go`

web/request.go

[code]
The previous router was returning `map[string]string `, which worked with the `strconv.Atoi(params["page"])` value. The new Chi router wants to return a string, rather than a map.  So when I go to use it in `user.go`, I get this error:
`cannot u

[2021-03-26 15:00] mfridman commented on #607
@jonleopard I assume you are referring to query params as part of the URL? E.g.,

[code]

If so, use the standard library to grab the `url.Values` like so:

Assuming this request: `https://example.com/api/v1/post/12?page=1&rows=2`

[code]

[2021-03-27 03:34] yurivish opened #609 "Odd Regex Match"
Hi,

I'm trying out chi and found a surprising (to me) edge case regarding routes with empty path components:

[code]

This prints `The route matched the URL.` even though there was clearly no match for the regular expression. My understanding of the semantics of a regex filter is that the route will match if and only if the regex filter matches the path component, but that's not what seems to be

[2021-03-31 18:16] VojtechVitek commented on #608
I didn't write those tests, but I can take a look if we have an example of the CI error.

[2021-04-01 03:42] lrstanley commented on #536
Also FWIW, the docs here:

https://github.com/go-chi/chi/blob/2283e4951adbd82c8f6427117bd6b2a1c315e725/middleware/realip.go#L14-L16

Say:

However it looks like the logic is the reverse:

https://github.com/go-chi/chi/blob/2283e4951adbd82c8f6427117bd6b2a1c315e725/middleware/realip.go#L43-L45

[2021-04-01 03:58] lrstanley commented on #453
Maybe you could take the port from the existing `r.RemoteAddr`, and essentially just replace the IP?

[2021-04-07 08:25] frkn-aydn opened #610 "*scs.bufferedResponseWriter is not io.ReaderFrom: missing method ReadFrom"
I have been using chi last 1.5 year. Now I had to install my repo to new computer and now I am having very stupid problem.

This is my file server function
[code]

**It was working without no problem last 1 year. Now it giving me this error for any static file (css, js, images etc.)**
[code]

For browser part, you can see it returns 200 with 0 byte
![alt ss](https://i.ibb.co/hMGx3hv/Screenshot-fro

[2021-04-07 09:01] frkn-aydn commented on #610
Fixed :

Just removed this line from main function
[code]

It worked!

[2021-04-13 14:39] frederikhors opened #611 "Fileserver example for an SPA (Single Page Application)"
Can I ask you to update the fileserver example for an SPA (Single Page Application) with redirect to `index.html` avoiding the listing of directories like `images`?

_Chi is amazing but for newbies like me it helps to have updated examples and recipes, like https://github.com/gofiber/recipes.

Thank you with all my heart. ❤️

[2021-04-13 20:00] frederikhors commented on #611
I found this: https://github.com/gorilla/mux#serving-single-page-applications.

Maybe we can update our example using some code from there.

[2021-04-13 20:58] frederikhors commented on #611
I also found: http://kefblog.com/2017-04-07/How-to-serve-static-files-with-custom-not-found-handler.

[2021-04-15 06:22] uta-mori commented on #611
go-chi & go:embed

https://github.com/shibukawa/spa-go-1.16

[2021-04-15 06:29] iwilltry42 opened #612 "Sub-Router not handling Root /"
Hi there,
I just started using Chi for a new API Server.
I followed the REST example and at first it was working.
After some restructuring however, I'm facing 404s on sub-routers.
Here's the setup:

- Directory Structure
[code]

- `main.go`
[code]

- `server/server.go`
[code]

- `routes/entries.go`
[code]

So basically, I have to mirror the route that the sub-router was mounted at again in the sub

[2021-04-15 10:01] iwilltry42 commented on #612
That's embarrassing...
Apparently, I used `import "github.com/go-chi/chi"` in `server.go` unknowingly (auto-import), while it was correct (`"github.com/go-chi/chi/v5"`) everywhere else :roll_eyes:
Works with v5 :+1:

[2021-04-15 10:01] #612 closed

[2021-04-15 12:23] pkieltyka commented on #611
Nice! I’ll update when I can.. it’ll be nice to finish the docs PR too and include a section on file serving too, embedding, etc. PRs are welcome :)

[2021-04-21 18:46] JohnMaguire commented on #536
I was just noticing this as well - this is a bit of a problem since AWS tends to set X-Forwarded-For. The docs may lead one to believe that that header will be set, when in actuality an X-Real-IP may override it.

[2021-04-22 10:59] krzysztofreczek opened #615 "Opencensus tracing middleware"
@pkieltyka, I have implemented a simple opencensus tracing middleware for chi router: https://github.com/krzysztofreczek/chi-opencensus-tracing

Are you interested in hooking it up somewhere closer to the router itself? I believe it could be useful for others.

Greetings!

[2021-04-22 11:18] pkieltyka commented on #615
@krzysztofreczek neat! the go-chi/chi has a 0 dependency goal, but we do have https://github.com/go-chi/httptracer — have you seen it? Perhaps we can make the package over there better? Lmk

[2021-04-22 11:36] krzysztofreczek commented on #615
Cool, I looked there but found it a bit incompatible with my problem. Let me have another look and check what we can do here. I will get back to you with some ideas. Maybe you have any?

[2021-04-25 11:16] #615 closed

[2021-04-25 11:24] pkieltyka commented on #608
I've just disabled the flaky test, and will rename this ticket..

https://github.com/go-chi/chi/commit/25eb15cdd4f644896eac2ac05d4e3e932f34a188

[2021-04-25 11:30] #583 closed

[2021-04-25 11:31] pkieltyka commented on #610
https://github.com/go-chi/chi/pull/584 has been merged, please try @master and lmk if issues are resolved.

[2021-04-26 12:40] wisdommatt commented on #492
You can create a middleware that checks if some url params are not empty.

`func UrlParamsNotEmpty(params ...string) func(next http.Handler) http.Handler {
	return func(next http.Handler) http.Handler {
		return http.HandlerFunc(func(w http.ResponseWriter, r *http.Request) {
			for _, param := range params {
				parameter := chi.URLParam(r, param)
				if parameter == "" {
					// Handle 404 error.

[2021-04-26 12:42] wisdommatt commented on #492
You can create a middleware  that checks if some url params are not empty.

[code]

[2021-04-26 12:45] wisdommatt commented on #492
You can create a middleware  that checks if some url params are not empty.

[code]

[2021-04-26 12:47] wisdommatt commented on #492
You can create a middleware  that checks if some url params are not empty.

[code]

[2021-04-26 12:48] wisdommatt commented on #492
You can create a middleware  that checks if some url params are not empty.

[code]

[2021-04-27 06:57] vtolstov opened #616 "standalone path matching lib"
Hi. I'm maintain a fork of go-micro, and want to use chi pattern matching func instead of grpc-gateway (that used now)
most of the time i need based on request url path match some func and also have ability to extract url placeholder {some_var} inside url to map[string]string.

Doe it possible to utilize chi component for it without all other stuff?

[2021-04-27 13:43] pkieltyka commented on #616
@vtolstov neat, however chi is what it is, you're free to copy the tree.go file and fork it as you'd like though

[2021-04-27 13:43] #616 closed

[2021-04-27 14:58] vtolstov commented on #616
nice, thanks!

[2021-04-28 10:57] bernhardreisenberger opened #617 "logger: alexedwards/scs combined with gorilla/websocket"
Hi @pkieltyka Sorry to bother you again with this topic. related to #610 #584 #562

So i followed up with the changes from #584, tested the latest master with my app, and the websocket upgrade error described in #562 happens again. My test (`TestRequestLogger` in logger_test.go) did not cover the code correctly.

The function `NewWrapResponseWriter` in wrap_writer.go is crucial in this case.

You

[2021-04-28 11:03] pkieltyka commented on #617
I’m too busy to get into these weeds. I may just revert all community submissions relating to this and use my original code?

[2021-04-28 11:08] pkieltyka commented on #617
Seems best solution is to revert the last few changes to wrap_writer.go — before https://github.com/go-chi/chi/pull/562/files

[2021-04-28 11:28] bernhardreisenberger commented on #617
the test TestRequestLoggerReadFrom provided by @zlogic would still pass. so i guess this will work.

[2021-04-28 14:04] bernhardreisenberger commented on #617
i tried to add the flusher to the bufferedResponseWriter in alexedwards/scs but that was not possible.

i rewrote wrap_writer.go so it can support alexedwards/scs and gorilla/websocket by adding the necessary types. this is the code that would be necessary (based on your original code):

[code]

and applied them in NewWrapResponseWriter

[code]

i can make a pull request if you want.

[2021-04-29 11:39] pkieltyka commented on #617
@bernhardreisenberger https://github.com/go-chi/chi/pull/618 can you try this and lmk?

[2021-04-29 15:34] #617 closed

[2021-05-03 19:56] arch-mage opened #619 "Static extension pattern in url param is not working as expected"
Router pattern does not work as expected when it statically ended with specific extension. For example, this one (the `Match` call) evaluate to `false`:

[code]

But, this one evaluate to `true`:
[code]

If this is not by design, I think this is a bug.

[2021-05-03 19:59] pkieltyka commented on #619
Yes I recall something like this -- it's a tricky one as parsing occurs on the ".". This will be a tough one to solve, but feel free to submit a PR if you can pull it off :D

The other approach which will get you by.. is route on.. `/{filename}` and then parse the filename yourself instead of depending on the routing pattern to split the version out

[2021-05-04 10:00] #610 closed

[2021-05-04 10:04] #619 closed

[2021-05-08 00:31] lesichkovm opened #620 "Multiple HTTP Verbs Matching Methods"
Can we have something similar to the bellow code (example taken from Laravel's router)

[code]

The first matching multiple HTTP verbs, the second matching all HTTP verbs (GET. POST, PUT, DELETE, HEAD)

This will be quite handy for "catch-all" routes

[2021-05-08 01:36] pkieltyka commented on #620
Read examples and docs, it’s possible

[2021-05-08 01:36] #620 closed

[2021-05-08 03:26] lesichkovm commented on #620
Thank you for replying.

I have checked the documentation multiple times as well as the examples. I also checked the closed issues so far and only HEAD and GET requests were mentioned.

Can you give an example for this?

[2021-05-11 21:57] ivanduka commented on #611
This is amazing! Thanks!

[2021-05-13 00:43] lesichkovm commented on #620
@pkieltyka can you give an example, I could not see it in the documentation or the examples

[2021-05-13 08:44] sashayakovtseva commented on #609
Having the same issue with subroutes:

[code]

Second match is not expected.

[2021-05-13 09:52] awagner-mainz commented on #480
I am sorry if this is not an appropriate place to ask this: I have a setup where I generate lots of new routes regularly (kind of DOI redirections from a ID'ed URI to an actual html file that has another name, so no simple pattern replacement). I was thinking there should be a router somewhere that has its routing table in a key-value store or another database-like structure where you can add (and

[2021-05-13 14:57] innovate-invent commented on #480
@awagner-mainz you would just create a handler that does the kv lookup and responds accordingly. You can use the router path variables provided by chi to build the key for the kv

[2021-05-13 15:03] mfridman commented on #480
@awagner-mainz Could you accomplish the redirections using dynamic URL parameters? Instead of telling the chi router your k/v mapping .. instead push that down to your application code?

e.g., say you're sending a request to http://dx.doi.org/10.1109/MIC.2009.93 in chi you could model it like so:

[code]

and then your `DOIRedirect` handler (which itself can have access to some k/v or DB store) wi

[2021-05-13 15:10] mfridman opened #621 "Consider enabling GitHub discussions for go-chi/chi repo"
GitHub recently introduced https://docs.github.com/en/discussions. Would you consider adding discussions to go-chi ?

Given most issues (nowadays) are questions, how-tos and general inquiries this might be a good way to separate "code issues" vs everything else.

It's also possible you'd prefer to have everything tracked as Issues and that's totally cool too. Just a suggestion.

[2021-05-13 19:37] yurivish commented on #609
One note about empty route segments is that some browser (like Chrome) will automatically remove them during URL normalization. It's still probably correct to consider this a bug, but in practice having empty route segments should be discouraged due to the fact that the user may not be able to navigate to them.

[2021-05-14 15:36] awagner-mainz commented on #480
D'uh! You're right of course! I guess I needed that push in the right direction. Thank you both, @mfridman and @innovate-invent .

[2021-05-14 16:04] VojtechVitek commented on #620
I think you wanna take a look at `r.Handle(` which is a catchall for all method types and in the body of the handler, you'll want to `switch r.Method { }` explicitly.

[2021-05-17 05:03] lesichkovm commented on #620
@VojtechVitek it looks like you are correct. Thank you.

[2021-05-22 10:14] mitar opened #622 "A middleware which converts all http.Error calls to JSON"
I have API implementations which call `http.Error` internally on errors. Is there already some middleware which would be able to wrap text written as error to something like `{"error": <original text>}` JSON? How would one approach implementing such a middleware? It should do the transformation only on errors.

[2021-05-23 20:10] pwnedgod opened #623 "SubRoutes for chi.Context"
The provided `Context.Routes` only stores the root Router and is not updated according to the current sub-router for the route. The middleware that I wrote for sub-routes require lookaheads for the routes.

Here is an rough idea of the middleware:
[code]

This prints:
[code]

I find it inefficient that `Match` would need to re-traverse down the tree from the root once you're down in a sub-router t

[2021-06-04 01:22] pkieltyka commented on #621
I think would be great, but I wouldn’t have time to manage it. If you want to help moderate I’m happy to add you as maintainer / owner to set it up.. no pressure / rush

[2021-06-08 14:03] pkieltyka commented on #622
sorry, I don't have bandwidth for general support questions

[2021-06-08 14:03] #622 closed

[2021-06-08 15:03] mfridman commented on #621
Its worth a try, I've noticed this working quite well in a few other oss repos, e.g., https://github.com/benbjohnson/litestream/discussions

Given the stability of chi, most "issues" coming in are just general support questions.

[2021-06-08 15:52] pkieltyka commented on #621
https://github.com/go-chi/chi/discussions done

[2021-06-08 15:52] #621 closed

[2021-06-08 18:56] myuid opened #627 "How do I listen for syscall.SIGINT"
I want to listen for syscall.SIGINT to do some subsequent operations when pressing Ctrl + C. I don't know how to write the corresponding code, could you give me some advice or demo?

[2021-06-08 19:41] mfridman commented on #627
@myuid This is less a chi issue as it is a question on how to compose package `main` to listen for interrupts.

There are plenty of examples out there, here are a few:

https://gobyexample.com/signals
https://medium.com/@pinkudebnath/graceful-shutdown-of-golang-servers-using-context-and-os-signals-cc1fa2c55e97

[2021-06-08 20:23] #627 closed

[2021-06-09 10:45] VojtechVitek commented on #622
@mitar see https://github.com/go-chi/render

[2021-06-10 12:13] mfridman commented on #604
@masseelch Would the [middleware.WrapResponseWriter](https://pkg.go.dev/github.com/go-chi/chi/v5@v5.0.3/middleware#WrapResponseWriter) be something you could use?

In the middleware wrap the response writer? Something like this:

[code]

[2021-06-14 11:56] tamalsaha opened #628 "Customize Context"
Hello,
Is it possible to customize the chi route Context?

Thanks.

[2021-06-14 12:46] pkieltyka commented on #628
what do you have in mind?

[2021-06-14 12:49] tamalsaha commented on #628
Something along the lines of https://echo.labstack.com/guide/context/ . Basically we want to add more stuff to context. (1) One way to do that will be use one key and put everything in the req.Context(). (2) The other way will be to add different objects using different keys in req.Context(). Option 1 seems to be better since it needs fewer allocation. Option 2 can be done without any modification

[2021-06-14 21:54] pkieltyka commented on #628
to do this with chi, you should make a separate AppContext, and set it however you like, and then assign it on the req.Context(). Chi's Context is also present on the req.Context() under a different key, and you shouldn't need to add state to it.

[2021-06-14 21:54] #628 closed

[2021-06-19 17:03] medge-leaflink opened #630 "[Suggestion] Clarification in docs about potential docgen error?"
I was attempting to follow `https://github.com/go-chi/chi/blob/master/_examples/rest/main.go` for an example to set up DocGen but when calling `api := docgen.JSONRoutesDoc(router)`, it was giving the following error:

[code]

The reason was that I had the following imports (thanks to my IDE):

[code]

(missing the v5 import)

Would it be worth calling that out anywhere in the docs / examples? I th

[2021-07-03 22:50] darienmiller88 opened #634 "Is there anyway to attach a middleware to a particular route on a router, and not to the router itself?"
I'm having an issue where I want to rate limit how often users can sign up for a web app on the `/api/users/signup`  route without also rate limiting the `/api/users/signin`  and `/api/users/signout`  routes. How can I do this?

[code]

[2021-07-05 12:48] pkieltyka commented on #634
@dannyvankooten hey there -- yes, you can use `.With()`

`u.Route.With(middlewareJustOnThisEndpoint).Post("/signup", u.signup)`

You may also find `.Group()` interesting. Check the _examples

[2021-07-05 12:48] #634 closed

[2021-07-05 12:50] pkieltyka commented on #630
Yes indeed, this is another problem with Go's enforcement of SIV.. I recommend reporting it to the Go modules team as well.

Good suggestion though, I think go-chi/docgen could use a README with an example there and highlighting the use of /v5

[2021-07-05 12:50] #630 closed

[2021-07-10 01:20] darienmiller88 opened #635 "Rendering 404 html page for "NotFound" method doesn't generate static files. Why does this happen?"
Adding the `NotFound` handler successfully routes non existent routes to the specified handler I pass to it, but rendering the html page for that route failed to load the static files.

[code]

Why does this happen, and is there a workaround?

[2021-07-12 03:04] helios741 commented on #635
@darienmiller88
Please post the completion code (implementation of render.HTML)

[2021-07-12 13:35] helios741 commented on #609
This bug is caused by not setting xn to nil in time when ntype is equal to ntRegexp and traversing the child nodes.
the xn in these places should be set to empty in time.[tree.go#L432](https://github.com/go-chi/chi/blob/master/tree.go#L432)、[tree.go#L438](https://github.com/go-chi/chi/blob/master/tree.go#L438)、[tree.go#L442](https://github.com/go-chi/chi/blob/master/tree.go#L442).

I want to fix t

[2021-07-13 10:50] helios741 opened #636 "there may be a issue with one of the tests in mux_test"
in [mux_test.go#L1469](https://github.com/go-chi/chi/blob/master/mux_test.go#L1469)
[code]
I don't think the `/foo-.json` in line 9 matches the `/foo-{suffix:[a-z]{2,3}}.json` in line 3.
because "" does not satisfy `[a-z]{2,3}`.or what is the original purpose of this design.
this question is similar to #609.

[2021-07-13 10:53] helios741 commented on #636
If it's a issue, I can fix it uniformly

[2021-07-14 13:10] elizarpif opened #638 "Not Found result for defined url"
Hello!
I defined router like this:

[code]

And when I make request GET /users/12347 (using UserRouter) server responds 'Not Found' meanwhile requests defined in selectedUserRouter work as they should.
But if I move my request into selectedUserRouter, it will work correctly.

[code]
But for me this definition isn't correct, because user_id can be numeric or uuid. What can I do in this situation? I

[2021-07-15 10:10] ggicci commented on #320
I think the [ggicci/httpin](https://github.com/ggicci/httpin) is what you're looking for. And recently I'm working on how to integrate it with other packages including gochi. Any suggestions are welcomed :)

[2021-07-18 20:21] coraxster commented on #91
Thank you for the great product! We use it in our internal services
https://www.exness.com

[2021-07-18 23:36] stefanwuthrich commented on #91
I use it for API endpoints running my job boards (multi-tenant, running all on the same instance):
[Fullstack Developer Job Board](https://fullstackjob.com)
[Python Developer Jobs](https://pythonjob.xyz)
[Javascript Developer Jobs](https://javascriptjob.xyz)
and of course:
[Golang Developer Jobs](https://golangjob.xyz)

[2021-07-19 18:25] tomqwpl opened #641 "URL encoded route parameters not handle correctly"
There was a fix put in (#148) a while ago that introduced use of url.RawPath as the basis for the route path.
However, as I understand it, RawPath is only a _hint_ and doesn't always include the actual URL encoded path. It only contains the path if it differs from the default encoding of the path. In other words, RawPath being blank doesn't mean that the path requires URL encoding, or that the pat

[2021-07-19 19:05] tomqwpl commented on #641
Perhaps this is best explained by a test case. Note that this test case shows what actually happens now:

[code]

If this was a real handler, I wouldn't apparently know whether to unescape the result I get.
The first two cases show expected unescaping behaviour. In normal cases the parameter is unescaped, which I think is what you expect to happen.
In case 4 I wouldn't want unescape the parameter,

[2021-07-19 21:36] pkieltyka commented on #641
thanks for pointing out the inconsistency. I agree it should be at least consistent. The choice should be the one which is more efficient and requires less processing on chi's side.

[2021-07-20 06:15] tomqwpl commented on #641
Further examples of inconsistency introduced. Again these tests display the observed behaviour. The implementation of url.setPath means that the case in which you URL encode things affects whether the parameter is extracted unescaped or not:
[code]
Ignoring efficiency, it feels like the right implementation is to always parse the result of url.EscapedPath, and then unescape the individual route pa

[2021-07-20 06:39] tomqwpl commented on #641
In a fork I've created a fix that makes a simple change that appears to produce a consistent result. The existing tests all work, with the exception of the TestEscapedURLParams test were the test is expecting what is essentially inconsistent behaviour. My additional tests also work.
https://github.com/tomqwpl/chi/commit/22e0f03cbc24e2915242164aa20f511da507a64e

I don't particularly want to maintai

[2021-07-20 07:18] tomqwpl commented on #641
Gorilla mux has an option that says "use encoded path". It does the obvious thing. By default it will parse the unescaped path, as chi normally does. Route parameters are then returned to you unescaped.
You can set an option of "use encoded path", in which case all that happens is that it uses url.EscapedPath. Parameters are therefore returned to you escaped, and its up to you to unescape them. Th

[2021-07-22 21:54] nawa opened #642 "Issues with URL Params escaping and proposals to fix"
### The initial issue

I was faced with issues in URL params escaping. I can show them using two examples, but there could be more. So, clients can send to the server two requests with the next path

- `/api/first%25%20second` - it is a usual path in which all symbols that need to be escaped are escaped
- `/api/first%20(second)`  - it is the case of how Chrome/Firefox/Safari escape URL in address

[2021-07-23 07:36] suxor42 commented on #186
@edumucelli This will always be true as `chi.URLParam(r, "key")` does not find query parameters. At least not in with version `github.com/go-chi/chi/v5 v5.0.0`

[2021-07-27 18:33] darh commented on #91
https://github.com/cortezaproject/corteza-server

[2021-08-03 22:15] lc-stevenzhang commented on #199
Glad to know the origin of this name, thanks!
By the way, here is the Chinese word of "chi":  气。

[2021-08-07 15:23] thequailman opened #643 "Something is broken with Go 1.16.4+"
I recently upgraded to Go 1.16.7 and I am seeing some weird behavior with Chi I believe.  When I execute w.Write within a handler, I get `http: request method or response status code does not allow body` sporadically.  I'm not setting a 204 status (setting 200), and this is always a GET, so this should be allowed.  This handler works fine with Go 1.16.3.

[2021-08-07 15:30] thequailman commented on #643
Disregard, it was with a different library.

[2021-08-07 15:30] #643 closed

[2021-08-16 08:59] vietvudanh commented on #611
Thank you @utamori.

[2021-08-17 09:34] terdia commented on #403
This works for me, no need for a separate function

[code]

[2021-08-24 03:29] CodyGuo opened #649 "docs/user_guide/routing.md"
[code]

[2021-08-27 17:39] nitiprabhu opened #652 "Getting 'unexpected EOF' error frequently while reading r.Body()"
I have added a POST API using go-chi for particular use cases. While reading the payload from the request ( `ioutil.ReadAll(r.Body) `  where r is `r *http.Request ` as given below), I am getting '_unexpected EOF_' error so frequently but I am unable to reproduce the same on testing environment.

Could any help to understand when will this error occur? Am i missing anything?

Code snippet:

[code]

[2021-08-29 02:45] #649 closed

[2021-08-29 02:45] #652 closed

[2021-09-01 07:39] Dmdv opened #655 "Adding new keys/value to the log entry with the logging middleware"
If we are using logging middleware, how possible to add a new key and a value to the log entry?

**The case:**
I've been developing authentication middleware and in the middleware I need to have an access to the http logger and add entries to it

Does this logging middleware allow for adding key/value to the entries?

<img width="636" alt="image" src="https://user-images.githubusercontent.com/8052

[2021-09-02 04:37] jeffreydwalter opened #656 "New oAuth 2.0 middleware"
Hi @pkieltyka, I just ported [this](https://github.com/maxzerbini/oauth) gin oAuth 2.0 middleware package to a [go-chi package oAuth 2.0 package](https://github.com/jeffreydwalter/oauth), and am wondering if you'd like me to submit a PR to add it to the middleware collection.

Please have a look and let me know what you think.

[2021-09-02 13:59] pkieltyka commented on #656
hey @jeffreydwalter looks good!

I've made a new repo: https://github.com/go-chi/oauth -- can you submit the PR here..?

I read some of your branch code and a few requests as well:
1. https://github.com/jeffreydwalter/oauth/blob/master/go.mod#L6 -- here you are using go-chi v1.5.4 -- please update import paths to /v5, so github.com/go-chi/chi/v5
2. Let's remove dependency on github.com/go-chi/rend

[2021-09-02 17:31] jeffreydwalter commented on #656
Awesome! I made the changes you requested and made a PR here:
https://github.com/go-chi/oauth/pull/1

Cheers!

On Thu, Sep 2, 2021 at 8:59 AM Peter Kieltyka ***@***.***>
wrote:

[2021-09-02 17:33] pkieltyka commented on #656
thanks :) merged in other repo

[2021-09-02 17:33] #656 closed

[2021-09-08 09:13] refs commented on #342
How is this not yet in the main Readme? Why was it closed? It seems to me there wasn't really a conclusion to OP's question 🤷

[2021-09-08 21:00] pixelrazor commented on #655
It looks like the logging middleware supports [extension](https://github.com/go-chi/chi/blob/master/middleware/logger.go), so it should be able to support whatever you would like it to

[2021-09-11 00:40] blank-teer opened #657 "any luck with full route pattern retrieving?"
i've tried both ways how to retrieve full route: mux.Routes() and chi context, and got nothing.
so help me please, what do I do wrong?

[code]

[2021-09-11 12:29] mfridman commented on #657
`Route` has a closure, note the `r` variable closure inside the function vs using the outer `mux`

[code]
If you then:

[code]

It'll print out:

[code]

Note there is also `chi.Walk` to simplify things.

https://github.com/go-chi/chi/blob/master/_examples/router-walk/main.go#L28-L36

[2021-09-15 09:56] dim opened #658 "Middleware not applied in v5.0.4 :scream:"
Here's a minimal example:

[code]

The output is: `404 404 page not found`, see yourself: https://play.golang.org/p/P4Gc10ThUUt

[2021-09-15 10:06] blank-teer commented on #657
@mfridman thanks!

[2021-09-15 10:07] #657 closed

[2021-09-15 13:07] pkieltyka commented on #658
Try adding a route in there

[2021-09-15 13:28] #658 closed

[2021-09-16 09:52] pkieltyka commented on #655
See https://github.com/go-chi/chi/blob/master/_examples/logging/main.go and https://github.com/go-chi/httplog

[2021-09-23 05:04] tracplus-hpaterson opened #661 "`middlewear.Recover` causes undefined behaviour if a connection has been upgraded."
The [`middlewear.Recover` method ](https://github.com/go-chi/chi/blob/df44563f0692b1e677f18220b9be165e481cf51b/middleware/recoverer.go#L34)attempts to write an HTTP 500 Internal Server Error to a response as part of the error recovery process. This will cause apparently undefined behavior if the connection has been hijacked.

In our use case, we have upgraded our connection to a WebSocket using `g

[2021-09-23 10:48] pkieltyka commented on #661
Great find and idea. I won’t have time for this one for a while but feel free to PR if you’re interested

[2021-09-30 18:25] unishubh commented on #91
Retailpulse  (www.retailpulse.ai) is using it to serve REST and GraphQL endpoints.

[2021-10-07 10:14] bramvandewalle opened #662 "Small typo in comment"
I think there is a small typo in a comment [here](https://github.com/go-chi/chi/blob/master/middleware/compress.go#L117-L118).

I think it should be "That's why we prefer gzip over deflate. It's just more reliable and not significantly slower than **deflate**" instead of "That's why we prefer gzip over deflate. It's just more reliable and not significantly slower than **gzip**".

[2021-10-07 10:58] carmo-evan opened #663 "Misuse of mount results in infinite loop when calling unregistered method"
When misusing `Mount` like so:

[code]

Calling unregistered methods on the /products path (POST /products, PUT /products, etc) results in Chi entering an infinite loop. This could be used maliciously by an attacker. The expectation is that either this should still work as intended, or an error should be thrown.

[2021-10-10 17:36] mrpalide opened #664 "Add simple validation on RealIP middleware"
Hi
I think a simple validation on RealIP middleware should useful. I suggest `net.ParseIP()`.

[2021-10-19 02:42] hwyjzhao opened #666 "websocket status code dose not record"
hello, I use chi WrapResponseWriter wrap my ResponseWriter, then use it record some info to log, but I find the status code can not by record when the app use  websocket. pls help me.

[2021-10-19 07:14] #666 closed

[2021-10-21 15:35] frederikhors opened #667 "Are these benchmarks correctly?"
I am a fan of `chi` for a long time.

The other day I came across [this new router](https://github.com/uptrace/bunrouter) and saw [the benchmarks](https://bunrouter.uptrace.dev/guide/#benchmark): `chi` comes out destroyed and then I thought maybe something is broken in those benchmarks.

Can I ask you - you experts - if so?

The code is here: https://github.com/go-bun/go-http-routing-benchmark whi

[2021-10-21 16:36] pkieltyka commented on #667
From a very quick glance, it seems bunrouter is designed to run at 0 allocations. Chi uses the request context for url params storage. I haven’t checked the design of bun or it’s capabilities, but it can’t be equivalent in capability to chi, otherwise chi would also be zero-allow. In practice, this will have no impact on web service performance.

[2021-10-21 16:36] #667 closed

[2021-10-21 16:40] frederikhors commented on #667
Can you please explain this to me?

[2021-10-21 23:54] everton-dk9 opened #668 "Calling (*T).Fatal() inside a goroutine in mux_test.go"
In [mux_test.go#L1577](https://github.com/go-chi/chi/blob/df44563f0692b1e677f18220b9be165e481cf51b/mux_test.go#L1577)

[code]
In VScode I got a warning at line 1577 in mux_test.go. So I start searching for a solution and end up finding some discussions recommending to use `t.Error() return` or `t.Errorf() return` instead of `t.Fatal()`. The method `t.Fatal()` or `t.Fatalf()` should be called from

[2021-10-23 00:52] jacklberk opened #669 "How do I redirect to 404 for nested when I have wild card root serving static react"
Hi chi team, I have a quick question, if I want my router to resolve like the following

    /my_api -> handle my_api
    / -> serve my landing page
    /{any_url} -> serve static page
    /{any_url}/{any_nested}
    /{any_url}/{any_nested} /{any_nested.....}
    /{any_url}/{any_nested} /{any_nested.....}/.........
       -> serve 404 OR alternatively serve static page

right now `/{any_url}/{any_

[2021-10-24 08:06] ghost opened #670 "In what order does (*Mux).With execute middleware?"
I'm trying to figure out whether
[code]
equals
[code]
Since [alice](https://github.com/justinas/alice) essentially reverses the middleware order and I was wondering if this also applied to chi's middleware chainer since order matters in my web application.

[2021-10-25 04:34] leighmcculloch opened #671 "Bug in request ID middleware for prefix generation"
It appears like there might be a bug in the prefix generation for the request ID.

https://github.com/go-chi/chi/blob/df44563f0692b1e677f18220b9be165e481cf51b/middleware/request_id.go#L47-L59

It looks like `b64` is supposed to already have a value because the variable is declared and its length is checked. However, it is never given a value between declaration and that check so it is always less

[2021-10-25 10:40] #671 closed, assigned to nobody

[2021-10-25 10:46] #670 closed, assigned to nobody

[2021-10-27 11:22] #669 closed, assigned to nobody

[2021-11-03 11:50] bcodus opened #672 "How to separate routes into route package?"
This should be trivial but I could not separate go-chi routes into a separate package and could not find the answer in the docs. Here is what I tried:

    package route

    import (
    	"havgin/app/controller"
    	"net/http"
    	"github.com/go-chi/chi/v5"
    	"github.com/go-chi/chi/v5/middleware"
    )

    func RegisterRoutes() *chi.Router {
    	r := chi.NewRouter()
    	r.Use(middleware.L

[2021-11-03 14:36] VojtechVitek commented on #672
Perhaps you have an issue with your import path or go.mod file. This is not a go-chi specific question. Please consult Golang Slack or StackOverflow.

[2021-11-03 14:36] #672 closed

[2021-11-03 15:04] hacdias opened #673 "Regex OR not matching correctly"
Hi - I was building a router where I need to have yearly, monthly and daily archives where each of the fields can also be "any". To match any, we decided on `x`. Thus, we used the following route regex:

[code]

It should match either `/x` or `/0000` where `0` is any digit. However, it matches `x\d*` and `\d\d\d\d\d*`.

We couldn't find any examples on the documentations/tests where you use the `o

[2021-11-03 17:36] jlelse commented on #673
I found a working regex:

[code]

[2021-11-03 17:46] jlelse commented on #673
It's probably *not* a bug. Compare `^x|\d\d\d\d$` and `^(x|\d\d\d\d)$` on https://regex101.com. I don't have enough regexp-knowledge to explain the background though.

[2021-11-05 23:30] vtolstov opened #674 "ignore case in path elementes"
i need rarely used option to ignore case of path segments, for example i want to catch /v1/create and /v1/CREATE and /v1/CreAte does it possible to add option to ignore case ?

[2021-11-06 02:06] mfridman commented on #674
You could add a "case insensitive" middleware. Middleware functions are called before route matching, so something like this should work for you..

[code]

[2021-11-06 10:56] vtolstov commented on #674
yeah, looks good. thanks!

[2021-11-06 10:56] #674 closed

[2021-11-08 10:34] Swastyy commented on #662
Hi @bravdwal , have you opened a PR for this or Can I take this up?

[2021-11-08 10:36] bravdwal commented on #662
I have not because I couldn't push to the repo (permission denied).

[2021-11-08 10:37] Swastyy commented on #662
Ohh, let me try once.

[2021-11-08 11:15] #662 closed, assigned to nobody

[2021-11-12 14:43] lewislbr opened #676 "Trailing slash with (*chi.Context).RoutePattern()"
Hi, first of all thanks for Chi, it's so nice.

I noticed that the path reported by RoutePattern sometimes includes a trailing slash. Example:

[code]

Calling `localhost:8080/foo` will print `/foo`.
Calling `localhost:8080/foo/` will print `/foo/`.
Calling `localhost:8080/foo/bar` will print `/foo/bar/`.
Calling `localhost:8080/foo/bar/` will print `/foo/bar//`.

I'm wondering if it'd be worth it

[2021-11-19 21:02] vtolstov opened #679 "remove route for some pattern"
how about adding ability to remove route ? for example i want to control routes via some web ui
i'm understand that i can add middleware, but in such middleware i need to do the same stuff as tree.go for pattern matching

[2021-11-19 22:57] mfridman commented on #679
dup of https://github.com/go-chi/chi/issues/480.

Still think it's outside the scope of the router itself.

[2021-11-23 11:00] komuw opened #680 "dedupe/deduplicate middleware"
`chi` does not seem to deduplicate middlewares. I don't know if this is a bug or a feature but it can lead to surprising behaviour.
Imagine we have a middleware that collects metrics, or does logging

[code]
[code]

Now, our middleware is called thrice and we have triple counted our metrics.
The fix, would be to remove the bug and not add the middleware twice. But I feel like `chi` could help us h

[2021-11-23 11:31] vtolstov commented on #680
this is possible if all middlewares will have some method like Name() string
and r.Use cast middleware to such interface and check middlewares slice for this name

[2021-11-23 12:05] komuw commented on #680
an alternative would be to use `reflect.ValueOf(middleware)` for comparison. Though I don't know if use of reflect is acceptable.

[2021-11-23 12:12] vtolstov commented on #680
reflect not useful. for example:

mw1 := NewMetricsMiddleware()
mw2 := NewMetricsMiddleware()

via reflect mw1 and mw2 different, but this is the same middleware

[2021-11-23 12:22] komuw commented on #680
It wouldn't be reflect on `NewMetricsMiddleware()` but on `NewMetricsMiddleware`
ie, the code https://github.com/go-chi/chi/blob/0316d5a1df8598eceb137f5f77945be56810b564/mux.go#L98-L103 would change to something like;
[code]

But as I said, I'm not sure whether this is a good way to deal with the issue.

[2021-11-23 15:54] wisaTong opened #681 "Incorrect code snippet for AllowContentType middleware on go-chi.io"
code snippet for https://go-chi.io/#/pages/middleware?id=allowcontenttype is incorrect
[code]
should be
[code]

Just want to contribute :) Love this project

[2021-11-24 02:05] shenghui0779 opened #682 "Support debug mode like Gin"
`gin.SetMode(gin.DebugMode)`

[2021-11-24 02:52] js-everts commented on #673
The expression `^x|\d\d\d\d$` is somewhat similar to writing `(^x|\d\d\d\d$)`. Notice how the `^` and `$` anchor points are split to either side of the alternation (`|`), while `^(x|\d\d\d\d)$` ensures the anchor points belong to the entire expression.

Or if you want to write the regex without parenthesis then `^x$|^\d\d\d\d$` works

[2021-11-24 03:43] mfridman commented on #682
Could you elaborate what are your trying to accomplish?

If you want to log every request, consider a middleware logger ? e.g.,

[code]

https://github.com/go-chi/chi/blob/0316d5a1df8598eceb137f5f77945be56810b564/middleware/logger.go#L35-L43

[2021-11-24 11:18] mghifariyusuf opened #683 "panic: runtime error: invalid memory address or nil pointer dereference DataDog (maybe)"
log:
[code]

I have these functions to initiate route
[code]

[2021-11-24 12:47] #679 closed

[2021-11-24 12:48] pkieltyka commented on #680
Out of scope, you’ll have to be more careful

[2021-11-24 12:48] #680 closed

[2021-11-24 12:48] pkieltyka commented on #681
Thanks :) we’ll correct

[2021-11-25 03:22] shenghui0779 commented on #682
I hope to print the defined routes during initialization.

[2021-11-25 03:26] #682 closed

[2021-11-25 09:52] tomqwpl commented on #642
Yep, also have this problem, and I'm surprised more don't (I suspect they do, they just don't know it :-))

[2021-11-26 12:33] yursan9 commented on #582
I don't know if you still need this or not, but you can write something like this:
[code]

[2021-11-26 16:02] VojtechVitek commented on #680
@komuw You might wanna create a wrapper function around your middleware that returns it only for the first time and returns a NOP middleware otherwise.

I don't think this is something that belongs to Chi core either.

[2021-12-11 15:24] wenerme opened #686 "Support Router scopeed RegisterMethod"
Current RegisterMethod will register to global, but some handle do not expected the unknown methods, e.g. a webdav expected PROPFIND, but all other handler are not.

[2021-12-16 12:56] iFrozenPhoenix opened #687 "No error on redeclared routes"
Currently it is possible to redeclare a route without throwing an error or warning.
Wouldn't it make sense to throw an error or at least a warning on redeclared routes as the routing becomes unpredictable?

Additions: As I have currently seen there is a check in mux.go line 289. But somehow I get no error.
See code example below

[code]

[2021-12-16 13:48] mfridman commented on #687
What you described is intentional, `chi` recognizes the last handler matched and overrides existing handler (this is by design)

This issue might be of interest to you. https://github.com/go-chi/chi/issues/336#issuecomment-411415945

You can "wrap" those routes using `.Route()` .. and this will panic:

[code]

**Output:**

[code]

[2021-12-16 14:32] iFrozenPhoenix commented on #687
I've tried it and it works like in your example. But when the subroutes are added to the resulting router object it doesn't panic.
Wouldn't it be possible to make the NewRouter function an variadic function to initialize with options and let it have an options object with strict mode where all redeclared routes panic?
This approach would also allow further customizations if needed.

[2021-12-17 18:46] iyorozuya opened #689 "docs: example code of AllowContentType has typo"
In [link](https://go-chi.io/#/pages/middleware?id=allowcontenttype), the example code of AllowContentType has a typo. In place of AllowContentType, AllowContentEncoding is written.

[2021-12-18 01:12] #683 closed

[2021-12-18 07:19] Hellysonrp commented on #642
I have this problem too.
My development environment is Windows, and I don't have this problem, but in my staging and production environments (Linux machines), I can consistently find this issue in any path with a parenthesis.

[2021-12-18 09:03] nawa commented on #642
@Hellysonrp Could you try the workaround I described?

[code]

https://github.com/nawa/chi/commit/00f16715671c0749031abb98468af44d1192ff19

[2021-12-20 02:44] Hellysonrp commented on #642
The workaround works flawlessly both on Windows and Linux.
I don't know if it has any effect on Windows because I didn't have this issue with Windows, but at least now the same code works as expected in both systems.
Thank you for the workaround :slightly_smiling_face:

[2021-12-26 12:10] jeffreyantony opened #690 "Error getting v5 using go get or when importing in go file"
Hi,

When running the command 'go get -u github.com/go-chi/chi/v5' , I get the below error.
I also get the same error when importing v5 in my go file.
Can anyone let me know how to fix it ?

[code]

I am using Ubuntu 20.04
I have my GOPATH and GOROOT as below
$GOPATH = /home/rob/go
$GOROOT = /usr/lib/go-1.13/

[2021-12-28 01:42] jeffreyantony commented on #690
Issue issolved. Was using old go version 1.13 as this was the default installation in Ubuntu 20.04
Fixed the issue after upgrading go to version 1.17

[2021-12-28 01:42] #690 closed

[2021-12-28 02:07] jeffreyantony opened #691 "Subdomain example in route_headers.go not working"
I implemented the subdomain example provided in the [route_headers.go file](https://github.com/go-chi/chi/blob/master/middleware/route_headers.go).
Unfortunately the example provided is not working. The issue is that sub.example.com goes to the main domain page instead of sub domain page.
Can anyone please let me know how to fix the issue ? Or if the below code is working for them ?

I was testing

[2021-12-28 03:31] bestgopher opened #692 "how to get full router path in middleware?"
I want to get full router path in middleware before calling the handler.
![image](https://user-images.githubusercontent.com/36840497/147525090-62afd66b-f9e0-451f-abef-24aedd82b579.png)

[2021-12-28 06:20] bestgopher commented on #692
Maybe use `Group` is a good chioce!

[2021-12-28 06:42] bestgopher commented on #692
like gin's `ctx.FullPath()` method

[2021-12-28 17:32] js-everts commented on #692
Maybe with `RoutePattern()`?

``
chi.RouteContext(r.Context()).RoutePattern()
``

[2021-12-28 23:53] bestgopher commented on #692
I tried it, but failed. it only got `/test1/*` in my example.

[2021-12-29 03:49] js-everts commented on #692
Apologies. I misunderstood you.

I am not that familiar with `chi`'s internals. But I'm guessing what you want is not possible because of the way `chi` does routing. Since its based on a `trie` data structure, a middleware will have no knowledge of the full route pattern high up in the `trie` because `chi` has not yet resolved the full route pattern at this point in time. However if you were to at

[2022-01-03 18:15] pkieltyka commented on #692
hey all, the pattern is determined at runtime as the request is traversing the router. As a result, you need to get the pattern after the call to `next.ServeHTTP`, see https://github.com/go-chi/chi/blob/master/context.go#L117-L118

[2022-01-03 18:16] #692 closed

[2022-01-03 18:20] pkieltyka commented on #686
can you explain with an example? I'm having a difficult time understanding what is the issue

[2022-01-03 18:20] #668 closed

[2022-01-03 18:23] pkieltyka commented on #668
thanks, fixed in https://github.com/go-chi/chi/commit/ba10645980b4076b0f9a057574457db9bcf6ebd8

[2022-01-03 18:26] pkieltyka commented on #689
thank you -- fixed in https://github.com/go-chi/docs/commit/e283fe72b1d0ae9b6ec574405ee7ac8cb2f7573d

[2022-01-03 18:26] #689 closed

[2022-01-03 18:26] pkieltyka commented on #681
thanks :) fixed in https://github.com/go-chi/docs/commit/e283fe72b1d0ae9b6ec574405ee7ac8cb2f7573d

[2022-01-03 18:26] #681 closed

[2022-01-03 18:28] pkieltyka commented on #687
overriding handlers is allowed by design

[2022-01-03 18:28] #687 closed

[2022-01-03 18:30] #582 closed

[2022-01-03 18:31] #623 closed

[2022-01-03 18:32] #635 closed

[2022-01-03 18:33] #638 closed

[2022-01-03 18:34] #663 closed

[2022-01-03 18:36] pkieltyka commented on #664
thanks, merged your PR

[2022-01-03 18:36] #664 closed

[2022-01-03 18:37] #536 closed

[2022-01-03 18:40] pkieltyka commented on #453
alternatively, RealIP can change so it doesn't override r.RemoteAddr at all, and instead it will set a "RealIP" on the request context, I think that would be cleaner

[2022-01-03 18:41] #543 closed

[2022-01-03 18:46] pkieltyka commented on #588
I'm a bit confused.. how should we handle `http.ErrAbortHandler` then..?

the current middleware: https://github.com/go-chi/chi/blob/master/middleware/recoverer.go#L22

looks like so:

[code]

suggestion is to change it to....?

[code]

so, we log and re-raise the panic..? or something else is suggested here..?

[2022-01-03 18:48] #673 closed

[2022-01-03 18:49] #655 closed

[2022-01-03 18:54] drakkan commented on #588
please take a look at #624, the panic should not be logged

https://go.googlesource.com/go/+/master/src/net/http/server.go#1793

[2022-01-03 18:57] pkieltyka commented on #676
thanks for the suggestion, I agree this is cleaner.

updated in https://github.com/go-chi/chi/commit/3e5747d1f803ed5fd2324c24fb4e2c767241e8a0

[2022-01-03 18:57] #676 closed

[2022-01-03 19:06] pkieltyka commented on #691
at a quick glance, this looks good. maybe the wildcard check doesn't work? try to change `"*.example.com"` with `"sub.example.com"` and see if that solves it?

[2022-01-03 20:08] drakkan commented on #588
Dome, thank you

[2022-01-03 23:04] #588 closed

[2022-01-05 17:19] riandyrn opened #695 "OpenTelemetry Middleware Proposal"
Hello, @pkieltyka

First of all thank you so much for chi project! It has been a great help in my career as Go dev.

I would like to propose ownership of [otelchi](https://github.com/riandyrn/otelchi) to [go-chi](https://github.com/go-chi) org. It is basically middleware for sending traces to OpenTelemetry collector.

It also has been approved by OpenTelemetry community:

- https://github.com/open

[2022-01-06 00:22] pkieltyka commented on #695
hey @riandyrn this looks great :) thanks for the suggestion -- lets do it

A few things I'd like to do though..

1. We can transfer ownership to go-chi, and ill continue to give you collab writes to merge to the repo so you can help maintain it
2. Let's rename to github.com/go-chi/otel
3. Rename folder example to _example

Separately, let me know if you'd be interested in discussing a Go developme

[2022-01-06 01:23] pkieltyka opened #696 "👋 ❤️ Hi, creator of chi, looking to hire passionate/awesome Go developers to join my company :)"
Hi all,

Chi is used by thousands upon thousands of amazing developers around world. It's been a pleasure to build chi and contribute to it the open source community to help power infrastructure around the world.

I know there are so many amazing developers that come through this repo and use it in their projects too.

Aside from creating / working on Chi, I'm also the cofounder + CEO of Horizon B

[2022-01-06 06:33] riandyrn commented on #695
Thanks, it will be an honor to be able to work with chi community :)

Sure, I believe `github.com/go-chi/otelemetry` will be more clear even though it's too long XD

Sure, I will make the change after the repo has been transferred. I will also:

1. Update [CI Pipeline](https://github.com/riandyrn/otelchi/blob/master/.github/workflows/ci.yaml) accordingly.
2. Update module name to be `github.com/go

[2022-01-06 06:36] riandyrn commented on #695
I've transferred the repo ownership to your account, @pkieltyka.

[2022-01-06 11:54] VojtechVitek commented on #695
@riandyrn Would you consider changing the license to MIT, as the rest of go–chi projects? Or is there a particular reason for Apache instead? :)

This looks great. Thank you!

[2022-01-06 12:26] riandyrn commented on #695
Hello, @VojtechVitek

Yeah, this is actually one of the aspect I want to discuss.

I was using Apache 2.0 license because [OpenTelemetry for Go](https://github.com/open-telemetry/opentelemetry-go-contrib) is using it. So to contribute to it I need to also use the same license (see [here](https://github.com/open-telemetry/opentelemetry-go-contrib/blob/main/instrumentation/github.com/gorilla/mux/ote

[2022-01-06 14:01] jeffreyantony commented on #691
I tried with sub.example.com. But still have the issue.

While debugging the code (route_headers.go), I found that the header information is not available in `r.Header.Get(header)`
Below fix (line 91) helped me to get the header details.
`headerValue := r.Host //r.Header.Get(header)`

Also I noticed that my browser is not sending the header details. I had to use curl to send header info.

After th

[2022-01-06 14:14] pkieltyka commented on #691
please paste sample / minimal main.go program with the issue

[2022-01-06 15:16] VojtechVitek commented on #695
If you're using upstream code directly in your repository (ie. if you copy pasted something or vendored something), then I think it needs to reference their original license.

However, if the middleware code is yours, it's all your decision :)

This is not a blocker of course, so I'll let you decide. But I thought MIT would be best fit to https://github.com/go-chi org, as all repos are MIT license

[2022-01-06 18:11] wojtekwtf commented on #696
i met peter and absolutely love the games horizon is building — anybody interested should chat with him!

[2022-01-07 03:38] riandyrn commented on #695
Oh ok, I think it should be safe to change the license to MIT then. I just use the OpenTelemetry library.

Thanks for the explanation, @VojtechVitek. 👍🏻

Ok, should I apply all the required changes before the repo transfer is done, @pkieltyka?

I noticed you haven't approve the change ownership request for the repo.

Previously I thought the change would be better to be done after repo transfer so

[2022-01-08 09:59] jeffreyantony commented on #691
I have pasted below the code. Note that the behavior from CURL and browser are different. Crash report from the app when using CURL is shown at the end.

1) Fix done in route_headers.go line 91 is shown below
`headerValue := r.Host //r.Header.Get(header)
`

2) My subdomain code is shown below
[code]

3) First I will start with the browser responses.
Irrespective of sub.example.com or example.com,

[2022-01-08 10:43] wenerme commented on #686
**now**

[code]

**propose**

[code]

webdav support alot methods

ACL, CANCELUPLOAD, CHECKIN, CHECKOUT, COPY, DELETE, GET, HEAD, LOCK, MKCALENDAR, MKCOL, MOVE, OPTIONS, POST, PROPFIND, PROPPATCH, PUT, REPORT, SEARCH, UNCHECKOUT, UNLOCK, UPDATE, VERSION-CONTROL

register to global will affect other handler's.

[2022-01-08 11:32] js-everts commented on #691
The `RouteHeaders` middleware can't be used to for Host matching. The example in `route_headers.go` should be updated to reflect this or exclude the example entirely.

From https://pkg.go.dev/net/http

In the meantime you can try https://github.com/go-chi/hostrouter

[2022-01-08 13:08] js-everts commented on #691
Also in the example we seem to be mounting the router (`r`) onto itself which is what's causing the stack overflow.

[2022-01-08 18:09] mahmud2011 commented on #91
Pathao (https://www.crunchbase.com/organization/pathao)

[2022-01-08 18:19] mahmud2011 opened #697 "heartbeat middleware response"
https://github.com/go-chi/chi/blob/master/middleware/heartbeat.go#L18

`w.Write([]byte("."))`

Is there any specific reason for the `.` as response? It's hard to notice at first glance.

May be something like this would be more readable from client.

`w.Write([]byte(http.StatusText(http.StatusOK)))`

[2022-01-08 21:02] stefanwuthrich commented on #91
Use it for the backend of [React Jobs](https://reactjobs.com)

[2022-01-10 19:50] mewwts commented on #696
Peter is an amazing individual and you should work for him.

[2022-01-22 14:05] maheshkumar2150 commented on #574
Refused to apply style from 'http://localhost:3000/static/css/style.css' because its MIME type ('text/plain') is not a supported stylesheet MIME type, and strict MIME checking is enabled.

[code]

[2022-01-26 20:01] avdb13 commented on #696
Hey Peter, pretty cool projects you have! Big fan of cryptography but my technical knowledge of it is still lacking. Not a fan of web3 hype either but these seem like projects with potential. Good luck with hiring!

[2022-01-27 22:09] pkieltyka commented on #696
thank you @avdb13 -- I appreciate that, and agree tons of hypey projects, but also lots of truth to the primitives of web3

[2022-01-29 20:12] obtusedev opened #702 "Go Chi documentation example outdated?"
The code example for https://go-chi.io/#/pages/routing?id=routing-patterns-amp-url-parameters shows `chi.URL(r, "slug")` however it seems only `chi.URLParam()` exists in v5.0.7. Is the example outdated?

[code]

[2022-01-31 18:39] p4u commented on #91
Use it for the blockchain based voting platform https://vocdoni.io (github.com/vocdoni/vocdoni-node)

[2022-02-02 11:49] mpuels opened #703 "Why name it `URLParam()`?"
It seems as if the world has agreed on that a "URL parameter" is this

[code]

Chi on the other hand says "no, no, you're all wrong, a URL parameter is this":

[code]

I'm just curious about that naming decision in Chi.

# Chi

![Screenshot from 2022-02-02 12-42-32](https://user-images.githubusercontent.com/2924816/152147287-ecea7417-c6ba-4cb1-bee5-9b4d803b3140.png)
https://github.com/go-chi/chi#u

[2022-02-04 18:11] ibrahimjelliti opened #704 "431 too large headers size?"
hello,

I am using go chi in my golang backend. I am facing an error of too large request size here(21608 bytes in headers size).
I am not sure if this is an exception from go-chi as of exceeding the headers size limit here? any advice here?
thanks,

[2022-02-04 18:17] obtusedev commented on #703
@mpuels

This is a **url query parameter**
Where you would use `r.URL.Query.Get("param")` to get the value.

This is a **url path parameter**
Where you would use `chi.URLParam(r, "param")` to get the value.

This resource you linked shows the different types of parameters.
I suppose they all fall under the general category of url parameters.

See this for more clarification: https://stackoverflow.

[2022-02-04 18:23] obtusedev commented on #704
From the go documentation: https://pkg.go.dev/net/http
[code]
DefaultMaxHeaderBytes is the maximum permitted size of the headers in an HTTP request. This can be overridden by setting Server.MaxHeaderBytes.

Maybe see if changing that will help.

[2022-02-05 22:48] mpuels commented on #703
Thanks for your answer!

Yes, after reading chi's docs I understood what `URLParam()` means.

Let me briefly tell you why I opened this issue regarding the name of `URLParam()`.

At work I read an internal's project source code that uses chi. I saw a statement that uses `URLParam()`. Since I wasn't certain what that function does, I googled for "URL parameter". The search results suggested that "U

[2022-02-06 18:38] jawnsy commented on #703
If changing this is desirable, then I think it's also possible to do this in a backward-compatible way by:

1. Introducing the new `URLPathParam` function
2. Changing `URLParam` to call `URLPathParam`
3. Marking the `URLParam` function as deprecated, in favor of `URLPathParam`

This makes it easier for people to upgrade, since they can do so gradually and do not have to fix a breaking change on up

[2022-02-06 21:35] pkieltyka commented on #703
Url params and query params are different things. The method name isn’t going to change.

[2022-02-06 21:35] #703 closed

[2022-02-06 21:36] pkieltyka commented on #697
It’s just helpful to see some body instead of empty body as might have some other error through the request flow

[2022-02-06 21:36] #697 closed

[2022-02-06 21:37] pkieltyka commented on #704
This isn’t chi related, closing

[2022-02-06 21:37] #704 closed

[2022-02-06 21:37] pkieltyka commented on #702
Thanks. This is a bug @Shubhaankar-Sharma

[2022-02-07 08:01] Shubhaankar-Sharma commented on #702
Thanks for reporting the issue

@pkieltyka I think there is a pr for this here, https://github.com/go-chi/docs/pull/7/files

[2022-02-08 00:08] obtusedev commented on #702
Thanks for the fix. Closing now.

[2022-02-08 00:08] #702 closed

[2022-02-15 12:46] phxgbl opened #706 "File serving from a different url wont work when serving from sub router"
[Official](https://github.com/go-chi/chi/tree/master/_examples/fileserver) example works fine with all paths and URLs. but when the same is moved to sub router, it will show
![Screenshot from 2022-02-15 18-15-41](https://user-images.githubusercontent.com/37118923/154064819-a95d4a07-7a59-44b7-b8fd-8513025eb24d.png)
 file not found
[code]

})

[2022-02-15 13:01] pkieltyka commented on #706
hi, this isn't a chi bug, sorry cannot offer support for this one

[2022-02-15 13:01] #706 closed

[2022-02-17 14:27] ventsislav-georgiev opened #707 "Unused extra param of the logger middleware"
Since it is part of the LogEntry interface shouldn't it be written to the logger buffer as the rest of the params?
See:
https://github.com/go-chi/chi/blob/c97bc988430d623a14f50b7019fb40529036a35a/middleware/logger.go#L72
https://github.com/go-chi/chi/blob/c97bc988430d623a14f50b7019fb40529036a35a/middleware/logger.go#L136

[2022-02-17 16:42] oliverpool commented on #355
Would it be acceptable to add such a middleware to this repo, to make it easily available? (but not included by default)

[code]

[2022-02-21 00:36] jawnsy opened #708 "Add more sophisticated realip middleware"
Thanks so much for this excellent library! I would like to propose the addition of a more sophisticated realip middleware, perhaps as a separate project, similar to [`httprate`](https://github.com/go-chi/httprate).

I'd be happy to open a pull request or contribute a repository, but wanted to check with you first. Thanks in advance for your consideration!

## Current behavior

The [included `reali

[2022-02-25 00:59] JRaspass opened #709 "RFC Add r.Redirect(pattern, url, code)"
Happy to do the code but wanted to see if there was any buy in first.

We could add:
[code]
As syntax sugar for
[code]
Or we could go one step further and make the feature worth it by allowing URL params to match across:
[code]
As syntax sugar for
[code]
What do people think?

[2022-02-25 01:26] mfridman commented on #709
If it's just syntax sugar I don't think it adds much value, but I like the second example where the params matched across.

[2022-02-28 14:55] Goldziher commented on #492
lol, this is bad design

[2022-03-03 11:09] ggicci commented on #186
If your request had many parameters, you may consider using a package like [ggicci/httpin](https://github.com/ggicci/httpin) to handle them. *httpin* is well integrated with chi,  see https://ggicci.github.io/httpin/integrations/gochi.

[2022-03-03 11:15] ggicci commented on #257
Looks like what #320 asked for. Please take a look at [ggicci/httpin](https://github.com/ggicci/httpin). Which provides functionablities of processing query parameters from path, querystring, header, etc. And it is well integrated with chi, see https://ggicci.github.io/httpin/integrations/gochi for more details. 😄

[2022-03-04 13:47] aksdb commented on #642
We also just ran into this problem and I am a little shocked that this is "known" for so long and not tackled yet, even though there is a proposal (or even multiple ones) for a fix.

Thanks a lot for the workaround!

[2022-03-04 16:02] aksdb commented on #642
@pkieltyka Thanks for the feedback and sorry for my slightly harsh words. Keep up the good work!

[2022-03-04 18:40] adam-p opened #711 "Problems with use of X-Forwarded-For and other headers to get the "real" client IP"
go-chi/chi/middleware/RealIP and go-chi/httprate suffer from problems getting the "real" client IP. I'll try to break it down into categories.

RealIP isn't necessarily "security-related", but it depends on how the dev uses it. I would argue that rate limiting -- and so httprate -- _is_ security-related.

For a full explanation of the problems mentioned here, please see [my blog post](https://adam

[2022-03-04 18:46] mfridman commented on #711
There was a similar proposal opened in #708 to implement a more advanced middleware, maybe worth taking a look at that proposal and jotting down your thought?

[2022-03-13 18:01] jawnsy commented on #708
@mfridman Thanks for linking the related issue; it has a lot of useful background and references. Most of the above proposal implicitly assumes that we control and can configure every trusted proxy in the chain to perform sanitization, so that we can blindly trust a given origin address, but #711 makes the observation that that might not always be possible.

@adam-p Thanks for your excellent and c

[2022-03-14 21:36] adam-p commented on #708
First, never use the leftmost-ish value for rate-limiting. But you're generally right -- my anti-private-IP-ism was also pointed out in a Reddit comment, so I added a footnote [\#4](https://adam-p.ca/blog/2022/03/x-forwarded-for/#fn:4) saying something like, "if you're expecting internal IPs, never mind that bit". I guess I could elevate that.

For a rightmost-ish algorithm, this doesn't matter. B

[2022-03-17 09:46] curio77 opened #712 "Ambiguities re middlewares after routes"
In the following example,

[code]

Why does the line marked `// XXX` raise `panic: chi: all middlewares must be defined before routes on a mux`? (Please ignore the pointlessness of the specific middlewares in this scenario, just adding any for testing purposes.)

Routes have been defined in sub-muxes via `Router.Group()`, but this apparently still prevents the later application of middlewares at t

[2022-03-17 10:01] mx-psi opened #713 "v4.0.0-rc1 tag is missing"
The `v4.0.0-rc1` tag is available on the [`pkg.go.dev` docs domain]( https://pkg.go.dev/github.com/go-chi/chi/v4@v4.0.0-rc1) and the official Go proxy (download [here](https://proxy.golang.org/github.com/go-chi/chi/v4/@v/v4.0.0-rc1.zip), sumdb entry [here](https://sum.golang.org/lookup/github.com/go-chi/chi/v4@v4.0.0-rc1)), but it looks like the tag has been removed from this repository.

This bre

[2022-03-17 10:13] curio77 commented on #712
I need to add, about `Router.Group()` providing the sub-router with a “fresh” middleware stack… That's not the case at all!

[code]

Run this, query `/foo`, and you'll see `dummyMiddleware!` printed, despite the route definition inside `Router.Group()` supposedly having been served a “fresh” middlware stack *and* the `fmt.Println()` call in there printing `Middlewares of sub-router inside Router.G

[2022-03-17 16:05] VojtechVitek commented on #713
This was a release candidate, not a stable release. It's likely we removed the tag for reason and not by mistake.

Please refer to [v4.0.0](https://github.com/go-chi/chi/releases/tag/v4.0.0) instead.

[2022-03-17 16:14] mx-psi commented on #713
The problem is the version still exists on [the official Go proxy](https://proxy.golang.org) so most Go users will not notice that and keep on using this version.

The only version that exists for Go is `v4.0.0-rc1`:

[code]

`v4.0.0` only exists as an [`incompatible` version](https://go.dev/ref/mod#incompatible-versions) of `github.com/go-chi/chi`, so it is not an option if the module people are

[2022-03-17 21:25] pkieltyka commented on #713
yes, official go.mod support was released from /v5

/v4 was never a thing. Is there a particular reason to add v4.0.0-rc1 now..? I feel it will be mistaken for users to use /v4. I'd need to look closer at this, and unfortunately I don't have the bandwidth right now -- just checking if this is urgent and why?

[2022-03-17 21:27] pkieltyka commented on #712
this is all intentionally yes. nothing we can do about it. sorry for the confusion, but this is how it is. the .Group() is a helper for inline-middleware handlers. Feel free to read the code to see find the answers why the design is constrained this way.

[2022-03-17 21:27] #712 closed

[2022-03-17 22:48] Aneurysm9 commented on #713
We have multiple developers running into problems caused by this missing tag and the inability to use the Go proxy.  As @mx-psi mentioned:

I'd love it if our intermediate dependency didn't have that transitive dependency, but that's not in my control.  I also can't `exclude` this version and hope to get a correct version since `v5` is a distinct module.

[2022-03-17 23:38] pkieltyka commented on #713
I’m not even sure how to properly solve this? I can tag 4.0.0-rc1 but maybe I should release a 4.x.x release off the last v4 incompatible release with go.mod support for /v4. The go.mod stuff is such a mess the behaviour is difficult to predict

[2022-03-18 11:19] VojtechVitek commented on #712
`router.Group()` doesn't provide a sub-router with a “fresh” middleware stack

it provides with a copy of parent middleware stack, on top of which you can apply middleware specific to the group only

@pkieltyka perhaps the godoc might be misleading?
[code]

[2022-03-18 11:21] curio77 commented on #712
Yep, as I said, that at least could do with some clarification.

[2022-03-18 11:32] VojtechVitek commented on #712
@curio77 would you be able to improve the godoc for the `Group()` method and submit a PR, please?

[2022-03-18 11:36] pkieltyka commented on #713
Btw, for dd-trace and open-telemetry, please upgrade to chi /v5. There should be no reason a project is using /v4 or an old version, if they are, or any child dependency is using it, they should upgrade as its backwards compatible.

[2022-03-18 12:02] mx-psi commented on #713
Tagging `v4.0.0-rc1` again on the same commit would solve the problem. Tagging a new version on `v4` would provide a workaround, but it means that every package with `v4.0.0-rc1` on its dependency tree would need to bump the version on their `go.mod`.

On dd-trace the usage is to provide a middleware (see https://github.com/DataDog/dd-trace-go/blob/v1/contrib/go-chi/chi.v4/chi.go ) for other users

[2022-03-18 12:11] curio77 commented on #712
Yep, will do…

[2022-03-18 13:36] curio77 commented on #712
I'd like to add that it feels kinda weird to document such intrinsics/caveats on an interface method.  Don't know whether it's actually just intrinsics of the implementation in `chi.Mux`, but if that's the foremost manifestation of the interface users will deal with…

[2022-03-20 00:24] darkweak opened #715 "feat: HTTP cache implementation as middleware."
An HTTP cache system would be great in chi to avoid the execution of unchanged response.

I can implement [Souin](https://github.com/darkweak/souin) as the HTTP cache middleware. With that it will support the CDN validation/invalidation too, set default cache-control header, store in a distributed system using olric or in memory with badger.

It's already available as Træfik/Tyk plugin, skipper/gi

[2022-03-20 00:47] pkieltyka commented on #715
Sounds great :) do it up. One caveat: please do not introduce any new pkg deps

[2022-03-20 01:06] darkweak commented on #715
I won't add a new pkg dep because it will be a third party middleware and we could refer it in the documentation. The users could add the HTTP cache support with the `github.com/darkweak/souin/plugins/chi` dep. With that people they don't want a cache system support wont be affected. That's simpler than recode everything in chi IMHO. WDYT about that?

[2022-03-21 15:46] darkweak commented on #715
Can you check the Chi support @pkieltyka ? If it looks good to you I could add this inside the go-chi documentation. At least it can offer the HTTP caching feature as a 3rd part middleware.

Open to discuss about that. ✌️

[2022-03-21 16:07] matej-g opened #716 "Mux methods `Routes` and `Mount` are not safe for concurrent use"
Hello :wave:,

I'm reporting from the [Observatorium project](https://github.com/observatorium), where we've been using Chi to much satisfaction! Thanks for all your hard work. We are currently running chi version `4.1.2`, but it looks like this problem could exists also in later and current version.

In our service, we are leveraging the `Routes()` method on mux to list existing API routes on our

[2022-03-24 12:07] adam-p commented on #708
I wrote a library to help with extracting the "real" client IP from a request. I intended that it be useful in cases like this, so please let me know if it's suitable (and if it's not we'll figure out how to make it better).
https://github.com/realclientip/realclientip-go

[2022-03-24 12:08] adam-p commented on #711
I put this in #708 but I'm going to repeat it here because this issue is also about httprate...

I wrote a library to help with extracting the "real" client IP from a request. I intended that it be useful in cases like this, so please let me know if it's suitable (and if it's not we'll figure out how to make it better).
https://github.com/realclientip/realclientip-go

[2022-03-24 12:59] pkieltyka commented on #715
gotcha, I think for now I'll skip this, but thanks for bringing it to my attention. In the future I'll likely do a deeper dive here

[2022-03-24 12:59] #715 closed

[2022-03-24 13:02] pkieltyka commented on #716
Routes() is concurrent-safe so long as you read from it after the router has been created.

[2022-03-24 13:02] #716 closed

[2022-03-25 16:00] matej-g commented on #716
The tests I mentioned are E2E tests where we're running the actual service and we hit a panic on a test run.

We weren't aware that this is a potential issue, since we have a piece of logic that, at the beginning, starts mounting paths, based on some conditions. So sometimes the paths might get mounted e.g. 1-2 second after the mux is created and the service is started. At that point we're already

[2022-04-06 18:52] deshetti commented on #91
Use it extensively at https://factlylabs.com/

[2022-04-10 18:48] tcprbs opened #719 "Matching empty character in regex"
Hey there,

In https://github.com/go-chi/chi/pull/224, a check was added to short-circuit and return no matching route if the param value is empty.

I am trying the following regex in the router configuration to optionally match a route with an extension:

`/v1/resource/done{:(^$|.json)}` to match either /v1/resource/done.json or /v1/resource/done

Since the short-circuit kicks in because of the e

[2022-04-13 08:03] lzap opened #721 "Advertised CLOC is not right"
Hey,

just curious if CLOC should have been updated. According to my measurements its now 2k just the core library and 4.6k with middleware:

[code]

Still really good guys, great work! :-)

[2022-04-13 08:10] lzap commented on #721
Damn I counted tests too, its 1100 LOC! Okay.

[2022-04-13 08:10] #721 closed

[2022-04-14 16:03] lceconi commented on #325
I couldn't make this work 😅  Can somebody post the answer? I want my route to work both with slash and without it, calling the same handler:
[code]

[2022-04-15 20:52] dreverri commented on #683
Sorry for posting on a closed issue but I ran into this issue and wanted to post it for anyone who might run into it in the future.

I encountered this error when using `github.com/go-chi/chi` instead of `github.com/go-chi/chi/v5` to access the route context in a middleware (`chi.RouteContext(r.Context())`).

Regarding the original issue, it looks like you were using the middleware for an old vers

[2022-04-18 08:31] pkieltyka commented on #707
extra is pretty optional but used for extending the logger for other implementations against the interface. You can pass nil if you dont need it

[2022-04-18 08:31] #707 closed

[2022-04-18 08:32] pkieltyka commented on #709
chi is intended to be kept pretty minimal. thank you for the suggestion but will pass at this time

[2022-04-18 08:32] #709 closed

[2022-04-19 15:12] diegobernardes commented on #713
You can also use the Go modules exclude to prevent others from using this revision: https://go.dev/ref/mod#go-mod-file-exclude

[2022-05-03 15:58] jolheiser opened #724 "Support NO_COLOR"
Would you be open to a simple `os.LookupEnv` for `middleware.Logger` default that supports [NO_COLOR](https://no-color.org/)?
I'd be happy to send in a PR if so.

[2022-05-04 03:06] TheRebelOfBabylon commented on #393
I'm having the same issue with native "net/http" package. Was this resolved for you @milesje ?

[2022-05-07 05:22] js-everts commented on #719
Hi

This does seem like a bug to me. I did hovever find that using `/v1/resource/{:done(|.json)}` as the route pattern works as expected. However I think the `URLFormat` middleware is ideal for this particular use case.

See: https://github.com/go-chi/chi/blob/master/middleware/url_format.go

[2022-05-07 10:51] simonepelosi commented on #696
Hey @pkieltyka pretty cool project! I'm interested!

[2022-05-13 10:11] pkieltyka commented on #724
I think that makes sense as well, feel free to submit PR

[2022-05-15 10:32] Sid-Sun opened #727 "chi.RouteContext retuns nil"
trying to use RouteConext to get route as shown [here](https://pkg.go.dev/github.com/go-chi/chi#Context.RoutePattern):

[code]

[code]

the request results in a panic:
`runtime error: invalid memory address or nil pointer dereference`

[code]

which is:
`		routePattern := chi.RouteContext(r.Context()).RoutePattern()`

[2022-05-21 12:34] jordy1024 commented on #262
What does StripSlashes mean? Does removing it have any other effect? @luweimy

[2022-05-21 14:15] jordy1024 commented on #262
Is there a better solution for this issue?  @pkieltyka

[2022-05-25 08:16] ko2start opened #729 "http router vs. chi router strange thing between using local CSS file link and CDN link in template file."
version: github.com/go-chi/chi/v5
go version: 1.18

Issue: Unable to load local CSS file involved in template file properly, it shows 404 error. and if I change to a CDN link in template file, it can works well, code as below:
  code in template file:  `<link href="/static/css/bootstrap.min.css" rel="stylesheet">`
when I use chi router as below, page will show 404 error caused by css file:
   ` mu

[2022-05-25 11:33] IceflowRE commented on #186
Its quite a bad naming to be honest.
`chi.URLParam` returns the parameters from the url path, **not** from the query.
If you have `/foo/{id}` you can get the value of `id` with that function. For query parameters use `r.URL.Query().Get`.
According to the documentation

[2022-05-25 15:16] ko2start commented on #729
thanks a lot.

[2022-05-25 15:16] #729 closed

[2022-05-28 11:03] SirMetathyst opened #730 "brotli compression"
I've seen that https://github.com/go-chi/chi/pull/326 has merged brotli compression in but I can't seem to find it, seems to be removed? Why was that the case? Any chance at revisiting the decision to bring brotli compression to the compress middleware?

[2022-05-28 12:08] js-everts commented on #730
You can hook up any compression algorithm you like using the `SetEncoder` method. See https://pkg.go.dev/github.com/go-chi/chi/middleware#Compressor.SetEncoder

[2022-05-28 15:28] #730 closed

[2022-05-31 05:30] kevinduffey opened #731 "Which version?"
For whatever reason, when I use Chi, I seem to get version 1.5.4. Yet.. I see there is a 5.0.7. Why is it go build pulls in 1.5.4 and not 5.0.7? I recall there was some issue around the 5.0 release and Chi went back to 1.x I think.. but unclear.

Also.. just asking.. is Chi still being developed.. or is it basically done?  Curious with Go 1.18 if something like using generics similar to a few upda

[2022-05-31 09:36] VojtechVitek commented on #731
`import "github.com/go-chi/chi/v5"`

`go get -u github.com/go-chi/chi/v5`

[2022-05-31 11:41] pkieltyka commented on #731
hi @kevinduffey see @VojtechVitek 's answer on how to import the v5 version. And yes chi is supported and maintained :) I don't see any direct benefit for chi in using 1.18's generics, but if someone sees an optimization please let us know.

[2022-06-02 08:45] MarkoGalic1998 opened #732 "Regex not working properly when variable requires to have /"
The variable that I need to capture in the handler has an undefined number of slashes and I wanna make that happen with regex. Regular Go regex package returns true but if I use the same regex with chi it does not work
For reference said regex is : (([a-z/]+)+):[0-9.]+$

[2022-06-29 15:54] fdelbos opened #736 "Possible bug with middleware and url variable"
Hi,

if i set a url var like: `/{something}`, i cannot read it from a middlware mounted with `r.Use(MyMiddleware())` (but still visible with `r.With(MyMiddleware())...`

Is it normal ?

Thank you for the help (and the nice framework 🙇 )

bellow is an example that fails:
[code]

[2022-07-07 02:09] pkieltyka commented on #736
good question, and yes this is normal. the reason is the `Use` middleware executes before the route/endpoint, so the parameter isn't parsed at that time. The `With` statement is executed at same at as the endpoint, so param is available.

[2022-07-07 02:09] #736 closed

[2022-07-07 02:09] #732 closed

[2022-07-07 02:14] pkieltyka commented on #727
make sure to use the /v5 import in both places. seems the top area is using the wrong version..

SIV (semantic import versioning) bites again...

---

separately take a look at https://github.com/goware/telemetry for nice telemetry with prometheus

[2022-07-07 02:14] #727 closed

[2022-07-07 02:15] pkieltyka commented on #724
going to close this, as prefer to keep environment variables out of it. I recommend you just make your own middleware logger pkg

[2022-07-07 02:15] #724 closed

[2022-07-07 17:14] dmtzs opened #737 "Example not working"
I install chi and use the example you have but doesnt work, it still telling me an error:

[code]

an the error is:
[code]

[2022-07-07 17:40] pkieltyka commented on #737
this isn't a chi specific issue, sorry can't help. try to ask in a Gopher slack channel

[2022-07-09 15:31] 0uep opened #738 "Chi does not handle "GET /" when configured with `Post("/")` + `NotFound()`"
When I configure my routes as the following:

[code]

the GET request on "/" does not trigger the `notFound()` function.

I would expect the `notFound()` function must be called for any request except "POST /".

## Test it

Please see a real example:
https://github.com/teal-finance/garcon/tree/v0.19.0/examples/post-notfound

Please run it as the following and open http://localhost:22000

    go ru

[2022-07-09 18:06] js-everts commented on #738
This is correct behavior. If you want to treat routes with undefined methods as not found, then you need to add `handler.MethodNotAllowed(notFound)`.

See https://pkg.go.dev/github.com/go-chi/chi/v5#Mux.MethodNotAllowed

[2022-07-09 19:22] 0uep commented on #738
## Thank you very much @js-everts :+1:
I have updated/renamed the example: https://github.com/teal-finance/garcon/blob/main/examples/chi

[2022-07-09 19:22] #738 closed

[2022-07-15 09:57] silverwind commented on #642
Another test case:

`a b` path param is decoded as `a b` (ok)
`a & b` path param is decoded as `a%20%26%20b` (fail)

I'll use `PathUnescape` to manually decode path parameters and I suggest chi to do the same.

[2022-07-26 15:16] aep opened #741 "wildcard '*' must be the last value in a route"
according to https://pkg.go.dev/github.com/go-chi/chi

[code]

however, that's not actually allowed.
**so presumably the docs are wrong?**

unfortunately i need to match

   -  /page/foo/bar/baz/json
   -  /page/derp/json

as different routes.

[2022-07-31 00:12] lrstanley commented on #711
I wasn't aware of this issue directly, but I did reach out to @pkieltyka a few days ago around this topic specifically in relation to httprate, about always reading real-ip related headers in some of the default methods as not secure due to how easy it is to bypass rate limiting. He implemented a fix in https://github.com/go-chi/httprate/pull/17 -- simply by moving the logic into separate methods

[2022-07-31 00:47] lrstanley commented on #262
This is one solution @jordy1024, not sure if it works for all usecases, but it uses `middleware.Maybe` to toggle `StripSlashes` if the endpoint has a `/debug/` prefix. Could also initialize a new middleware stack, however that isn't great for my usecase, where I don't want to re-register a bunch of middleware again for the debug endpoint specifically.

[code]

[2022-07-31 00:52] lrstanley commented on #189
For anyone else looking, there is an additional solution using `middleware.Maybe`, that could allow you to toggle middleware functionality based off path matching or similar. Mentioned it in another issue linked below, specifically for a debug/profiler endpoint, but would work similarly here:

https://github.com/go-chi/chi/issues/262#issuecomment-1200322044

Similarly, you could utilize another ap

[2022-07-31 00:54] lrstanley commented on #142
Another solution to this problem is mentioned in the below linked issue, that doesn't require a new stack of middleware to be created:

https://github.com/go-chi/chi/issues/262#issuecomment-1200322044

[2022-08-02 10:33] silverwind commented on #570
I also noticed that chi seems to incorrectly decode `/` in parameter names (e.g. `foo%2Fbar`) as actual slashes and tries incorrectly route them, generally leading to a `No route found` error.

[2022-08-03 11:23] LeanderGangso opened #742 "CORS not working if only middleware is used."
CORS does not work unless at least one endpoint is created.
If I only use a middleware, the CORS will not work on any of the middleware routes.

Example:
[code]

Don't know if this is a bug or intended, just wanted to let you guys know.

[2022-08-04 15:26] Kidsan commented on #742
Looks like it is by design to me. `r.Use` is simply appending the middleware fn to a slice of middlewares. When you call `r.Get`, it calls `mx.handle` internally which applies middlewares according to their position in that slice.

[2022-08-04 17:36] pkieltyka commented on #742
Yes you need at leave one endpoint defined

[2022-08-04 17:36] #742 closed

[2022-08-22 15:17] iliesh opened #744 "chi v5 panic"
So far I've used "github.com/go-chi/chi v1.5.4" in one of my projects and it was working perfectly until I decided to use the opentelemetry library which seems to be working with chi v5 only. I upgraded the library to v5 "github.com/go-chi/chi/v5 v5.0.7" and on each HTTP request the application is crashing, see below the stacktrace:

[code]
downgrading back to v1 it's working perfectly. Any though

[2022-08-22 15:58] pkieltyka commented on #744
The error looks related to one of the middle area. Tollbooth_chi ?

[2022-08-22 15:59] #744 closed

[2022-08-22 16:12] iliesh commented on #744
You're right, it was because of one middleware, wasn't Tollbooth but Prometheus metrics. I disabled it and now all HTTP requests seem to be working correctly.

Thanks.

[2022-08-23 18:01] kateile commented on #574
@maheshkumar2150 did you solve it?

I have the same problem and I have reporoduce it [here](https://github.com/kateile/flutter-web-with-golang-server)
@pkieltyka can you have a look?

[2022-08-29 07:26] kateile opened #745 "Trouble with MIME type when serving SPA files"
Hi devs. I am trying to serve static files using this router but MIME types seems not work. In browser console I see the following logs

When I try serving with nodejs with the help of [serve](https://www.npmjs.com/package/serve) the frontend works without problem. I believe problem lies in setting MIME type which I don't know how.

here is my code

[code]

And here is the complete [repository ](h

[2022-08-29 09:30] lukasmalkmus opened #746 "ContentCharset middleware should be skipped if ContentLength == 0"
I could be wrong about this but I feel like the `ContentCharset` middleware should skip processing if the `ContentLength == 0`, just like the `AllowContentType` and `AllowContentEncoding` middleware. I also feel like it for consistency it should be `AllowContentCharset`? Some of the functions names in the `content_charset.go` file are confusing as well as they are named `contentEncoding`, etc.

I

[2022-08-30 22:02] gfxlabs commented on #91
we've been using v5 in many of our projects.

publicly, it currently is hosting some more complicated routes/applications at https://analytics.gfx.xyz (https://gfx.cafe/ip/go) and https://etherlands.com, along with a myriad of static sites, ala https://interestprotocol.io. It's been a great experience!

the middleware pattern is easy to teach and incredibly powerful - incredibly grateful for the w

[2022-09-01 09:37] kateile commented on #745
Its not chi's fault. I solved with the help of this answer [here](https://github.com/golang/go/issues/32350#issuecomment-1128475902)

Thanks for the amazing router chi team

[2022-09-01 09:37] #745 closed

[2022-09-07 18:47] RadhikaHBhatt commented on #446
I am interested in this too. Currently, Is there another method that returns `405` along with `allow` headers?

[2022-09-08 20:23] jdelk opened #747 "How to perform URL rewriting?"
Hi,

I've been using go-chi for a while and it's been working well, but my use case has changed a bit and I'm having trouble figuring out how to get this to work with what I need.

I'm trying to use the same instance of go-chi running to serve multiple types of websites which can have similar paths where all of my customers have their own domains.

So if a request comes in for `https://example.com

[2022-09-08 20:53] jdelk commented on #747
This works for me:

[code]

[2022-09-08 20:53] #747 closed

[2022-09-14 01:01] HarryChopra opened #748 "405 Method Not Allowed, while redirecting to another page"
Hello,

This is a strange problem and appreciate your help with this.

I have a route:
[code]
Calling a handler:
[code]
Expected to return:
[code]
But instead I get: (**The Problem**)
[code]

**Steps I have taken to investigate:**

1. Modified the handler to:
[code]

   To return:
[code]

2. I changed the router to net/http servemux (with the original handler) and I get the expected response.

Wha

[2022-09-14 08:57] js-everts commented on #748
I assume you already have a route defined for `GET /article/view`.

Anyway, `curl` will always use the request method specified with the `-X` flag for all requests, even when following 303 redirects. You can remove the `-X POST` and try to invoke curl with `-d "some data"`. Also use the `-v` flag to make sure curl is changing the request method when following the 303 redirect.

[code]

[2022-09-14 09:21] HarryChopra commented on #748
Gosh, I didn't know that. I also added a logger to confirm this:

[code]

Thank you for your help!

[2022-09-14 09:21] #748 closed

[2022-09-17 09:53] BLumia commented on #609
Having the same issue with subroutes:

[code]

With this example, `http://localhost:3333//` will also match the route even if `+` is used in the regex which requires at least one character in the parameter.

[2022-09-19 08:31] joh-ku commented on #611
Is there another way of using [embed](https://pkg.go.dev/embed) with `chi` than diverting [NotFound](https://github.com/go-chi/chi/blob/master/mux.go#L191) as demonstrated [here](https://github.com/shibukawa/spa-go-1.16/blob/master/main.go#L32)?

With `net/http` [ServerMux](https://pkg.go.dev/net/http#ServeMux) I can do something like this:
[code]

This is not possible with `chi` by simply replaci

[2022-09-19 14:16] ivanduka commented on #611
It works, but the standard library mux has its quirks that  you are not aware of,  namely it will treat `/` path as **everything that starts with `/`**. With chi you need to be explicit and use `/*` to achieve the same:

[code]

[2022-09-20 07:04] pedrospdc opened #749 "Go-Chi panics consistently at around the 8k requests mark"
I'm writing a new service with Go-Chi that is simply running a query in Mongo and returning it as JSON. When load-testing it, everything is ok until I hit the 8k requests mark. I tried with either "10" concurrency on AB or 100 (`ab -n 10000 -c 100 http://localhost:3333/`), the result is the same.  Do note that with the Logger middleware shows a decrease in latency (you can see it going down from 1

[2022-09-20 14:00] pkieltyka commented on #749
I tried to reproduce the problem but couldn't...

can you try with https://github.com/go-chi/chi/blob/master/_examples/hello-world/main.go

I performed an ab with 20k requests and 1k concurrency, and bunch of different options, no issues.

--

however, when reading your code, doing a nats.Connect for reach request is likely the problem and potentially consuming all your resources and putting the p

[2022-09-20 14:00] #749 closed

[2022-09-20 14:04] pedrospdc commented on #749
You're very correct, thanks and sorry for the stupid bug submission

[2022-09-20 14:58] pkieltyka commented on #749
np at all, good luck with your project

[2022-09-23 04:22] ebabani opened #750 "chi.Walk missing middlewares"
Hi,

I was trying to use chi.Walk to get a report of all routes and the middlewares used by every route. I noticed that some of the middlewares were missing from some of the nested routes when using groups.

Example routes:

[code]

In the example above, I expected the `C/D` route to have both RequestId and Timeout middlewares. but chi.Walk only shows RequestID.

It's possible I'm missing somethin

[2022-09-23 08:50] VojtechVitek commented on #750
I guess the issue is that `r.Route()` creates a new sub-router (unlike `r.Group()` or `r.Handle()`) and `Walk()` doesn't reach out to its middleware stack.

https://github.com/go-chi/chi/blob/v0.9.0/mux.go#L169

[2022-09-23 13:21] ebabani commented on #750
It does seem related to the `Group` to me. I updated the example with some nested routes, and for those it shows the correct middleware chain.

https://go.dev/play/p/fia_kU8Lzqs

[2022-09-26 09:01] jez321 opened #752 "Run mux tests in parallel"
Looking over some of the tests, for example https://github.com/go-chi/chi/blob/master/mux_test.go it seems that since new routers are created for each test they should be able to run in parallel? (apologies if I'm wrong).

The change would just be to add t.Parallel() to the start of each tests.

Additional I noticed theres a range of variable names for for example the value returned from NewRouter

[2022-09-26 20:41] atombender commented on #587
Still seeing this with 5.0.2. Basic code:

[code]

When the `NotFound` handler is invoked, the `someMiddleware` middleware is invoked twice.

Notice the use of `With()` here. Does not happen if I move the `With()` into the nested router.

[2022-09-30 14:49] bshrram opened #754 "Mongo and chi contexts"
Hello,
I want to ask, is it safe to pass the chi Context to mongo operators?
or it's better to initiate a new context for mongo?

Thanks

[2022-09-30 15:27] pkieltyka commented on #754
yes its safe.. however, keep in mind its a context is a http request context, so if a client disconnects, this context will be cancelled. In many cases, that is actually what you want, but sometimes it may not be.

[2022-09-30 15:27] #754 closed

[2022-09-30 23:54] #696 closed

[2022-10-02 02:30] samhza opened #755 "Unexpected behavior with Route and middleware.GetHead"
[code]
Expected:
[code]
Got:
[code]

[2022-10-05 10:36] gbarnovi commented on #755
Hello @samhza,

So if you want to use **middleware.GetHead** middleware on inside Route function, you have to assign it inside.
[code]

[2022-10-05 13:37] sujit-baniya opened #756 "[QUESTION] - Why Form doesn't work after ParseForm?"
I'm using following code for Form Post request but it doesn't seem to work after `ParseForm`

[code]
Screenshot:

![image](https://user-images.githubusercontent.com/4959215/194074104-ec7ee875-0caf-4ef7-84bc-d2fedc96d749.png)

[2022-10-05 13:52] gbarnovi commented on #756
Hello @sujit-baniya

https://pkg.go.dev/net/http#Request.ParseForm

In your case, you are sending multipart/form-data so request should be parsed with **ParseMultipartForm**
https://pkg.go.dev/net/http#Request.ParseMultipartForm

[2022-10-05 13:58] #756 closed

[2022-10-18 02:44] #755 closed

[2022-10-19 02:42] jez321 commented on #752
No problem, thanks for the response!

[2022-10-27 06:50] aniaan commented on #741
/page/{other}/index

[2022-10-27 07:59] tdi commented on #91
Hetki.ai uses chi too.

[2022-10-27 11:54] pkieltyka commented on #741
thanks, I can see why thats confusing. I've updated it in the comment

[2022-10-27 11:54] #741 closed

[2022-10-27 11:58] pkieltyka commented on #750
Group() is used for inlining middleware, where as Rotue() mount a subrouter -- it's a subtle difference, but there is one. The middlewares however will be there along the C/D route.

If I recall -- the inline middleware stack is computed and reduced in memory, and we don't keep around in memory the middleware stack, which is why we can't walk it. We could definitely add it, it just means a bit mor

[2022-10-31 07:22] omarkohl commented on #403
I solved it by replacing
[code]
with
[code]

To be precise, my code is a little different, but I _assume_ the example code in the original report would work by making that change.

My code:

[code]

[2022-10-31 22:14] Nyoroon opened #758 "Regex param doesn't match dots"
Example program:
[code]

Expected:
[code]

Got:
[code]

[2022-11-01 09:27] davidspiess commented on #611
@ivanduka how do you redirect to `index.html` to implement client side routing?

[2022-11-01 19:44] ivanduka commented on #611
I assume that you are trying to serve your single-page application.

I declare all my API endpoints and the last thing in my list of routes is a call to NotFound:

[code]

All my static assets are preloaded to a map with content type, etag, etc. precalculated:

[code]

Then I serve it like this:

[code]

Basically, the idea is to serve a file if it exists, and if not - serve index.html

[2022-11-03 18:48] bentcoder opened #759 "Printing name of a middleware in Walk function"
Hi,

Is there a way of printing the name of the middleware?

Thanks

Assume I used `r.Use(middleware.UsersCreate)` and the Walk would print `middleware.UsersCreate`.

[code]

[2022-11-03 19:04] VojtechVitek commented on #759
`info := chi.GetFuncInfo(mw)`

[2022-11-03 19:22] bentcoder commented on #759
Thank you @VojtechVitek but in the meanwhile I worked it out without importing a new package into dependency.

[code]

[2022-11-03 19:22] #759 closed

[2022-11-08 09:23] gucki commented on #642
@pkieltyka Why not simply introduce an additional method `URLParamDecoded` which uses the proposed workaround?

[2022-11-11 13:16] j1cs commented on #663
this happens to me too. there's any advice to avoid this?

[2022-11-11 15:23] VojtechVitek commented on #663
technically, we could check for pointer equality in the `Mount()` method and `panic()`

thoughts?

[2022-11-11 19:17] pkieltyka commented on #663
I don’t think we should do anything.. you can write an infinite loop in Go easily too

[2022-11-12 23:44] bronger commented on #641
Please tell me whether I am affected by this.  I have the following route installed:

[code]

Then, the URL `/I:%28x%29` is correctly routed and the result of `chi.URLParam` is `I:(x)`, which is correct. However, if I encode the colon with `%3a`, all breaks down: The request is not routed to `instPage`, and if I make the URL pattern more general to re-enable the routing, `chi.URLParam` returns a t

[2022-11-13 18:51] seal commented on #612
Just had this issue, quite a tricky one to find
Thanks sir :)

[2022-11-13 22:10] dp1140a commented on #695
Is this still alive?  I give this whole thing a big +1 and am looking forward to using it?

[2022-11-13 22:38] pkieltyka commented on #695
@dp1140a see https://github.com/go-chi/telemetry

[2022-11-13 22:39] pkieltyka commented on #695
I'm still up for getting go-chi/otelemetry setup as well

[2022-11-13 23:19] riandyrn commented on #695
I'm glad that you decided to also develop the standard library for open telemetry, @pkieltyka. 🎉

I will close this issue in respect of this new project of yours. 👍🏻

@dp1140a, the [`riandyrn/otelchi`](https://github.com/riandyrn/otelchi) library has improved greatly since I created this issue. I'm very lucky to get tons of help from many great people who interested in opentelemetry and runs `otel

[2022-11-13 23:19] #695 closed

[2022-11-14 13:40] pkieltyka commented on #695
hey @riandyrn the go-chi/telemetry project doesn't use opentelemetry, its a telemetry library built on prometheus directly.

I still think opentelemetry is the better path / route to go assuming (when) opentelemetry library is stable (and maybe that is already now)?

I think supporting both go-chi/telemtry (posted yesterday) and go-chi/otelemetry (your lib) is still a good idea, as both paths coul

[2022-11-15 15:49] j1cs commented on #663
I added a prefix like `/v1`and the loop stopped.

[2022-11-21 19:23] pkieltyka opened #761 "update _examples/logging to use new "slog""
Go 1.20 will ship with new "slog" package. We can use it now via "golang.org/x/exp/slog"

Let's upgrade https://github.com/go-chi/chi/blob/master/_examples/logging/main.go to use it instead

[2022-11-28 08:36] rianby64 commented on #91
mas3.co uses chi in the internal projects. Your project is amazing!